---
import MnpLayoutWiki from "../../../../layouts/MnpLayoutWiki.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutWiki
  metaTitle={makeMetaTitle("Alternative Key Signatures", "Wiki")}
  metaDescription="A chronological list of proposals for alternative key signature systems."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="wiki_page type-wiki_page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">Alternative Key Signatures</h1>
        </header>

        <div class="entry-content">
          <p>
            The following is a chronological list of proposals for alternative
            key signatures. Entries in this list are based on <i
              >Source Book of Proposed Music Notation Reforms</i
            > by Gardner Read (Greenwood Press, 1987).
          </p>
          <p>
            <i
              >As of June 20, 2012, the list includes items through page 203 of
              Read&#8217;s book, which is over 400 pages long. (The systems in
              the book are chronological within chapters, but not across
              chapters.) To come: An introductory overview and a categorization
              of the approaches (e.g., systems that depict the notes
              corresponding to traditional key signatures, systems that indicate
              the tonic and/or modality, systems that depict all the notes in
              the key, systems that depict a tonic triad, etc.)</i
            >
          </p>
          <p>&nbsp;</p>
          <p>
            1810. Charles Guillaume Riebesthal. Key signature is an oversized
            capital letter indicating the key note.
          </p>
          <p>
            1838. Michel Eisenmenger. Piano tablature staff (horizontal). Key
            signatures: three solid noteheads on the notes of the tonic triad
            (whether major or minor), connected by a stem.
          </p>
          <p>
            1844. Arthur Wallbridge. Key signature: a number indicating the
            tonic: 1 (indicating C) through 12 (indicating B). (Read&#8217;s two
            examples imply that the numbers instead go from 0 to 11. This is
            incorrect, as shown by the inventor&#8217;s illustration in Example
            4-17, where the key of Ab has a 9.) Below the number is a semicircle
            distinguishing major from minor: the top half of a circle for major,
            and the bottom half for minor.
          </p>
          <p>
            1846. Joseph Raymondi. Key signature: a note whose notehead is the
            tonic and which has a downward stem with straight flags extending
            downward to the left or upward to the right. The number of flats or
            sharps is indicated by the number of flats on the stem.
            (Read&#8217;s description here is unclear, but my interpretation is
            based on the inventor&#8217;s figure.) Sharps are indicated by
            upward flags to the right; flats by downward to the left.
          </p>
          <p>
            1855. Juan-Nepomuceno Adorno. Melographie. Piano-tablature staff,
            vertical. Idiosyncratic symbols on line or space of tonic,
            indicating modality (maj/min) plus distinguishing between enharmonic
            equivalents (sharp or flat) for the tonic.
          </p>
          <p>
            1870. Gustave Decher. Chromatic staff. Like traditional key
            signatures, except with noteheads instead of sharps or flats. The
            noteheads are all in one column and share a stem.
          </p>
          <p>
            1883. August Wilhelm Ambros. Like Decher&#8217;s key signatures,
            except no stem.
          </p>
          <p>
            1888. Paul Austman. Novel key signature apparently indicated by a
            notehead on the tonic, but Read&#8217;s description is unclear.
          </p>
          <p>
            1893. Levi Orcher. Staff: 2 lines plus 3 lines, but not with the
            piano tablature arrangement. Key signature: one of two symbols,
            apparently centered on the tonic line or space. Sharp keys are
            indicated by a right-pointing triangle; flat keys by a left-pointing
            heart symbol.
          </p>
          <p>
            1896. K. M. Mayerhofers. Key signature indicated textually, e.g.
            &#8220;Eb maj.,&#8221; in between the time signatures of the upper
            and lower staves.
          </p>
          <p>
            1897. Walter H. Thelwall. Chromatic staff. Key signature: a black
            triangle on the line or space corresponding to the tonic of the
            major key. (A minor key uses the key signature of its relative
            major.) The triangle points up if the key traditionally has sharps
            (e.g., A major), down if it traditionally has flats (e.g., Db
            major).
          </p>
          <p>
            1900-1907. K. M. Baessler. 14 different proposed notation systems,
            most of which have unique staves and/or notehead shapes. Proposals
            1-10 have key signatures in the form of a special sort of chord:
            noteheads (of the variety specified by the particular notation
            system) for each of the flats or sharps from the corresponding
            traditional key signature, placed at the position on the staff
            corresponding to that note. The noteheads are all attached to a
            single stem that extends both upwards and downwards (unlike a
            traditional stem, which points either up or down). At the top of the
            stem are two horizontal (but slightly diagonal) parallel lines, and
            a similar pair of lines is also placed at the bottom of the stem.
            Proposals 12 and 13 have each of the noteheads separated on the
            horizontal axis and attached to its own stem, instead of being
            grouped in a chord. Another proposal (Read, p. 53) represents key
            signatures by the letters of the first three notes of the scale (the
            third of which distinguishes major from minor).
          </p>
          <p>
            1930. Otto Studer. Neno. Piano-tablature, horizontal. Key signature:
            noteheads on all seven degrees of the scale. Tonic notehead is full
            size, the other six are miniature. Enharmonics are distinguished by
            slashes attached to the notehead (rising to the left for sharps,
            descending to the left for flats).
          </p>
          <p>
            1931. Cornelis Pot. Klavarskribo. Key signature: a single notehead
            on the tonic, enclosed in a circle for major or a diamond for minor.
          </p>
          <p>
            1947. Ernest-Jean Chatillon, Notation musicale bilineare. Diatonic
            staff. Key signatures: Greek phi on line or space of tonic, preceded
            by a novel flat or sharp sign depending on whether the traditional
            key signature has sharps or flats.
          </p>
          <p>
            1964. M. A. Marcelin. Key signatures like Eisenmenger&#8217;s
            (1838), except that the stem is vertically centered on the
            noteheads, and the noteheads are hollow.
          </p>
          <p>
            1965. Nell Esslinger. Revised Notation. Piano tablature staff
            (horizontal). &#8220;Key signature&#8221; appears to be a single
            symbol: a flat sign for a key containing flats, or a sort of cursive
            S for a key containing sharps.
          </p>
          <p>
            1968. Traugott Rohner. Musica. Key signatures are conventional,
            except that minor keys are distinguished from major by the addition
            of a solid notehead on the tonic, following the conventional key
            signature.
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutWiki>
