---
import MnpLayout from "../../layouts/MnpLayout.astro";
import { makeMetaTitle } from "../../utils/utils";
---

<MnpLayout
  metaTitle={makeMetaTitle("More Notation Systems", "Notation Systems")}
  metaDescription="Additional alternative music notation systems that are not presented elsewhere on the Music Notation Project's site, with links to information about them."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="page type-page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">More Alternative Music Notation Systems</h1>
        </header>

        <div class="entry-content">
          <p>
            <em
              >&#8220;With so many solutions, you know there must be a
              problem.&#8221; — MNMA member Andre Lippens</em
            >
          </p>
          <p>
            Out of the hundreds<a id="ftnref1" href="#ftn1">[1]</a> of alternative
            notation systems that exist, we primarily focus on those that meet our
            particular set of <a href="/systems/criteria/">
              desirable criteria</a
            > (see <a href="/systems/">Guided Tour</a>
            and <a href="/systems/gallery/">Gallery</a>). Below we list a number
            of additional systems that take a different approach, in one way or
            another. We include links to their websites (or other documentation)
            and numbers to indicate which of our criteria each system does not
            meet, to the best of our knowledge. Suggestions for corrections are
            welcome. (This is intended to be a factual analysis, not a judgment
            on whether the system is well designed or meets the inventor&#8217;s
            goals, because those goals might be different from those of the
            Music Notation Project.)
          </p>
          <p>
            Some websites linked below are in languages other than English. Use <a
              href="http://translate.google.com"
              target="_blank"
              rel="noopener">Google Translate</a
            > if needed.
          </p>
          <h3>Contents</h3>
          <ul>
            <li>
              <a href="#twelve"
                >Systems with twelve vertical staff positions per octave
                (chromatic staff)</a
              >
            </li>
            <li>
              <a href="#six"
                >Systems with six vertical staff positions per octave (two
                pitches per position)<br />
              </a>
            </li>
            <li>
              <a href="#four"
                >Systems with four vertical staff positions per octave (three
                pitches per position)</a
              >
            </li>
            <li>
              <a href="#non">Systems with non-standard diatonic staves</a>
            </li>
            <li>
              <a href="#other"
                >Systems with other types of non-standard staves</a
              >
            </li>
            <li><a href="#none">Systems that do not use a staff</a></li>
            <li>
              <a href="#traditional"
                >Systems that use the traditional diatonic staff</a
              >
            </li>
            <li>
              <a href="#websites"
                >Websites of systems presented elsewhere on our site</a
              >
            </li>
            <li>
              <a href="#specialized"
                >More specialized systems that may be of interest</a
              >
            </li>
          </ul>
          <h2 id="twelve" class="divider-heading">
            Systems with twelve vertical staff positions per octave (chromatic
            staff)
          </h2>
          <p>
            <strong>Ambrose Piano Tabs</strong><br />
            by Russell Ambrose<br />
            <a
              href="http://www.ambrosepianotabs.com"
              target="_blank"
              rel="noopener"
            >
              Website</a
            >. See criteria <a href="/systems/criteria/#7">7</a> and <a
              href="/systems/criteria/#8">8</a
            >, and comment about Klavar below. Formerly known as
            &#8220;keyPlay&#8221; at keyPlay.co.uk
          </p>
          <p>
            <strong>Chro-Nat</strong><br />
            by Adam A. Król<br />
            <a href="http://simple-music-notation.eu">Website</a>.  A 12-degree
            chromatic system using 5 shapes (downward triangle, leftward
            triangle, oval, rightward triangle, upward triangle) to distinguish
            octaves. Unlike most notation systems, Chro-Nat places notes that
            have the same pitch class at the same vertical position on a single
            5-line staff, regardless of the notes&#8217; octave registers.  This
            feature greatly reduces the use of space in music with a wide range,
            but it interferes with pitch proportionality. (See criterion <a
              href="/systems/criteria/#8">8</a
            >.) The website also presents two other systems, 3SiT and 2SiT,
            described below, but it indicates that the inventor prefers
            Chro-Nat.
          </p>
          <p>
            <strong>Dodeka Notation</strong><br />
            by Jacques-Daniel Rochat<br />
            <a href="http://www.dodeka.info/" target="_blank" rel="noopener"
              >Website.</a
            > See criteria <a href="/systems/criteria/#1">1</a>, <a
              href="/systems/criteria/#2">2</a
            >, and <a href="/systems/criteria/#17">17</a>.
          </p>
          <p>
            <strong>Drielijn Notation</strong><br />
            by Pierre Hendriks<br />
            <a href="http://www.drielijn.nl/" target="_blank" rel="noopener"
              >Website</a
            > (Netherlands). See criterion <a href="/systems/criteria/#11">11</a
            >.
          </p>
          <p>
            <strong>Hass Notation, 5-Line Version</strong><br />
            by Peter Hass<br />
            <a href="http://chromatic-staff.dk/" target="_blank" rel="noopener"
              >Website</a
            >, (Denmark). <a
              href="/wiki/notation-systems/hass-music-notation-by-peter-hass/"
              >Wiki Page</a
            >. See criteria <a href="/systems/criteria/#9">9</a> and <a
              href="/systems/criteria/#15">15</a
            >.  Hass notation uses a five-line, pitch-proportional chromatic
            staff whose lines are spaced three semitones (a minor third) apart.
            Three notehead shapes are used: an oval on lines, and downward and
            upward triangles in the spaces. This regularly alternating pattern
            of three noteheads corresponds directly to the three rows of a
            chromatic button accordion, which has an isomorphic layout. The
            5-line staff does not cycle at the octave (criterion <a
              href="/systems/criteria/#9">9</a
            >), but Hass later designed a <a
              href="/system/hass-notation-3-line-version/">3-line version</a
            > that meets all the MNP criteria. For more see also the <a
              href="/wiki/notation-systems/hass-music-notation-by-peter-hass/"
              >Hass Notation Wiki Page</a
            >.
          </p>
          <p>
            <strong>Hellenic Music Notation</strong><br />
            by Pablo Bellinghausen<br />
            <a
              href="https://www.academia.edu/10653337/Hellenic_Music_Notation_Another_Way_of_Writing_Music"
              target="_blank"
              rel="noopener">Technical paper</a
            > on academia.edu (2010).  See criteria <a
              href="/systems/criteria/#9">9</a
            > and <a href="/systems/criteria/#15">15</a>.  Hellenic Music
            Notation is so named because of its nomenclature, which assigns the
            Greek letters α (alpha) through μ (mu) to the pitches of the
            chromatic scale from C through B.  Rhythmic notation is traditional.
            The system&#8217;s alternating oval and upward or downward
            triangular notehead shapes make it similar to Tom Reed&#8217;s <a
              href="/system/twinline-notation-by-thomas-reed/">Twinline</a
            >, but there are some important differences. As in traditional
            notation, notehead color depends on duration (open for whole and
            half notes, solid for shorter values), and a 5-line staff is used
            rather than a 2-line staff.  The 5-line staff does not cycle at the
            octave (criterion <a href="/systems/criteria/#9">9</a>), but rather
            at two octaves.  Multiple staves can be placed contiguously
            (criterion <a href="/systems/criteria/#15">15</a>), but each
            represents two octaves, always resulting in an even number (rather
            than an &#8220;arbitrary&#8221; number) of octaves. Traditional
            ledger lines are used beyond the staff, but Bellinghausen recommends
            using &#8220;octave modifiers&#8221; frequently to avoid ledger
            lines when possible.  These modifiers are either Roman numerals
            indicating octave numbers, or the traditional sharp, flat, and
            natural signs, used to indicate octave changes rather than chromatic
            alterations.
          </p>
          <p>
            <strong>I-Accord Music Notation</strong><br />
            by Saieb Khalil<br />
            <a href="/wiki/I-Accord_Music_Notation">Wiki Page</a>. See criterion <a
              href="/systems/criteria/#8">8</a
            >. The staff has three lines per octave, corresponding to the notes
            of the tonic triad. Thus the staff uses relative pitches rather than
            absolute pitches, similarly to <a
              href="/system/thumline-notation-by-jim-plamondon/">Thumline</a
            >. There are two forms of the staff: one for major keys and the
            other for minor. (The inventor&#8217;s description does not state
            how the system deals with modulation or with music in which the key
            is ambiguous.) The diatonic pitches are depicted by oval noteheads,
            and the chromatic pitches by half-ovals (optionally replaceable by
            hollow triangles). Traditional duration symbols can be used.
          </p>
          <p>
            <strong>Klavar Music Notation (Klavarskribo)</strong><br />
            by Cornelis Pot<br />
            <a
              href="http://en.wikipedia.org/wiki/Klavar_notation"
              target="_blank"
              rel="noopener">Wikipedia Page</a
            >, <a
              href="http://www.klavarmusic.org/"
              target="_blank"
              rel="noopener">Klavar Music Foundation of Great Britain</a
            >, <a
              href="http://www.klavarskribo.nl/"
              target="_blank"
              rel="noopener">Klavar Foundation of the Netherlands</a
            >, <a
              href="http://www.klavarvereniging.nl/"
              target="_blank"
              rel="noopener">Klavar Vereniging Nederland (Dutch Klavar Union)</a
            >, <a
              href="http://www.klavarscore.co.uk/"
              target="_blank"
              rel="noopener">KlavarScore website</a
            >. See criteria <a href="/systems/criteria/#8">8</a> and <a
              href="/systems/criteria/#13">13</a
            > &#8212; Klavar almost meets 8, but the staff is not quite pitch-proportional,
            because it mirrors the piano keyboard, whose white keys divide the octave
            into seven equal steps. Note that there are four variants of Klavar featured
            on our site: Pot&#8217;s own <a
              href="/system/6-6-klavar-by-cornelis-pot/">6-6 Klavar</a
            >, Jean de Buur&#8217;s <a
              href="/system/klavar-mirck-version-by-jean-de-buur/"
              >Mirck Version</a
            >, Tadeusz Wójcik&#8217;s <a
              href="/system/isomorph-notation-by-tadeusz-wojcik/"
              >Isomorph Notation</a
            >, and Antoon Dekker&#8217;s <a
              href="/system/klavar-dekker-version-by-antoon-dekker/">variant</a
            >. See also <a href="/software/#apps">software</a> for Klavar.
          </p>
          <p>
            <strong>Meloz Music Tablature</strong><br />
            by Jerald Lepinski<br />
            See criterion <a href="/systems/criteria/#8">8</a>, and comment
            about Klavar above. The website (http://www.meloz.com) no longer
            exists.
          </p>
          <p>
            <strong>Numbered Notes</strong><br />
            by Jason MacCoy<br />
            <a
              href="http://www.numberednotes.com/"
              target="_blank"
              rel="noopener">Website</a
            >. See criterion <a href="/systems/criteria/#17">17</a>. Places
            numbers (1-12) in front of each note to help with note
            identification and interval calculation. See also the <a
              href="/system/numbered-notes-notes-only-by-jason-maccoy/"
              >only notes version</a
            > and the <a
              href="/system/numbered-notes-numbers-only-by-jason-maccoy/"
              >only numbers version</a
            > on our site.
          </p>
          <p>
            <strong>NUME (New Understanding of Musical Expression)</strong><br
            />
            by Mike Ellis<br />
            <a href="http://ellismusiclessons.com/nume.html">Website</a>. See
            criteria <a href="/systems/criteria/#10">10</a> and <a
              href="/systems/criteria/#15">15</a
            >. Uses an alternative symbol system of noteheads for rhythmic
            notation.
          </p>
          <p>
            <strong>SuperMusic</strong><br />
            by Ernest Moore Hume<br />
            <a
              href="http://www.lulu.com/content/2034904"
              target="_blank"
              rel="noopener">Link to Book</a
            >. See criteria <a href="/systems/criteria/#8">8</a> and <a
              href="/systems/criteria/#15">15</a
            >.
          </p>
          <p>
            <strong>Symmetrisch Chromatisches System (SCS)</strong><br />
            by Robert Doll<br />
            See criteria <a href="/systems/criteria/#10">10</a> and <a
              href="/systems/criteria/#15">15</a
            >. The website (http://www.scs-rad.de) no longer exists, formerly in
            German and English.
          </p>
          <p>
            <strong>Untitled 4-line notation system</strong><br />
            by Johann Ailler<br />
            <a href="/wiki/notation-systems/untitled-by-johann-ailler/"
              >Wiki page</a
            >. See criterion <a href="/systems/criteria/#9">9</a>.  The earliest
            4-line chromatic staff system, dating from 1904.  It does not cycle
            on the octave, but places only one ledger line between vertically
            stacked staves.  See wiki page for details.
          </p>
          <h2 id="six" class="divider-heading">
            Systems with six vertical staff positions per octave (two pitches
            per position)
          </h2>
          <p>
            <em
              >See criterion <a href="/systems/criteria/#8">8</a> for all of the
              notation systems in this group.</em
            > They are all <a href="/tutorials/6-6-and-7-5-pitch-patterns/"
              >6-6</a
            > systems since they group the 12 chromatic pitches into two whole-tone
            scales. As such, they have a certain amount of <a
              href="/wiki/Isomorphism">isomorphism</a
            >, but do not have full pitch proportionality (criterion<a
              href="/systems/criteria/#8"
            >
              8</a
            >). By reducing the pitch proportionality, they allow the staff to
            occupy less vertical space.
          </p>
          <p>
            <strong>Black White Notation (BWN)</strong><br />
            by C.J. Wang<br />
            <a
              href="http://newmusicnotation.wordpress.com/"
              target="_blank"
              rel="noopener">Website</a
            > (2011). See criterion <a href="/systems/criteria/#8">8</a>. Uses a
            six-degree staff rather than either a pitch-proportional
            twelve-degree chromatic staff, or a traditional staff. Hollow and
            solid noteheads are used to help indicate pitch, otherwise rhythm
            notation is similar to traditional notation.
          </p>
          <p>
            <strong>Chromatic Pairs</strong><br />
            by C.J. Wang<br />
            <a href="/wiki/Chromatic_Pairs" target="_blank" rel="noopener">
              Wiki Page</a
            > (October 2011). See criterion <a href="/systems/criteria/#8">8</a
            >.
          </p>
          <p>
            <strong>Equiton Notation</strong><br />
            by Rodney Fawcett<br />
            <a
              href="/wiki/Equiton_by_Rodney_Fawcett"
              target="_blank"
              rel="noopener"
            >
              Wiki Page</a
            >. See criterion <a href="/systems/criteria/#8">8</a>. Published by
            Fawcett in Zurich in 1958, with a more recent version by Mark Gould
            (2004). A system with an innovative and comprehensive approach to
            rhythmic notation. It uses a six-degree staff rather than either a
            pitch-proportional twelve-degree chromatic staff, or a traditional
            diatonic staff.
          </p>
          <p>
            <strong>Howe-Way Music Notation</strong><br />
            by Hilbert A. Howe<br />
            <a
              href="/wiki/Howe-Way_Music_Notation"
              target="_blank"
              rel="noopener"
            >
              Wiki Page</a
            > (1964). See criterion <a href="/systems/criteria/#8">8</a>. Uses a
            six-line staff that spans two octaves, a six-degree-per-octave staff
            with three lines and spaces per octave. Each line or space
            represents two of the twelve pitches of the chromatic scale. The two
            pitches appearing on a given line or space are distinguished by
            having black or white noteheads.
          </p>
          <p>
            <strong>MusiScript</strong><br />
            by André Lippens and Luc Lippens<br />
            <a href="http://www.musiscript.com/" target="_blank" rel="noopener"
              >Website</a
            >. MusiScript is a hybrid 6-6 and 7-5 system in that its two
            notehead shapes (oval and right-pointing isosceles triangle) form a
            6-6 pattern, while its two notehead colors (blue and black) form a
            7-5 pattern.  Rhythm is traditional.  There are six distinct
            vertical positions per octave (criterion <a
              href="/systems/criteria/#8">8</a
            >). The space for F# and G is shaded (see criteria <a
              href="/systems/criteria/#8">2</a
            > and <a href="/systems/criteria/#7">7</a>).  MusiScript uses four
            colors: black, white (background), gray (the space for F# and G),
            and blue (see criterion <a href="/systems/criteria/#7">7</a>). The
            inventors propose a criterion for notation systems that they call a
            &#8220;<a
              href="http://www.musiscript.com/peeping.html"
              target="_blank"
              rel="noopener">peeping hole</a
            >&#8220;, which states that a note&#8217;s pitch should be
            detectible when looking only at the notehead and its immediate
            vicinity, rather than at a larger context such as a whole staff. 
            MusiScript passes this test by using multiple notehead colors and a
            shaded space.
          </p>
          <p>
            <strong>2SiT</strong><br />
            by Adam A. Król<br />
            <a href="http://simple-music-notation.eu/2sit_music-notes.html"
              >Website</a
            >. See criteria <a href="/systems/criteria/#8">8</a> and<a
              href="/systems/criteria/#9"
            >
              9</a
            >. A six-degree, 6-6 system using two shapes (oval and triangle) to
            distinguish the two neighboring chromatic pitches that occupy the
            same vertical position.  The staff consists of five lines, reducing
            the clarity of the octave cycle as compared to a two-line staff. The
            website also presents two other systems, Chro-Nat (described above)
            and 3SiT (described below).
          </p>
          <h2 id="four" class="divider-heading">
            Systems with four vertical staff positions per octave (three pitches
            per position)
          </h2>
          <p>
            <strong>3SiT</strong><br />
            by Adam A. Król<br />
            <a href="http://simple-music-notation.eu/3sit_music-notes.html"
              >Website</a
            >. See criteria <a href="/systems/criteria/#8">8</a> and<a
              href="/systems/criteria/#9"
            >
              9</a
            >.  A four-degree system using three shapes (leftward triangle,
            oval, rightward triangle) to distinguish the three neighboring
            chromatic pitches that occupy the same vertical position.  Like the
            systems in the previous category (six vertical staff positions per
            octave), this system has a certain amount of <a
              href="/wiki/Isomorphism">isomorphism</a
            > but lacks pitch proportionality (criterion<a
              href="/systems/criteria/#8"
            >
              8</a
            >). The staff consists of five lines, reducing the clarity of the
            octave cycle. The website also presents two other systems, Chro-Nat
            and 2SiT (described above).
          </p>
          <h2 id="non" class="divider-heading">
            Systems with non-standard diatonic staves
          </h2>
          <p>
            <em
              >See criterion <a href="/systems/criteria/#8">8</a> for all the notation
              systems in this group.</em
            >
          </p>
          <p>
            <strong>Color Coded Music</strong><br />
            by Mary Hale<br />
            <a href="http://www.himnotes.com/" target="_blank" rel="noopener"
              >Website</a
            >. <a href="/wiki/notation-systems/color-coded-music/">Wiki Page</a
            >. See criteria <a href="/systems/criteria/#7">7</a> and <a
              href="/systems/criteria/#8">8</a
            >.  Uses a 7-degree staff of four lines and three spaces for A
            through G.  The five &#8220;black-key&#8221; notes are named H, I,
            J, K, and L, exactly as in <a
              href="/system/express-stave-by-john-keller/">Express Stave</a
            >.  They are indicated by diamond-shaped noteheads whose vertical
            position generally lies between the positions of the neighboring
            naturals. (The seven &#8220;white-key&#8221; notes use oval
            noteheads, as in traditional notation.)  Rhythm is traditional. The
            notehead optionally contains the note&#8217;s letter name. The
            staff&#8217;s spaces are colored, with a different color used in
            each octave.  Multiple octaves can be placed continuously, with
            enough space between the staves for the notehead of L (G#/Ab) (which
            seems to be centered on the G line, however).
          </p>
          <p>
            <strong>Easy Music Notation<br /></strong>by Ion Wittler<br />
            <a
              href="http://www.ionmittler.com/docs/easy_music_notation_intro.pdf"
              >PDF</a
            >. See criterion <a href="/systems/criteria/#8">8</a>. Uses a
            non-standard diatonic staff that cycles on the octave. The staff
            consists of two solid lines with a dotted line in between. The lines
            are E, G, and B (the bottom three lines of the traditional treble
            clef). C is written with a ledger line, similar to a traditional
            Middle C. Traditional clef signs are kept, with a slight
            modification to the bass clef. Other features include: (1) some new
            accidentals, and symbols attached to noteheads as reminders of
            sharps and flats from the key signature; (2) exaggerated width of a
            notehead to help indicate the note&#8217;s duration; (3) graphical
            symbols for tempo changes; (4) textual notation for quick
            handwriting; (5) simplifying the notation of repeated patterns by
            selectively removing noteheads or shading them gray [see criterion <a
              href="/systems/criteria/#7">7</a
            >]; (6) echoing the first notes of a new system (line of music) at
            the end of the previous system, to ease the visual transition.
          </p>
          <p>
            <strong>Leszer Notation</strong><br />
            by Eduardo Terol<br />
            <a
              href="http://terol.pw/content/?Leszer_Notation"
              target="_blank"
              rel="noopener">Website</a
            >. See criterion <a href="/systems/criteria/#8">8</a>. Uses a
            non-standard diatonic staff that cycles on the octave.
          </p>
          <p>
            <strong>Nydana Notation</strong><br />
            by Dan Lindgren<br />
            <a href="http://nydana.se" target="_blank" rel="noopener">Website</a
            >. See criterion <a href="/systems/criteria/#8">8</a>. Uses a
            non-standard diatonic staff that cycles on the octave. The staff
            consists of two lines, for E and G, and a ledger line for C.  Thus
            the staff can be read identically to part of the traditional treble
            clef: the part that ranges from the B below Middle C to the A above
            Middle C. Originally the noteheads had a 7-5 coloring, with white
            and black noteheads for the respectively colored piano keys; later
            the inventor switched to a 6-6 notehead coloring, with black
            noteheads for the whole-tone scale containing C and white noteheads
            for the other whole-tone scale.  A novel system of &#8220;ledger
            bands&#8221; allows the staff to be temporarily extended upward or
            downward in a distinctive manner without ledger lines per se.  See
            also <a href="/system/chromatic-nydana-by-dan-lindgren/"
              >Chromatic Nydana Notation</a
            >.
          </p>
          <h2 id="other" class="divider-heading">
            Systems with other types of non-standard staves
          </h2>
          <p>
            <em
              >See criterion <a href="/systems/criteria/#8">8</a> for all the notation
              systems in this group.</em
            >
          </p>
          <p>
            <strong>Dozenal Conventional Music Notation<br /></strong>by Robert
            Elisabeth Key<br />
            <a
              href="http://www.hamburgmusicnotation.com"
              target="_blank"
              rel="noopener">Website</a
            >. See criteria <a href="/systems/criteria/#8">8,</a><a
              href="/systems/criteria/#9">9</a
            >. (Note that &#8220;Robert Elisabeth Key&#8221; is a pseudonym.)
            Also known as Hamburg Music Pianotype Notation or Hamburg Music
            Emoji Notation. Uses a 5-line quasi-diatonic staff whose lines are
            C, E, G, A, and C and whose spaces are D, F, G#/Ab, and B. (The
            notes are not named using these traditional letter names but instead
            using dozenal numbers as in Hamburg Music Notation, above.) Pitches
            corresponding to white keys on the piano have a normal notehead;
            those corresponding to black keys have an x for the notehead, giving
            this system a <a href="/tutorials/6-6-and-7-5-pitch-patterns/"
              >7-5 notehead pattern</a
            >. C#/Db is placed on the C line, D#/Eb on the E line, F#/Gb on the
            G line, and A#/Bb on the A line. Between successive five-line
            staves, ledger lines occur on E, G, and A; thus the staff pattern
            can be considered to cycle every two octaves. Rhythm is traditional,
            except that half and whole notes on &#8220;black-key&#8221; pitches
            have a notehead consisting of an x inside a hollow circle.
          </p>
          <p>
            <strong>Finkeys Notation System</strong><br />
            by Victor Mataele<br />
            <a
              href="http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO1&Sect2=HITOFF&d=PALL&p=1&u=/netahtml/PTO/srchnum.htm&r=1&f=G&l=50&s1=7,674,965.PN.&OS=PN/7,674,965&RS=PN/7,674,965"
              target="_blank"
              rel="noopener">Link to Patents</a
            >. See criteria <a href="/systems/criteria/#8"> 8</a>, <a
              href="/systems/criteria/#9">9</a
            >, and <a href="/systems/criteria/#3">3</a>. Pitches are represented
            by the numbers 1-9 followed by the letters X, Y, and Z (C is 1 and B
            is Z). Time is represented on the vertical axis. Duration is
            indicated with colors. (See Criterion <a href="/systems/criteria/#7"
              >7</a
            >.) The horizontal axis does not represent pitch but finger number,
            so it is divided into ten columns, five per hand. (See criteria <a
              href="/systems/criteria/#8"
            >
              8</a
            > and <a href="/systems/criteria/#9">9</a>.) The music therefore has
            a different appearance for different instruments, as well as for
            different ways of fingering a passage on the same instrument. (See
            criterion <a href="/systems/criteria/#3">3</a>.)
          </p>
          <p>
            <strong>Hamburg Music Notation</strong><br />
            by Robert Elisabeth Key<br />
            <a
              href="/wiki/Hamburg_Music_Notation"
              target="_blank"
              rel="noopener">Wiki Page</a
            >. See criterion <a href="/systems/criteria/#8">8</a>.  Uses a
            series of numbers and letters (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, A, B)
            rather than noteheads, to represent the twelve notes of the
            chromatic scale. The letters are used in order to avoid having to
            use numbers with double digits. 1 corresponds to the traditional C,
            and 0 to the traditional B (or H in Germanic pitch nomenclature).  
            All pitches within the same octave from C to B (traditional names)
            are written at the same vertical level. A variant of this system
            uses the letter C in place of 0.
          </p>
          <h2 id="none" class="divider-heading">
            Systems that do not use a staff
          </h2>
          <p>
            <strong>3JCNGUYEN Music Notation</strong><br />
            by Thomas Nguyen<br />
            <a href="http://www.3jcn.com/" target="_blank" rel="noopener"
              >Website</a
            >. See criterion <a href="/systems/criteria/#8">8</a>. A note is
            represented by a lower-case letter for the pitch class (a through
            g), preceded by the note&#8217;s octave and followed by the
            note&#8217;s duration (for example, 4c1 for a quarter note on Middle
            C). Sharps, flats, and naturals are indicated by +, -, and o
            respectively. Rests are represented by numbers without letters (for
            example, 0.5 for an eighth rest). Durations of notes can be written
            as decimal fractions (for example, 1.5 for a dotted quarter) or
            ratios (for example, 3/4 for a dotted eighth). A group of notes that
            would be slurred in traditional notation is instead enclosed in
            parentheses. All notes are written at the same elevation.
          </p>
          <p>
            <strong>The Music Integrated Solution</strong><br />
            by Enrique Prieto<br />
            <a
              href="http://musicintegratedsolution.blogspot.com/"
              target="_blank"
              rel="noopener">Website</a
            >. See criteria <a href="/systems/criteria/#2">2</a>, <a
              href="/systems/criteria/#7">7</a
            >, and <a href="/systems/criteria/#13">13</a>. Notes are represented
            by horizontal line segments (called note traces) whose length is
            proportional to duration, as in a piano-roll notation. (There are no
            explicit duration symbols; see criterion <a
              href="/systems/criteria/#13">13</a
            >.) A note trace is typically attached to a &#8220;reference
            head.&#8221; The reference head looks rather like a notehead in
            other systems, but instead of representing a note it is a guide that
            aids in identifying the pitches of nearby notes, as there are no
            staff lines. A reference head has one of four shapes. There are
            three vertical positions at which a note trace can attach to a
            reference head: at the head&#8217;s bottom, middle, or top. This 3 x
            4 pattern is also reflected in a correlated system of nomenclature
            for pitches, intervals, and chords. The system generally uses shaded
            horizontal bands in the background behind the notes to aid with
            pitch orientation. (Formerly called &#8220;NoteTrace&#8221;.)
          </p>
          <h2 id="traditional" class="divider-heading">
            Systems that use the traditional diatonic staff
          </h2>
          <p>
            <em
              >See criteria <a href="/systems/criteria/#8">8</a> and <a
                href="/systems/criteria/#9">9</a
              > for all the notation systems in this group.</em
            >
          </p>
          <p>
            <strong>Amadeus Musique<br /></strong><a
              href="http://www.amadeusmusique.com"
              target="_blank"
              rel="noopener">Website</a
            >. See criteria <a href="/systems/criteria/#8">8</a> and <a
              href="/systems/criteria/#9">9</a
            >.
          </p>
          <p>
            <strong>Cleanotation</strong><br />
            by Clark Battle<br />
            <a
              href="http://newstandardnotation.wordpress.com/"
              target="_blank"
              rel="noopener">Website</a
            >. See criteria <a href="/systems/criteria/#8">8</a> and <a
              href="/systems/criteria/#9">9</a
            >.
          </p>
          <p>
            <strong>iCanPiano Notes</strong><br />
            by Ophir Atar<br />
            <a href="http://www.icanpiano.net/" target="_blank" rel="noopener"
              >Website</a
            >. See criteria <a href="/systems/criteria/#8">8</a> and <a
              href="/systems/criteria/#9">9</a
            >. Formerly known as &#8220;Prima Vista Notes&#8221;.
          </p>
          <p>
            <strong>Shape Note Notation</strong><br />
            See criteria <a href="/systems/criteria/#8">8</a> and <a
              href="/systems/criteria/#9">9</a
            >.<br />
            <a href="http://fasola.org" target="_blank" rel="noopener"
              >Sacred Harp and Shape Note singing (fasola.org)</a
            > and <a
              href="http://fasola.org/bibliography/"
              target="_blank"
              rel="noopener">Shape Note Bibliography</a
            > by John Bealle.<a
              href="http://www.mcsr.olemiss.edu/%7Emudws/harp.html"
              target="_blank"
              rel="noopener"
              ><br />
              Sacred Harp Singing</a
            > and <a
              href="http://www.mcsr.olemiss.edu/%7Emudws/notes/"
              target="_blank"
              rel="noopener">Samples of Musical Notation</a
            > by Warren Steel.
          </p>
          <p>
            <strong>Simplified Music Notation</strong><br />
            by Peter Hayes George<br />
            <a
              href="http://www.simplifiedmusicnotation.org"
              target="_blank"
              rel="noopener">Website</a
            >. See criteria <a href="/systems/criteria/#8">8</a> and <a
              href="/systems/criteria/#9">9</a
            >.
          </p>
          <p>
            <strong>VaWu</strong><br />
            by Robert Stuckey and Richard Parncutt<br />
            <a href="/wiki/notation-systems/vawu/">Wiki Page</a>. See criteria <a
              href="/systems/criteria/#7">7</a
            >, <a href="/systems/criteria/#8">8</a>, and <a
              href="/systems/criteria/#9">9</a
            >. VaWu uses traditional notation with some modifications: the staff
            has white lines and gray spaces, and the noteheads are letters (one
            of twelve letters indicating the twelve chromatic pitches per
            octave).  The five &#8220;black-key&#8221; pitches use the letters
            V, W, X, Y, and Z.  The seven &#8220;white-key&#8221; pitches use
            the traditional English (or, optionally, German) letter names (or,
            optionally, the initials of the fixed-do solfege syllables).
            Harmonic functions are optionally indicated above the staff using
            the initials of the relative-do solfege syllables.
          </p>
          <h2 id="websites" class="divider-heading">
            Websites of systems presented elsewhere on our site
          </h2>
          <p>
            <a href="http://www.ab-chromatic-music-notation.com"
              >Ailler-Brennink Notation</a
            > by Albert Brennink
          </p>
          <p>
            Bilinear Music Notation (Spectral Music) by Jose Sotorrio. Website
            no longer exists. (http://www.spectralmusic.com/)
          </p>
          <p>
            <a
              href="http://www.beyreuther-musikprinzip.de/"
              target="_blank"
              rel="noopener">Chromatic 6-6 Notation</a
            > by Johannes Beyreuther (German Site)
          </p>
          <p>
            <a
              title="Clairnote Music Notation"
              href="http://clairnote.org"
              target="_blank"
              rel="noopener">Clairnote Music Notation</a
            > by Paul Morris
          </p>
          <p>
            <a href="http://chromatic-system.com" target="_blank" rel="noopener"
              >MUTO Music Notation (MUTO Music Method Foundation)</a
            > (Japanese Site)
          </p>
          <p>
            Thumline Music Notation (Thumtronics) by Jim Plamondon.  Website no
            longer exists.<br />
            (thummer.com/thummusic1.asp)
          </p>
          <p>
            <a
              href="http://clairnote.org/twinnote/"
              target="_blank"
              rel="noopener">TwinNote Music Notation</a
            > by Paul Morris
          </p>
          <p>&nbsp;</p>
          <h2 id="specialized" class="divider-heading">
            More specialized systems that may be of interest
          </h2>
          <p>
            <a
              href="http://en.wikipedia.org/wiki/Braille_music"
              target="_blank"
              rel="noopener">Braille Music Notation</a
            >, and <a
              href="http://www.opustec.com"
              target="_blank"
              rel="noopener">Opus Technologies</a
            > offering software, print, and braille materials for learning and using
            braille music notation.
          </p>
          <p>
            <a
              href="http://www.symecord.com/blog/"
              target="_blank"
              rel="noopener">Symecord</a
            >, an alternative guitar tablature by Mark Lee.  Unlike standard <a
              href="http://en.wikipedia.org/wiki/Tablature#Guitar_tablature"
              target="_blank"
              rel="noopener">guitar tab</a
            >, which uses the non-time axis to represent strings, and symbols to
            denote fret numbers, Symecord uses the non-time axis to represent
            frets, and symbols to denote strings.
          </p>
          <p>
            <a
              href="http://en.wikipedia.org/wiki/Tablature"
              target="_blank"
              rel="noopener">Tablature</a
            >, and a <a
              href="http://members.tripod.com/%7Ecaptaintab/mytabs.html"
              target="_blank"
              rel="noopener">Novel Guitar Tablature</a
            > by Michael Harris
          </p>
          <p>&nbsp;</p>
          <div class="footnotes divider-section">
            <a id="ftn1" href="#ftnref1">[1]</a> The <a href="/mnma/">MNMA</a>
            collected over 500 notation systems, as documented in Thomas Reed&#8217;s
            <a href="/mnma/publications/#proposals"
              >Directory of Music Notation Proposals</a
            > (1999). An earlier collection is Gardner Read&#8217;s <a
              href="http://www.amazon.com/Source-Proposed-Music-Notation-Reforms/dp/031325446X/ref=sr_1_7/102-6878790-5004103?ie=UTF8&s=books&qid=1186595813&sr=1-7"
              target="_blank"
              rel="noopener">Source Book of Proposed Music Notation Reforms</a
            > (1987). See also Wikipedia&#8217;s <a
              href="http://en.wikipedia.org/wiki/Musical_notation"
              target="_blank"
              rel="noopener">Musical Notation</a
            > page.
          </div>
        </div>
      </article>
    </div>
  </div>
</MnpLayout>
