---
import MnpLayoutWiki from "../../../../layouts/MnpLayoutWiki.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutWiki
  metaTitle={makeMetaTitle(
    "Franz Liszt: Hungarian Rhapsody 2 (excerpt)",
    "Wiki"
  )}
  metaDescription="An excerpt from Franz Liszt's Hungarian Rhapsody 2 in Hamburg Music Notation."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="wiki_page type-wiki_page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">
            Franz Liszt: Hungarian Rhapsody 2 (excerpt)
          </h1>
        </header>

        <div class="entry-content">
          <p>
            An excerpt of a chromatic passage from Franz Liszt&#8217;s
            &#8220;Hungarian Rhapsody 2&#8221; is used to illustrate various
            alternative notation systems in <a
              href="/tutorials/chromatic-staves-example/"
              rel="nofollow">this tutorial</a
            > on the main Music Notation Project site. Written in a key signature
            of six sharps, and having to use numerous accidental signs, it illustrates
            some of the difficulties and complications inherent in traditional music
            notation that are overcome by alternative notation systems.
          </p>
          <p>
            Here is an illustration of a short excerpt from it in <a
              title="Hamburg Music Notation"
              href="/wiki/hamburg-music-notation/">Hamburg Music Notation</a
            >:
          </p>
          <h2>Variation II</h2>
          <p>
            <a href="/wp-content/uploads/2013/03/800px-LisztRh2.jpg"
              ><img
                loading="lazy"
                class="size-full wp-image-993"
                alt="800px-LisztRh2"
                src="/wp-content/uploads/2013/03/800px-LisztRh2.jpg"
                width="800"
                height="670"
                srcset="/wp-content/uploads/2013/03/800px-LisztRh2.jpg 800w, /wp-content/uploads/2013/03/800px-LisztRh2-300x251.jpg 300w, /wp-content/uploads/2013/03/800px-LisztRh2-358x300.jpg 358w"
                sizes="(max-width: 800px) 100vw, 800px"
              />
            </a>
          </p>
          <h2>Variation III</h2>
          <p>
            <a
              href="/wp-content/uploads/2013/03/Excerpt_from_Franz_Liszt_Hungarian_Rhapsody.jpg"
              ><img
                loading="lazy"
                class="size-full wp-image-994"
                alt="Excerpt_from_Franz_Liszt_Hungarian_Rhapsody"
                src="/wp-content/uploads/2013/03/Excerpt_from_Franz_Liszt_Hungarian_Rhapsody.jpg"
                width="594"
                height="593"
                srcset="/wp-content/uploads/2013/03/Excerpt_from_Franz_Liszt_Hungarian_Rhapsody.jpg 594w, /wp-content/uploads/2013/03/Excerpt_from_Franz_Liszt_Hungarian_Rhapsody-150x150.jpg 150w, /wp-content/uploads/2013/03/Excerpt_from_Franz_Liszt_Hungarian_Rhapsody-300x300.jpg 300w"
                sizes="(max-width: 594px) 100vw, 594px"
              />
            </a>
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutWiki>
