---
import MnpLayoutBlog from "../../../../../layouts/MnpLayoutBlog.astro";
import { makeMetaTitle } from "../../../../../utils/utils";
---

<MnpLayoutBlog
  metaTitle={makeMetaTitle("New Forum, Tutorials, and Website Search", "Blog")}
  metaDescription="A blog post about a new forum (google group), some new tutorials, and website search added to the Music Notation Project website."
>
  <div id="primary">
    <div id="content" role="main">
      <nav id="nav-single">
        <h3 class="assistive-text">Post navigation</h3>
        <span class="nav-previous"
          ><a
            href="/blog/2008/01/introducing-the-music-notation-project/"
            rel="prev"><span class="meta-nav">&larr;</span> Previous Post</a
          >
        </span>
        <span class="nav-next"
          ><a href="/blog/2008/07/website-revisions-music-notations/" rel="next"
            >Next Post <span class="meta-nav">&rarr;</span>
          </a>
        </span>
      </nav>

      <article
        class="post type-post status-publish format-standard hentry category-uncategorized"
      >
        <header class="entry-header">
          <h1 class="entry-title">New Forum, Tutorials, and Website Search</h1>

          <div class="entry-meta">
            <span class="sep">Posted on</span>
            <time class="entry-date" datetime="2008-02-29T08:25:00+00:00"
              >February 29, 2008</time
            ><span class="by-author">
              <span class="sep"> by</span>
              <span class="author vcard"
                ><a
                  class="url fn n"
                  href="/blog/author/mnpadmin/"
                  title="View all posts by Webmaster"
                  rel="author">Webmaster</a
                >
              </span>
            </span>
          </div>
        </header>

        <div class="entry-content">
          <p>
            <span style="font-size: 100%;"
              ><span style="font-weight: bold;">New Forum</span><br />
              We have launched the Music Notation Project Forum, a discussion group
              hosted by Google Groups. Anyone interested is welcome to join. <span
                id="more-24"></span>
            </span>
          </p>
          <p>
            <span style="font-size: 100%;">Check it out here:</span><a
              href="http://groups.google.com/group/musicnotation"
            >
              http://groups.google.com/group/musicnotation</a
            >
          </p>
          <p>
            <span style="font-size: 100%;"
              >We created this new forum/group to reflect our new organization
              and because we decided to make our discussions accessible not just
              to group members, but to anyone visiting the group&#8217;s site.
              This will help people find us on the web, and make it simpler for
              them to see what our discussions are like before joining.
            </span><span style="font-size: 100%;"
              >Our old MNMA Google Group will remain accessible as an inactive
              archive for those interested in searching and reading through past
              discussions.</span
            >
          </p>
          <p>
            We also want to take this opportunity to point out two new tutorials
            and the website search feature that have been introduced with our
            new website.
          </p>
          <p>
            <span style="font-size: 100%;"
              ><a href="/tutorials/intervals/"
                ><span style="font-weight: bold;">Intervals Tutorial</span>
              </a><br />
              This tutorial takes a</span
            > comprehensive look at the appearance of intervals in traditional notation,
            and illustrates in detail how these interval relationships are obscured.
            It then shows how alternative music notations that use a chromatic staff
            can offer a significant improvement over traditional notation when it
            comes to representing interval relationships.<br />
            <span style="font-size: 100%;"
              ><br />
              <span style="font-weight: bold;"
                ><a href="/tutorials/chromatic-staves-example/"
                  >Chromatic Staves Example Tutorial</a
                ><br />
              </span>This tutorial focuses on
            </span>an excerpt from Franz Liszt&#8217;s &#8220;Hungarian Rhapsody
            2&#8221; which is in F# Major, one of the more difficult key
            signatures, and also entails the use of many accidentals. It shows
            how alternative notations that use a chromatic staff greatly
            simplify the appearance of this passage, making it easier to read
            and play. (If anyone knows of other difficult passages that would
            make for illustrative comparisons between notation systems, please <a
              href="/home/about-faq-contact-info/#contact"
              >tell us about them!</a
            > We are sure there are more difficult examples out there.)<br />
            <span style="font-size: 100%;"
              ><br />
              <span style="font-weight: bold;">Website Search</span><br />
              Our site now has a convenient search box that allows you to search
              our site for pages that contain any particular keywords or strings
              of text. It can be found in the left hand column on each page.</span
            >
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutBlog>
