<p>
  <em
    >See more scales, intervals, and melodies with the <a
      href="/systems/audiovisualizer/?staff=4.2&notes=0&position=12"
      >AudioVisualizer</a
    >.</em
  >
</p>
<p>
  In Parncutt's system the four lines are F, G, A, and B. The three spaces above
  and below the staff are C, D, and E. This aligns his staff with the familiar <a
    href="/tutorials/6-6-and-7-5-pitch-patterns/">7-5 pitch pattern</a
  > so that the three spaces within the staff correspond to the group of three black
  keys on the piano (F#, G#, A#), and the two ledger lines correspond to the group
  of two black keys (C#, D#). Parncutt&#8217;s design was his modification of <a
    href="/notation-systems/a-b-chromatic-notation-by-albert-brennink/"
    >Albert Brennink&#8217;s design</a
  >.
</p>
<p>Earliest documentation: 1996</p>
<p>
  Source: <a href="/mnma/publications/#proposals"
    >Directory of Music Notation Proposals</a
  >, section/page: 10/21, 11/3, 13/62
</p>
<p>
  Similar Notations: <a
    href="/notation-systems/keyboard-7-5-trigram-notation-by-richard-parncutt/"
    >Keyboard (or 7-5) Trigram</a
  > by Richard Parncutt, <a href="/notation-systems/untitled-by-franz-grassl/"
    >Untitled</a
  > by Franz Grassl, <a
    href="/notation-systems/keyboard-7-5-trigram-notation-by-richard-parncutt/"
    >6-6 Trigram</a
  > by Richard Parncutt
</p>
<p>
  Miscellaneous examples: <a
    href="/pdf/comparisons/MajorScales.pdf"
    target="_blank"
  >
    Major Scale Comparison</a
  >
  <a href="/pdf/comparisons/Triads.pdf" target="_blank"> Triad Comparison</a>
</p>
<p>
  Manuscript Paper: <a
    href="/pdf/manuscript/Parncutt%206-6-Discon.pdf"
    target="_blank"
  >
    Discontinuous Staves</a
  >
  <a href="/pdf/manuscript/Parncutt%206-6-Contin.pdf" target="_blank">
    Continuous Staves</a
  >
</p>
