<p>
  <em
    >See more scales, intervals, and melodies with the <a
      href="/systems/audiovisualizer/?staff=4.2&notes=0&position=1"
      >AudioVisualizer</a
    >.</em
  >
</p>
<p>
  In Brennink&#8217;s four-line-staff system the bottom line is F# so that the
  note A falls in the center of the staff.
</p>
<p>Earliest documentation: 1976</p>
<p>
  Source: <a href="/mnma/publications/#proposals"
    >Directory of Music Notation Proposals</a
  >, section/page: 10/2, 11/3, 13/2
</p>
<p>
  Website: <a href="http://www.ab-chromatic-music-notation.com/" target="_blank"
    >www.ab-chromatic-music-notation.com</a
  >
</p>
<p>
  Similar Notations: <a href="/system/untitled-by-franz-grassl/">Untitled</a> by
  Franz Grassl
</p>
<p>
  Manuscript Paper: <a
    href="/pdf/manuscript/Brennink-Discon.pdf"
    target="_blank"
  >
    Discontinuous Staves</a
  >
  <a href="/pdf/manuscript/Brennink-Contin.pdf" target="_blank">
    Continuous Staves</a
  >
</p>
