<p>
  Like the other notation systems in this group, AxLoMaFi (originally called
  Trine Line) places middle C on the ledger line, and E and G# on the other two
  lines. Whereas <a href="/system/clairnote-dn-by-paul-morris/">Clairnote DN</a
  >, <a href="/system/untitled-by-johannes-beyreuther/"
    >Untitled by Johannes Beyreuther</a
  >, and <a href="/system/chromatic-lyre-notation-by-jan-braunstein/"
    >Chromatic Lyre Notation</a
  > use alternating black and white noteheads to distinguish the two whole-tone scales,
  AxLoMaFi instead uses noteheads whose orientation alternates: the noteheads of
  one whole-tone scale slant upward to the right; the others slant upward to the
  left. (Compare this approach to the “<a
    href="/system/express-stave-6-6-jazz-font-by-john-keller/">6-6 jazz font</a
  >” version of Express Stave, in which the notes of one whole-tone scale slant
  upward to the right, and those of the other lay flat horizontally.)
</p>
<p>
  Rhythmic notation is the same as in traditional notation, including the
  position of the dot relative to the notehead in dotted notes. In AxLoMaFi,
  however, stems attach to the horizontal center of the notehead, instead of on
  the left or right as in traditional notation.
</p>
<p>
  In the original version of this system (Trine Line), from 2014, stems that go
  up attach to the highest point of the notehead, and stems that go down attach
  to the lowest point. This is different from traditional notation, in which
  upward stems attach at the right of the notehead and downward stems at the
  left. Also, flags in Trine Line extend away from the stem in the same
  direction that the notehead does. For example, a single (unbeamed) eighth note
  whose notehead slants upward to the left will have its flag extend to the left
  of the stem (regardless of whether the stem goes up or down). This is
  different from traditional notation, in which flags extend to the right of the
  stem. In the revised version (AxLoMaFi), the flag&#8217;s direction is always
  to the right, the same as in traditional notation.
</p>
<p>
  In AxLoMaFi, noteheads are optionally colored, with a different color for each
  pitch class.  (If this feature were not optional, AxLoMaFi would not meet <a
    href="/systems/criteria/#7">Criterion 7</a
  >.)
</p>
<p>Earliest documentation: 2014 (Trine Line), 2016 (AxLoMaFi)</p>
<p>Source: Jai Park</p>
<p>
  Similar Notations: <a
    href="/system/panot-notation-by-george-skapski/"
    rel="bookmark">Panot Notation by George Skapski</a
  >
</p>
<p>
  Manuscript Paper: <a
    href="/pdf/manuscript/Beyreuther-Untitled-Discon.pdf"
    target="_blank"
  >
    Discontinuous Staves</a
  >
  <a href="/pdf/manuscript/Beyreuther-Untitled-Contin.pdf" target="_blank">
    Continuous Staves</a
  >
</p>
<p>
  Example: <a href="/wp-content/uploads/2016/03/Fur-Elise-AxLoMaFi.pdf"
    >Für Elise</a
  >
</p>
