<p>
  <em
    >See more scales, intervals, and melodies with the <a
      href="/systems/audiovisualizer/?staff=2.4.1&notes=66.1&position=11"
      >AudioVisualizer</a
    >.</em
  >
</p>
<p>
  Bilinear is quite similar to Reed&#8217;s <a
    href="/system/twinline-notation-by-thomas-reed/">Twinline</a
  >. Sotorrio maintains he had no prior knowledge of Twinline when designing
  Bilinear, since he relied primarily on Gardner Read&#8217;s <em
    >Source Book of Proposed Music Notation Reforms</em
  > which does not include Twinline. (It was published in 1987, just after Twinline
  was introduced in 1986.) Since Twinline is the earlier system (Bilinear was introduced
  in 1997), Sotorrio now offers Bilinear as a variant of Twinline.
</p>
<p>
  The two systems share the same line pattern and the same alternating oval and
  triangle shaped noteheads, but there are differences in their details.
  Twinline&#8217;s triangles are right triangles with the 90 degree angle at
  their tip, while Bilinear&#8217;s triangles have a sharper angle at their tip.
  Also, the shape, color, and size of noteheads in Bilinear may be different
  depending on a note&#8217;s duration, as illustrated in the following image
  (courtesy of the Bilinear website):
</p>
<p>
  <img
    loading="lazy"
    alt="Illustration of Bilinear rhythmic notation system"
    src="/wp-content/uploads/2013/03/blinearcomparison2.jpg"
    width="377"
    height="173"
  />
</p>
<p>&nbsp;</p>
<p>
  For notes a quarter note or shorter in duration, solid ovals and hollow
  triangles are used. For half note or whole note durations, larger hollow ovals
  are used instead of solid ovals (as in traditional notation), and hollow
  half-ovals are used instead of triangles. Ease of handwriting was a
  consideration in designing this system of rhythmic notation.
</p>
<p>
  Bilinear offers new register symbols and an optional system for using color to
  indicate sharps, flats and naturals. It introduces optional stand-alone
  symbols for notes, for use in writing apart from a staff, but derived from
  their appearance on a staff. It also attempts to standardize accidentals for
  microtones and chord symbols, and adds new ‘interval units’. More information
  on these details was formerly available from the Bilinear website
  (www.SpectralMusic.com).
</p>
<p>Earliest documentation: 1997</p>
<p>Website: www.SpectralMusic.com (No longer exists.)</p>
<p>Source: www.SpectralMusic.com and José A. Sotorrío</p>
