<p>
  Chromatic Nydana has two lines per octave spaced a major third apart, the same
  line pattern as similar <a href="/systems/group/major-3rd-2-lines-compact/"
    >vertically compressed systems</a
  >. With its 6-6 notehead shape (two shapes in regular alternation) and its 7-5
  notehead color pattern (white and black corresponding to piano keys), it most
  closely resembles <a href="/system/chromatic-twinline-by-leo-de-vries/"
    >Diatonic Twinline by de Vries</a
  >. However, whereas Diatonic Twinline uses oval noteheads alternating with
  semi-ovals, Chromatic Nydana uses circles alternating with rectangles.
</p>
<p>
  Chromatic Nydana is a variant of Lindgren&#8217;s <a
    href="http://nydana.se"
    target="_blank"
  >
    Nydana Notation</a
  >. Nydana uses a two-line diatonic staff with octave cycling, and it has a
  number of other innovative features. Chromatic Nydana retains some of those
  features but alters the staff to be chromatic. Like Nydana and the other
  two-line chromatic systems above, Chromatic Nydana places C on a ledger line,
  making its appearance similar to the Middle C in traditional notation&#8217;s
  treble and bass clefs.
</p>
<p>
  Rhythmic notation is mostly traditional, but because black and white noteheads
  are used to distinguish pitch rather than rhythm (see the <a
    href="/tutorials/noteheads-and-pitch/"
    >Using Notehead &#8216;Color&#8217; for Pitch</a
  > tutorial), half notes are given hooked stems to distinguish them from quarter
  notes. Whole notes and breves (double whole notes) are also given novel stems.
  (This scheme is also part of Nydana Notation.) A parallel system of rest symbols
  indicates the duration of a rest by using the same stems and flags that are used
  for notes.
</p>
<p>
  In place of clefs, Chromatic Nydana uses Roman numerals. For example, IV is
  the octave from Middle C to the B above.
</p>
<p>
  Both Nydana and Chromatic Nydana use a compact key signature consisting of
  only one flat or sharp, with a number above it indicating how many flats or
  sharps are in the corresponding traditional key signature. The key of C is
  denoted by a natural sign.
</p>
<p>
  Both Nydana and Chromatic Nydana use novel intonation symbols to indicate
  alterations up or down by 23 cents (a Pythagorean comma) or 11 cents.
</p>
<p>
  Source: Dan Lindgren, 2011. Lindgren proposed Chromatic Nydana in February
  2011, but in April 2012 he removed it from his website (along with his SaLaTa
  alternative note naming system) in order to focus on a single version of
  Nydana notation. During this time the standard version of Nydana was called
  &#8220;Classic Nydana.&#8221;
</p>
<p>Website: <a href="http://nydana.se">Nydana (http://nydana.se)</a></p>
<p>
  Manuscript paper: <a
    href="/pdf/manuscript/Reed-Twinline-Discon.pdf"
    target="_blank"
  >
    Discontinuous Staves</a
  >
  <a href="/pdf/manuscript/Reed-Twinline-Contin.pdf" target="_blank">
    Continuous Staves</a>
</p>
