<p>
  <em
    >See more scales, intervals, and melodies with the <a
      href="/systems/audiovisualizer/?staff=2.4.0&notes=66.0&position=11"
    >
      AudioVisualizer</a
    >.</em
  >
</p>
<p>
  Braunstein&#8217;s notation system was directly inspired by Johannes
  Beyreuther&#8217;s <a href="/system/untitled-by-johannes-beyreuther/">two</a>
  <a href="/system/chromatic-6-6-notation-by-johannes-beyreuther/">systems</a>.
  It is suitable for use as a general purpose notation, but he designed it with <a
    href="http://www.delos.cz/en/Lyre_Strings_Layout_Photos.html"
    target="_blank">Chromatic Lyres</a
  > in mind. Chromatic lyres are isomorphic instruments with two rows of strings
  tuned in a <a href="/tutorials/6-6-and-7-5-pitch-patterns/"
    >6-6 pitch pattern</a
  > of two interlocking whole tone scales. One row of strings is played by the right
  hand and the other by the left hand.
</p>
<p>
  The notation system has the same line pattern as <a
    href="/system/untitled-by-johannes-beyreuther/">Beyreuther&#8217;s</a
  >
  <a href="/system/chromatic-6-6-notation-by-johannes-beyreuther/">systems</a> (lines
  for E and G#/Ab, and a ledger line for C). Like Beyreuther&#8217;s systems it also
  uses hollow and solid notes to emphasize the 6-6 pitch pattern. On a chromatic
  lyre the solid and hollow notes each correspond to a row of strings and the hand
  that plays them. Braunstein made the line-notes hollow in order to aid with handwriting.
  This allows solid notes to be written quickly as small dots, avoiding the risk
  that they might visually blend into a line (if they had been used for line-notes).
  It also helps differentiate hollow notes on lines from those in spaces since you
  can see the line through them.
</p>
<p>
  Braunstein&#8217;s system uses a traditional alto clef to indicate the
  position of middle C. It incorporates 8va, 8vb, 15va, or 15vb symbols into the
  clef to indicate the staff has a higher or lower pitch range. Rhythmic
  notation is the same as traditional notation with the following exceptions.
  Half notes (minims) have no stem, in order to distinguish them from quarter
  notes (crotchets). Whole notes (semibreves) have a single vertical line on
  either side of the notehead. Double whole notes (breves) have a double
  vertical line on either side of the notehead. Rests also follow this same
  symbolic convention. These are illustrated on the notation&#8217;s <a
    href="http://www.delos.cz/en/Chromatic_Notation.html"
    target="_blank">website</a
  >.
</p>
<p>Earliest documentation: 2009</p>
<p>
  Website: <a
    href="http://www.delos.cz/en/Chromatic_Notation.html"
    target="_blank">http://www.delos.cz/en/Chromatic_Notation.html</a
  >
</p>
<p>Source: Jan Braunstein</p>
<p>
  Similar Notations: <a
    href="/system/chromatic-6-6-notation-by-johannes-beyreuther/"
    >Chromatic 6-6 Notation by Johannes Beyreuther</a
  >
</p>
<p>
  Manuscript paper is available at the <a
    href="http://www.delos.cz/en/Chromatic_Notation.html"
    target="_blank">Chromatic Lyre Notation website</a
  >
</p>
