<p>
  Clairnote SN has a line pattern similar to <a
    href="/system/panot-notation-by-george-skapski/">Skapski&#8217;s Panot</a
  >, but with &#8220;internal&#8221; ledger lines for the notes D, F#/Gb, and
  A#/Bb that &#8220;float&#8221; between staff lines or between ledger lines
  that align with the staff lines.  Even when these notes appear beyond the
  staff lines, their ledger lines always appear between two ledger (or staff)
  lines, giving them a consistent appearance that differs slightly from the
  other line notes (C, E, and G#/Ab).  The regular alternation between line and
  space notes provides a <a href="/tutorials/6-6-and-7-5-pitch-patterns/"
    >6-6 line pattern</a
  >.  Standard rhythm notation and regular oval shaped noteheads are used.  The
  staff is more vertically compact by allowing the note heads of adjacent
  pitches to &#8220;overlap&#8221; to a greater degree than is common on a
  traditional staff. (This approach is also used in <a
    title="Express Stave by John Keller"
    href="/system/express-stave-by-john-keller/">Express Stave</a
  >.)  On a Clairnote SN staff two notes an octave apart are about <a
    href="http://clairnote.org/staff/"
    target="_blank"
    rel="noopener">1.3 times as far apart</a
  > as they are on a traditional staff. (This is less than the 1.714… (12 divided
  by 7) which is the case for a &#8220;standard&#8221; chromatic staff.)  Clairnote
  SN also has a system of alternative accidental signs, key signatures, and clefs. 
  The &#8220;SN&#8221; is for &#8220;Standard Noteheads&#8221; in contrast to <a
    href="/system/clairnote-dn-by-paul-morris/">Clairnote DN</a
  >, &#8220;Dual Noteheads&#8221;.
</p>
<p>Earliest documentation: April, 2018</p>
<p>Source: Paul Morris</p>
<p>
  Website: <a title="Clairnote Music Notation" href="http://clairnote.org"
    >Clairnote SN Music Notation</a>
</p>
<p>
  Historical notes: Clairnote SN was introduced in April 2018 as a variant of
  &#8220;Clairnote&#8221;, and &#8220;Clairnote&#8221; was renamed to
  &#8220;Clairnote DN&#8221; to avoid confusion between the two variants.
</p>
<p>
  Similar Notations: <a href="/system/clairnote-dn-by-paul-morris/"
    >Clairnote DN by Paul Morris</a
  >, <a href="/system/panot-notation-by-george-skapski/"
    >Panot Notation by George Skapski</a>
</p>
<p>
  Manuscript Paper: <a
    href="/pdf/manuscript/Beyreuther-Untitled-Discon.pdf"
    target="_blank"
    rel="noopener"
  >
    Discontinuous Staves</a
  >
  <a
    href="/pdf/manuscript/Beyreuther-Untitled-Contin.pdf"
    target="_blank"
    rel="noopener"
  >
    Continuous Staves</a>
</p>
