<p>
  <em
    >Keller prefers and recommends <a
      href="/system/express-stave-by-john-keller/"
      >Express Stave: Pianoforte Notation</a
    > over this original version.</em
  >
</p>
<p>
  This is the original version of Express Stave. The basic staff consists of
  three lines. The middle line represents D, while the top and bottom lines
  represent G#/Ab. The black and white notehead color pattern corresponds to the <a
    href="/tutorials/6-6-and-7-5-pitch-patterns/">7-5 pattern</a
  > of the piano key colors, which makes it resemble a piano tablature. Between any
  two adjacent lines there are five elevations at which notes can be placed. The
  white notes B and F each sit midway between two lines, touching neither, and may
  be further identified by having a center dash or spot. The remaining notes all
  touch a line, either &#8216;lightly&#8217; or with a slight overlap. These notes
  are distinguished by their notehead color, and in handwritten form no distinction
  in vertical position is required. Keller has aligned the staff with the 7-5 keyboard
  pattern and its two centers of symmetry, D and G#/Ab. This gives a symmetrical
  pattern of black and white notes around each line. By enclosing the white key set
  ABCDEFG, the staff resembles the traditional bass clef, but with two lines omitted.
</p>
<p>
  In this first version of his notation, Keller used the three traditonal clefs
  to indicate registers: bass, treble and alto clefs indicated lower A to G,
  higher A to G and middle A to G respectively.
</p>
<p>
  Rhythm notation is the same as in traditional notation, except that half notes
  (minims) and whole notes (semibreves) have a short vertical line on each side
  of the notehead. This is visually similar to a <a
    href="http://en.wikipedia.org/wiki/Double_whole_note"
    target="_blank"
    rel="noopener">double-whole note</a
  > (breve) in traditional notation. It is necessary in order to distinguish half
  notes from quarter notes (crotchets) since <a
    href="/tutorials/noteheads-and-pitch/"
    >black/solid and white/hollow noteheads are used for pitch</a
  >.
</p>
<p>
  For more details, see <a href="/system/express-stave-by-john-keller/"
    >Express Stave: Pianoforte Notation</a
  >.
</p>
<p>&nbsp;</p>
<p>
  Source: John Keller. Originally introduced as &#8220;Express Stave&#8221; in
  November 2005 and revised December 2007. In Keller&#8217;s original version of
  November 2005, the top and bottom lines representing G#/Ab were bold. A dotted
  line representing &#8220;middle&#8221; D was added a tritone above the staff
  (for a bass clef register) or below the staff (for a treble clef register).
  Half notes were indicated by a double stem instead of a different notehead.
  Keller changed his system to remove these aspects in December of 2007, partly
  because of the difficulty of displaying bold lines, dashed lines, or double
  stems in <a href="/software/finale/">Finale software</a>. See also <a
    href="/system/express-stave-6-6-jazz-font-by-john-keller/"
    >6-6 jazz font version</a
  > introduced February 2009, <a href="/system/express-stave-by-john-keller/"
    >reverse-color version</a
  > introduced January 2010, and <a
    href="/system/express-stave-tricolor-version-john-keller/"
    >Tricolor Version</a
  > introduced September 2010.
</p>
<p>
  Miscellaneous examples: <a
    href="/pdf/comparisons/MajorScales.pdf"
    target="_blank"
    rel="noopener"
  >
    Major Scale Comparison</a
  >
  <a href="/pdf/comparisons/Triads.pdf" target="_blank" rel="noopener">
    Triad Comparison</a
  >
  <a href="/pdf/comparisons/JazzChords.pdf" target="_blank" rel="noopener">
    Jazz Chords Comparison</a
  >
</p>
