<p>
  This is a &#8220;jazz font&#8221; variation on Keller&#8217;s <a
    href="/system/express-stave-by-john-keller/"
    >Express Stave: Pianoforte Notation</a
  > that provides a subtle <a href="/tutorials/6-6-and-7-5-pitch-patterns/"
    >6-6 pitch pattern</a
  > through a variation in the slant of the noteheads. Notice that half of the noteheads
  are sharply slanted while the other noteheads lie flat. Keller recommends using
  this version of Express Stave when handwriting music.
</p>
<p>
  It was when he introduced this version that Keller designed three original
  clef symbols for Express Stave. His F, B, and D clefs, shown here, replace the
  traditional bass, treble and middle clefs respectively. (Notice how the symbol
  incorporates the notes F, B, and D.)
</p>
<p>
  <img
    loading="lazy"
    class="alignnone size-full wp-image-1864"
    alt="express-stave-reverse-color-clefs"
    src="/wp-content/uploads/2012/07/express-stave-reverse-color-clefs.png"
    width="218"
    height="79"
  />
</p>
<p>
  For full details, see <a href="/system/express-stave-by-john-keller/"
    >Express Stave: Pianoforte Notation</a
  >.
</p>
<p>
  Source: John Keller. Originally introduced in February 2009 using the notehead
  color pattern of <a
    href="/system/express-stave-original-version-by-john-keller/"
    >Express Stave, Original Version</a
  >. In that original &#8220;jazz font&#8221; version the notes for F and B had
  no center dash or spot, since their shape distinguished them from adjacent
  notes. Keller later came to prefer the notehead color pattern of the system he
  originally called &#8220;Express Stave, Reverse-Color&#8221; (now <a
    href="/system/express-stave-by-john-keller/"
    >Express Stave: Pianoforte Notation</a
  >), which was originally introduced using these &#8220;jazz font&#8221;
  noteheads in January 2010. In February 2021 Keller changed
  (&#8220;reversed&#8221;) the notehead color pattern of this &#8220;jazz
  font&#8221; variation to reflect his preference for the notehead color of <a
    href="/system/express-stave-by-john-keller/"
    >Express Stave: Pianoforte Notation</a
  >.
</p>
