<p>
  Hass notation uses a pitch-proportional chromatic staff whose lines are spaced
  three semitones (a minor third) apart. Three notehead shapes are used: an oval
  on lines, and upward and downward triangles in the spaces. This regularly
  alternating pattern of three noteheads corresponds directly to the three rows
  of a <a href="https://en.wikipedia.org/wiki/Chromatic_button_accordion"
    >chromatic button accordion</a
  >, which has an isomorphic layout.
</p>
<p>
  Stems are horizontally centered on the noteheads, rather than placed at the
  left or right as in traditional notation. Rhythmic notation is traditional.
  Pitch nomenclature follows the traditional German pitch names for the naturals
  (which use H for the pitch a half-step below C and B for the pitch a whole
  step below C), and the new names O, S, V, and I for the traditional C#, D#,
  F#, and G#. The pitches of the chromatic scale (from C to C) are therefore:
</p>
<p>
  C &#8211; O &#8211; D &#8211; S &#8211; E &#8211; F &#8211; V &#8211; G
  &#8211; I &#8211; A &#8211; B &#8211; H &#8211; C
</p>
<p>
  Hass&#8217;s <a href="/wiki/system/hass-music-notation-by-peter-hass/"
    >original version</a
  > of the staff has five lines and does not cycle at the octave (MNP <a
    href="/systems/criteria/#9">criterion 9</a
  >). To meet the MNP <a href="/systems/criteria/#9">criteria</a>, Hass designed
  the newer 3-line version shown here, which duplicates the lowest three lines
  of the &#8220;E&#8221; clef in his <a
    href="/wiki/system/hass-music-notation-by-peter-hass/">original version</a
  >. C# (&#8220;O&#8221;) is on a ledger line. This staff is the same as that of
  the <a href="/system/numbered-notes-notes-only-by-jason-maccoy/"
    >Numbered Notes</a
  > system by Jason MacCoy. The pitch nomenclature, noteheads, and stem placement
  differ.
</p>
<p>
  Website: <a href="http://chromatic-staff.dk/">http://chromatic-staff.dk</a>
</p>
<p>First Introduced: 2014</p>
<p>
  Source: Peter Hass, <a href="http://chromatic-staff.dk/">chromatic-staff.dk</a
  > website
</p>
<p>
  Similar Notations: <a
    href="/system/numbered-notes-notes-only-by-jason-maccoy/"
    >Numbered Notes, Notes-Only Version</a
  >, <a href="/wiki/system/hass-music-notation-by-peter-hass/"
    >Hass notation (original version)</a
  >, <a href="/system/twinline-notation-by-thomas-reed/">Twinline</a>, <a
    href="/system/twinnote-by-paul-morris/">TwinNote</a>
</p>
