<p>
  A group of three solid lines alternates with a group of two ledger lines. The
  staff has a <a href="/tutorials/6-6-and-7-5-pitch-patterns/"
    >7-5 line pattern</a
  > much like the <a href="/system/klavar-mirck-version-by-jean-de-buur/"
    >Mirck version of Klavar</a
  >. The notes in the spaces between the lines are the notes of the C major
  scale (the white piano keys), and the notes falling on the lines are the the
  other five notes of the chromatic scale (the black piano keys). Between the
  groups of two and three lines there are two adjacent spaces without a line
  separating them that represent the notes E, F, and B, C. The physical distance
  between the two groups of lines is equal to 1.5 spaces so that the vertical
  spacing of the notes is even and pitch-proportional.
</p>
<p>Earliest documentation: 1989</p>
<p>
  Source: <a href="/mnma/publications/#proposals"
    >Directory of Music Notation Proposals</a
  >, section/page: 13/63
</p>
<p>
  Other Similar Notations: <a href="/system/6-6-tetragram-by-richard-parncutt/"
    >6-6 Tetragram by Richard Parncutt</a
  >, <a href="/system/6-6-trigram-notation-by-richard-parncutt/"
    >6-6 Trigram by Richard Parncutt</a>
</p>
