<p>
  This system is identical to Cornelis Pot&#8217;s <a
    href="https://en.wikipedia.org/wiki/Klavarskribo"
    target="_blank">Klavar</a
  > with two exceptions. First, the pitch axis is pitch-proportional as in the <a
    href="/system/klavar-mirck-version-by-jean-de-buur/"
    >Mirck variant of Klavar</a
  >. (Unlike Mirck, however, Dekker retains the vertical orientation of the
  original Klavar staff. The above image of the chromatic scale rotates the
  staff 90 degrees for display alongside other systems.)  Second, the placement
  of noteheads above or below the stem has changed to a <a
    href="/tutorials/6-6-and-7-5-pitch-patterns/">6-6 pattern</a
  > instead of a 7-5 pattern. The noteheads for C, D, E, F#, G#, and A# are placed
  above the stem, and the noteheads for C#, D#, F, G, A, and B are placed below the
  stem. This pattern makes this version of Klavar correspond well with a 6-6 keyboard
  that has 7-5 key coloring, such as a <a
    href="/wiki/instruments/janko-keyboard/">Jankó piano</a
  >. It also means that any interval or chord has one of two possible shapes,
  regardless of transposition, as seen in the illustrations by Dekker below.
</p>
<p>
  <img
    loading="lazy"
    class="alignnone size-full wp-image-2322"
    src="/wp-content/uploads/2012/07/klavar-dekker-intervals.png"
    alt="klavar-dekker-intervals"
    width="300"
    height="194"
  />
</p>
<p>
  The following image compares the Dekker version of Klavar with the standard
  version (a.k.a. &#8220;Klavarskribo&#8221;), and illustrates the greater
  consistency of interval shapes in the Dekker version.
</p>
<p>
  <img
    loading="lazy"
    class="alignnone size-full wp-image-2321"
    src="/wp-content/uploads/2012/07/klavar-dekker-and-standard.png"
    alt="klavar-dekker-and-standard"
    width="680"
    height="471"
    srcset="/wp-content/uploads/2012/07/klavar-dekker-and-standard.png 680w, /wp-content/uploads/2012/07/klavar-dekker-and-standard-300x208.png 300w, /wp-content/uploads/2012/07/klavar-dekker-and-standard-433x300.png 433w"
    sizes="(max-width: 680px) 100vw, 680px"
  />
</p>
<p>
  Dekkers&#8217; 6-6 arrangement of noteheads with respect to the stems is
  similar to that of <a href="/system/isomorph-notation-by-tadeusz-wojcik/"
    >Isomorph</a
  >, as can be seen by comparing Dekkers&#8217; major chords above with
  Isomorph&#8217;s in <a href="/pdf/comparisons/Triads.pdf">this PDF</a>.  The
  difference is that Isomorph uses a 6-6 staff and a 6-6 coloring of noteheads,
  whereas Dekker&#8217;s staff and notehead coloring are 7-5.
</p>
<p>
  Similar notations: <a href="/system/klavar-mirck-version-by-jean-de-buur/"
    >Klavar, Mirck Version by Jean de Buur</a
  >, <a href="/system/6-6-klavar-by-cornelis-pot/">6-6 Klavar by Cornelis Pot</a
  >, <a href="/system/isomorph-notation-by-tadeusz-wojcik/"
    >Isomorph by Tadeusz Wójcik</a
  >
</p>
<p>
  Source: Antoon Dekker, posting to the Music Notation Project Forum on July 21,
  2015
</p>
