<p>
  <em
    >See more scales, intervals, and melodies with the <a
      href="/systems/audiovisualizer/?staff=3.3&notes=0&position=11"
      >AudioVisualizer</a
    >.</em
  >
</p>
<p>
  The image above shows the &#8220;Notes-Only&#8221; version of the Numbered
  Notes system. As its title indicates, this system emphasizes the use of
  numbers for identifying pitches, but this version omits the numbers. (The <a
    href="/system/numbered-notes-numbers-only-by-jason-maccoy/"
    >Numbers-Only version</a
  > uses the numbers themselves as noteheads, and a third version presented on the
  Numbered Notes website, has numbers printed in front of each notehead, the way
  accidentals are in traditional notation, as an optional learning aid.)
</p>
<p>
  Rhythmic notation is the same as in traditional notation.  The Numbered Notes
  staff is rare in that it spaces its lines a minor third apart. (<a
    href="/system/hass-notation-3-line-version/">Hass</a
  > notation, <a href="/notationsystems/more-notation-systems/#drielijn"
    >Drielijn</a
  > notation, and <a href="/system/lautus-notation-by-bruce-allen-dickey/"
    >Lautus</a
  > notation also have this minor-third spacing. Minor-third spacing was discussed
  by Siemen Terpstra, one of the evaluators during the <a
    href="/mnma/research-project/">MNMA&#8217;s Research Project</a
  >. A minor-third-spaced staff has been described by <a
    href="http://www.chromatic-staff.dk/">Peter Hass</a
  >, and also on the Music Notation Project <a
    href="http://groups.google.com/group/musicnotation"
    target="_blank">Forum</a
  >, as a good notation for the <a
    href="http://en.wikipedia.org/wiki/Chromatic_button_accordion"
    target="_blank">chromatic button accordion</a
  >, whose isomorphic button layout has pitches arranged in rows of minor
  thirds, a 4-4-4 pattern.)
</p>
<p>
  Website: <a href="http://numberednotes.com/" target="_blank"
    >http://numberednotes.com/</a
  >
</p>
<p>First Introduced: 2009, Numbered Notes Website</p>
<p>Source: Jason MacCoy, Numbered Notes Website</p>
<p>
  Similar Notations: <a href="/system/untitled-by-robert-stuckey/"
    >Untitled by Robert Stuckey</a
  >, which also uses numbers for noteheads.
</p>
<p>
  On the version that has numbers printed in front of each notehead, see our <a
    href="/notationsystems/criteria/#17">criterion 17</a
  >.
</p>
