<p>
  <em
    >See more scales, intervals, and melodies with the <a
      href="/systems/audiovisualizer/?staff=3.3&notes=0&position=11"
      >AudioVisualizer</a
    >.</em
  >
</p>
<p>
  The image above shows the &#8220;Numbers-Only&#8221; version of the Numbered
  Notes system. As its title indicates, this system emphasizes the use of
  numbers for identifying pitches, and this version uses the numbers themselves
  as noteheads. (A version presented on the Numbered Notes website, has numbers
  printed in front of each notehead, the way accidentals are in traditional
  notation, as an optional learning aid.  The &#8220;<a
    href="/system/numbered-notes-notes-only-by-jason-maccoy/">Notes-Only</a
  >&#8221; version uses noteheads without numbers.)
</p>
<p>
  Rhythmic notation is the same as in traditional notation, except that a novel
  means of distinguishing between half and quarter notes is introduced. The
  Numbered Notes notation system is rare in that it spaces its lines a minor
  third apart.  (See the &#8220;<a
    href="/system/numbered-notes-notes-only-by-jason-maccoy/">Notes-Only</a
  >&#8221; version for a discussion of other systems that have this minor-third
  spacing.)
</p>
<p>
  Website: <a href="http://numberednotes.com/" target="_blank"
    >http://numberednotes.com/</a
  >
</p>
<p>First Introduced: 2009, Numbered Notes Website</p>
<p>Source: Jason MacCoy, Numbered Notes Website</p>
<p>
  Similar Notations: <a href="/system/untitled-by-robert-stuckey/"
    >Untitled by Robert Stuckey</a
  >, which also uses numbers for noteheads.
</p>
<p>
  On the version that has numbers printed in front of each notehead, see our <a
    href="/notationsystems/criteria/#17">criterion 17</a
  >.
</p>
