<p>
  Trilinear music notation has staff lines spaced a minor 3rd apart, with two
  notes positioned in the spaces between the lines. In order to make the staff
  compact enough to be practical for reading and writing, it uses three
  different note heads, an &#8216;X&#8217; sign, an &#8216;O&#8217; sign and a
  triangular &#8216;&lt;&#8216; sign. These three symbols align with their
  position on the staff and correspond to the three diminished 7th chords.
  (There are three diminished 7th chords, with four notes each, which covers all
  twelve notes of the chromatic scale.)
</p>
<p>
  The note head symbols are designed to be easy to write down quickly and
  legibly, even when the staff is small. For example, even if the symbols are
  not written down precisely in the right positions, one could still infer which
  notes are intended.
</p>
<p>
  The &#8216;basic&#8217; system (shown above) is designed to appeal to those
  familiar with standard notation — by roughly preserving the positions of
  notes, relative to the ledger line, on the traditional treble clef staff.  For
  example, the lowest staff line represents the note E.
</p>
<p>
  A second &#8220;Tri-Chromatic&#8221; version of the system (shown below) uses
  the same sequence of three symbols, but shifts their position so they are
  better aligned with <a href="/wiki/instruments/tri-chromatic-keyboard-layout/"
    >Roy Pertchik’s &#8220;Tri-Chromatic&#8221; keyboard layout</a
  > and its black, white (or silver), and red color system. In this version of Trilinear
  notation hollow ‘O’ note heads represent Pertchik’s white notes. Non-hollow ‘X’
  note heads represent his black notes. The triangular ‘&lt;’ note heads fall on
  the staff lines and the lines are colored red to represent the red notes. (But
  see criterion <a href="/systems/criteria/#7">7</a>.)
</p>
<p>
  <img
    loading="lazy"
    class="alignnone size-full wp-image-2527"
    src="/wp-content/uploads/2017/02/trilinear-with-trichromatic-jose-a-sotorrio-wpcf_500x110.png"
    alt="Trilinear music notation, Trichromatic version, by José A. Sotorrio"
    width="500"
    height="110"
    srcset="/wp-content/uploads/2017/02/trilinear-with-trichromatic-jose-a-sotorrio-wpcf_500x110.png 500w, /wp-content/uploads/2017/02/trilinear-with-trichromatic-jose-a-sotorrio-wpcf_500x110-300x66.png 300w"
    sizes="(max-width: 500px) 100vw, 500px"
  />
</p>
<p>
  Duration symbols (in both versions) are similar to traditional notation.  The
  difference is that half notes are indicated by a short vertical line that is
  drawn on the opposite side of the note head from where the stem conventionally
  appears.  Here is an image which shows the basic duration symbols.
</p>
<p>
  <img
    loading="lazy"
    class="alignnone size-full wp-image-2528"
    src="/wp-content/uploads/2017/02/trilinear-durations.png"
    alt=""
    width="560"
    height="215"
    srcset="/wp-content/uploads/2017/02/trilinear-durations.png 560w, /wp-content/uploads/2017/02/trilinear-durations-300x115.png 300w, /wp-content/uploads/2017/02/trilinear-durations-500x192.png 500w"
    sizes="(max-width: 560px) 100vw, 560px"
  />
</p>
<p>First Introduced: January 2017</p>
<p>Source: José A. Sotorrio</p>
<p>
  Similar Notation Systems: <a href="/system/hass-notation-3-line-version/"
    >Hass</a
  >, <a href="/system/untitled-by-nicolai-dolmatov/">Dolmatov</a>, <a
    href="/system/bilinear-notation-by-jose-a-sotorrio/">Bilinear</a
  > (also by Sotorrio)
</p>
