<p>
  TwinNote TD is an alternative &#8216;traditional duration&#8217; version of <a
    href="/system/twinnote-by-paul-morris/">TwinNote</a
  >. It uses hollow and solid notes to indicate duration as in traditional
  notation making it fully consistent with traditional rhythm notation. This
  would make it easier to learn both systems and use them interchangeably.
</p>
<p>
  Source: Paul Morris, December 2009. (TwinNote TD was known simply as
  &#8220;TwinNote&#8221; during 2010, before Morris switched to the current name
  in early January of 2011. In March of 2011 Morris shifted the note positions
  up by a semitone to make C D E F G A B correspond with the lines and spaces of
  the traditional treble staff (instead of just C D E).)
</p>
<p>
  Website: <a href="http://clairnote.org/twinnote/learn/twinnote-td/"
    >TwinNote Music Notation</a>
</p>
<p>Manuscript paper: Discontinuous Staves Continuous Staves</p>
