<p>
  The staff is similar to the basic <a
    href="/systems/group/whole-step-4-3-lines/">4-line staff</a
  > designs, but now the two lines that alternate with the four-line staff are dashed
  instead of being ledger lines. The noteheads are colored according to the <a
    href="/tutorials/6-6-and-7-5-pitch-patterns/">7-5 pitch pattern</a
  >, with the notes of the C major scale being white/hollow, and the other five
  notes black/solid. Like Parncutt&#8217;s <a
    href="/systems/group/whole-step-4-3-lines/">6-6 Tetragram</a
  >, the bottom line of the four-line staff is an F which aligns the staff with
  the 7-5 pattern. The two dashed lines are (C#/Db) and (D#/Eb), while the three
  spaces between the four solid lines are (F#/Gb), (G#/Ab), and (A#/Bb). The
  standard staff has ten lines, two groups of four solid lines with one group of
  two dashed lines in between them. The image above includes a second set of two
  dashed lines at the top of the staff for a full two octaves.
</p>
<p>
  Source: <a href="/mnma/publications/#proposals"
    >Directory of Music Notation Proposals</a
  >, section/page: 10/16, 11/4, 13/36; and two pages of illustrations by Grassl
  in &#8220;Illustrations of Music Notation Systems&#8221; compiled by Thomas S.
  Reed, 1997 (unpublished because of copyright concerns).  The latter source
  clearly shows the 7-5 notehead coloring, whereas the system was depicted with
  conventional notehead coloring in &#8220;Chromatic Notation, The Results and
  Conclusions of the International Enquiry by the Chroma Foundation&#8221;
  (1983).
</p>
<p>Earliest Documentation: 1983</p>
<p>
  Similar Notations: <a href="/systems/group/whole-step-4-3-lines/"
    >Four-line Notations</a
  >, <a href="/system/ambros-system-by-august-ambros/">Ambros System</a>
</p>
<p>
  Manuscript Paper: <a
    href="/pdf/manuscript/Grassel-Discon.pdf"
    target="_blank"
  >
    Discontinuous Staves</a
  >, <a href="/pdf/manuscript/Grassel-Contin.pdf" target="_blank"
    >Continuous Staves</a
  >
</p>
