<p>
  Each note is either a traditional oval notehead or a small &#8220;x&#8221;,
  with six of each shape per octave.  Traditional stems, flags etc. are used. 
  The standard staff spans two octaves, consisting of three horizontal lines
  widely spaced (approx. 12mm apart) with each line representing C.  Ledger
  lines representing E and G#/Ab occur as needed.
</p>
<p>
  Earliest documentation: 1995 (<a href="/mnma/publications/#news"
    >Music Notation News</a
  >)
</p>
<p>
  Source: <a href="/mnma/publications/#proposals"
    >Directory of Music Notation Proposals</a
  >, section/page: 10/13, 11/1, 13/27
</p>
<p>
  Manuscript Paper: <a
    href="/pdf/manuscript/Dolmatov-Discon.pdf"
    target="_blank"
  >
    Discontinuous Staves</a
  >
  <a href="/pdf/manuscript/Dolmatov-Contin.pdf" target="_blank">
    Continuous Staves</a>
</p>
