<p>
  Instead of traditional noteheads, numbers and letters are used (0, 1, 2, 3, 4,
  5, 6, 7, 8, 9, X, N), each representing a particular pitch of the chromatic
  scale. (It is an absolute-pitch system, not a relative-pitch system like <a
    href="/system/thumline-notation-by-jim-plamondon/">Thumline</a
  >.) They are placed at twelve different elevations on a 3-line staff that
  spans an octave. The upper and lower lines represent C. The middle line is F#.
  Stems extend upward or downward from the numbers. Stuckey has now withdrawn
  this proposal.
</p>
<p>Earliest documentation: 1983</p>
<p>
  Source: <a href="/mnma/publications/#proposals"
    >Directory of Music Notation Proposals</a
  >, section/page: 10/30, 11/1, 13/93
</p>
<p>
  Manuscript Paper: <a
    href="/pdf/manuscript/Stuckey-Discon.pdf"
    target="_blank"
  >
    Discontinuous Staves</a
  >
  <a href="/pdf/manuscript/Stuckey-Contin.pdf" target="_blank">
    Continuous Staves</a>
</p>
<p>
  Similar notations: <a
    href="/system/numbered-notes-notes-only-by-jason-maccoy/"
    >Numbered Notes by Jason MacCoy</a>
</p>
