---
import MnpLayoutWiki from "../../../../layouts/MnpLayoutWiki.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutWiki
  metaTitle={makeMetaTitle("Numbered Notes by Jason MacCoy", "Wiki")}
  metaDescription="A wiki page about the Numbered Notes music notation system by Jason MacCoy."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="wiki_page type-wiki_page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">Numbered Notes by Jason MacCoy</h1>
        </header>

        <div class="entry-content">
          <p>
            Numbered Notes is an alternative music notation system introduced by
            Jason MacCoy in 2009.  It uses the numbers from 1 to 12 to designate
            notes.  There have been two major versions of the system.  The first
            version (2009-2012) places the notes on a chromatic staff, while the
            second version (2012-) uses a flat staff.
          </p>
          <p><strong>Version 1 (Chromatic staff)</strong></p>
          <p>
            This version was presented at numberednotes.com from 2009 to 2012. 
            It uses a chromatic (12-note) staff with lines placed three
            semitones apart, and features a &#8220;counts per measure&#8221;
            timing system in which notes are modified to be
            &#8220;fractional&#8221; or &#8220;multiple&#8221; in a consistent
            way.  Details can be found in <a
              href="http://qmusiqconsortium.ning.com/profiles/blogs/how-we-are-going-to-raise"
              >this post</a
            >.  See also <a
              href="/system/numbered-notes-numbers-only-by-jason-maccoy/"
              >this page</a
            > on our main site. Below is the start of Mozart&#8217;s &#8220;Rondo
            Alla Turca&#8221; rendered in Numbered Notes. The full piece is available
            <a
              href="/wp-content/uploads/2015/01/numbered-notes-rondo-alla-turca.pdf"
              >here</a
            >.
          </p>
          <p>
            <a
              href="/wp-content/uploads/2015/01/numbered-notes-rondo-alla-turca.png"
              ><img
                loading="lazy"
                src="/wp-content/uploads/2015/01/numbered-notes-rondo-alla-turca.png"
                alt="numbered-notes-rondo-alla-turca"
                width="714"
                height=""
                class="alignnone size-medium wp-image-2149"
                srcset="/wp-content/uploads/2015/01/numbered-notes-rondo-alla-turca.png 1024w, /wp-content/uploads/2015/01/numbered-notes-rondo-alla-turca-300x132.png 300w, /wp-content/uploads/2015/01/numbered-notes-rondo-alla-turca-500x220.png 500w"
                sizes="(max-width: 1024px) 100vw, 1024px"
              />
            </a>
          </p>
          <p>
            To render a LilyPond file (.ly) in this version of Numbered Notes,
            follow the instructions at <a href="/wiki/software/lilypond/"
              >our LilyPond page</a
            >, using &#8220;StaffNumberedNotes&#8221; from the provided <code
              >MNP-scripts.ly</code
            > file.
          </p>
          <p><strong>Version 2 (Flat staff)</strong></p>
          <p>
            This version was introduced in 2012 and features a text-based
            notation in which notes are laid out in a row and apostrophes next
            to a note are used to show range instead of vertical position on a
            staff.  Details can be found at <a href="http://numberednotes.com"
              >numberednotes.com</a
            >.
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutWiki>
