---
import MnpLayout from "../../../layouts/MnpLayout.astro";
import { makeMetaTitle } from "../../../utils/utils";
---

<MnpLayout
  metaTitle={makeMetaTitle("MuseScore", "Software")}
  metaDescription="MuseScore is free and open-source music notation software that has some potential for being modified for use with alternative music notation systems."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="page type-page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">
            MuseScore and Alternative Music Notation Systems
          </h1>
        </header>

        <div class="entry-content">
          <div style="width: 160px" class="wp-caption alignright">
            <a href="http://musescore.org/"
              ><img
                loading="lazy"
                title="MuseScore Logo"
                src="http://s.musescore.org/about/images/musescore-mu-whitebg-s.png"
                alt="MuseScore Logo"
                width="150"
                height="127"
              />
            </a><p class="wp-caption-text">MuseScore Logo</p>
          </div>
          <p>
            <a href="http://musescore.org/">MuseScore</a> is a free, open-source,
            cross-platform music notation application for composing, editing, and
            printing sheet music.
          </p>
          <p>
            Craig Fisher is working on adding features to MuseScore that are
            needed to support various alternative music notation systems.  This
            will be a big step forward to have this level of support built into
            a graphical notation application like MuseScore.  Read more about
            his work and follow his progress on his website: <a
              href="https://musicrewritten.wordpress.com/"
              >https://musicrewritten.wordpress.com/</a
            >
          </p>
          <p>
            Jan Braunstein has used MuseScore to create and print sheet music
            for his <a href="/system/chromatic-lyre-notation-by-jan-braunstein/"
              >Chromatic Lyre Notation</a
            >. Below are some helpful tips from Jan on how he did this with
            MuseScore, even though it does not currently support chromatic-staff
            notation systems.
          </p>
          <p>
            Be aware that the process involves various workarounds and is not
            automated, convenient, or user-friendly. MuseScore will be easier to
            use with alternative notation systems that more closely resemble
            traditional music notation. Our thanks to Jan for providing his
            insights on this.
          </p>
          <p>
            MuseScore does support plug-ins, so it might be possible to create a
            plug-in that provides more native and comprehensive support for
            chromatic-staff notation systems.
          </p>
          <h2>Staves</h2>
          <p>
            To change the number of lines in a staff, choose &#8220;Stave
            Properties&#8221; (right click anywhere on a staff). In the
            &#8220;Lines&#8221; box, choose the appropriate number. To generate
            some staff line patterns you may need to create an additional staff
            and do the same with it. Adjust the spacing between the staves under
            &#8220;Style&#8221; menu &gt; &#8220;Edit General Style&#8221; &gt;
            &#8220;Page&#8221; &gt; &#8220;Stave Distance&#8221; (e.g.
            &#8220;2sp&#8221;). Add additional staves to get a wider range.
          </p>
          <p>
            When entering notes on the staff, enter them so that they appear at
            the desired position on the staff and are visually correct for
            printout.
          </p>
          <h2>Noteheads</h2>
          <p>
            To use noteheads that differ from standard notation (e.g. quarter
            note (quaver) with hollow notehead), use the &#8220;Note
            Heads&#8221; palette and drag and drop any symbol from there to the
            notehead in your score that you want to change. That replaces the
            original notehead. To change more than one note at a time use
            control-click or command-click (depending if you&#8217;re on mac or
            windows) to select multiple notes and then double-click the symbol
            you want in the &#8220;Note Heads&#8221; palette to change them all.
            You can add other symbols to the &#8220;Note Heads&#8221; palette
            from &#8220;Create&#8221; menu &gt; &#8220;Symbols&#8221;.
          </p>
          <h2>&#8220;Note Properties&#8221; Menu</h2>
          <p>
            You can access the &#8220;Note Properties&#8221; menu by
            right-clicking on a note. This lets you change the notehead group
            and type, stem settings, and other parameters.
          </p>
          <h2>Custom Symbols and Fonts</h2>
          <p>
            MuseScore comes with a built-in font that contains the symbols for
            noteheads, stems, rests, etc. Unfortunately, MuseScore&#8217;s
            handling of different font symbols can be a bit inconsistent, and it
            currently does not allow any other fonts to be used, or allow any
            customization of the the built-in font. This makes things more
            difficult if you need to use custom symbols. However, it is possible
            to create your own symbols as bitmap images that you can place
            anywhere in the score. On a Mac you can just drag and drop an image
            into the score to insert it.
          </p>
          <h2>The &#8220;Set Invisible&#8221; Function</h2>
          <p>
            The &#8220;Set Invisible&#8221; function is very useful. Access it
            by right-clicking on anything. Use it to hide noteheads, stems, and
            a range of other things, then replace them with other symbols.
          </p>
          <h2>Ledger Lines</h2>
          <p>
            To add custom ledger lines you will probably need to use the
            &#8220;Lines&#8221; palette to draw them by hand. MuseScore does not
            currently provide a way to hide ledger lines. Even when you go to
            &#8220;Style&#8221; menu &gt; &#8220;Edit General Style&#8221; &gt;
            &#8220;Notes&#8221; and set the ledger lines width to zero, they are
            still displayed and printed. (This may be a bug that goes unnoticed
            because it is rarely encountered in traditional notation.)
          </p>
          <h2>Clefs</h2>
          <p>
            Set the orginal clef to invisible using the &#8220;Set
            Invisible&#8221; function (by right-clicking on the clef) and
            replace it with a custom symbol. It is probably better to use clef
            symbols from &#8220;Create&#8221; menu &gt; &#8220;Symbols,&#8221;
            rather than the &#8220;Clefs&#8221; palette since it is easier to
            place them exactly where you want. This also lets you use your own
            symbols from bitmap image files.
          </p>
          <h2>Drumset Staves</h2>
          <p>
            MuseScore&#8217;s &#8220;drumset&#8221; feature lets you customize
            the staff, remapping pitches to different vertical positions (lines
            or spaces), and selecting which note head to use for each line or
            space. Then you can use a MIDI instrument to enter notes on your
            custom drumset staff. You can also enter notes with your computer
            keyboard by setting shortcut keys for particular notes.
            Unfortunately, mouse-based note entry is different than for normal
            staves. You can&#8217;t just click on the appropriate line or space
            to enter a given note/drum. You have to select the drum/note you
            want to enter using the drums palette, entering one kind of
            drum/note at a time. Also, you cannot just move a note up and down
            the staff by dragging it, although you can move it up or down using
            the up and down arrow keys. See <a
              href="http://www.youtube.com/watch?v=KFj7v5S4Akw&feature=channel_video_title"
              target="_blank"
              >this video on creating drumset parts in MuseScore</a
            >.
          </p>
          <p>
            To set up a drumset staff go to &#8220;Staff Properties&#8221;
            (right click on the staff), select &#8220;Use Drumset,&#8221; and
            then click &#8220;OK&#8221;. Right click on the staff again and
            select &#8220;Edit Drumset&#8221;. A menu appears where you can
            assign midi notes to lines in the staff and also choose one of four
            pre-defined sets of different notehead for any note.
          </p>
          <h2>Audio Playback</h2>
          <p>
            Audio playback may not be important if the goal is simply to produce
            visually correct printouts. However, it is possible to achieve
            correct playback using a &#8220;Drumset,&#8221; see above. This
            feature lets you link midi notes to different staff positions, as in
            Finale. Unfortunately, MuseScore currently has fewer options for
            customization than Finale.
          </p>
          <p>&nbsp;</p>
          <h2>Wishlist</h2>
          <ol>
            <li>
              For drumset staves: allow standard note entry so that you can just
              click on the appropriate line or space to enter a note for a
              particular drum, rather than having to keep switching back and
              forth between different drums using the drums palette.
            </li>
            <li>
              Allow users to create additional custom note head types/shapes,
              perhaps by importing an image file for a particular note head
              symbol, or by using symbols from fonts besides MuseScore&#8217;s
              default font.
            </li>
            <li>
              For Drumset notation: allow users to define different note heads
              for different note durations, for example, one note head type for
              crotchets and another for minims of one particular pitch. This
              could just be one note head shape for &#8220;solid&#8221; notes
              (crotchets or smaller duration) and one for &#8220;hollow&#8221;
              notes (minims or larger).
            </li>
            <li>
              Allow users to customize the vertical position of staff lines
              beyond just setting how many lines a given staff has (in Staff
              Properties).
            </li>
          </ol>
          <p>&nbsp;</p>
          <p><em>This page last updated March 2011 (MuseScore 1.0).</em></p>
        </div>
      </article>
    </div>
  </div>
</MnpLayout>
