---
import MnpLayoutWiki from "../../../../layouts/MnpLayoutWiki.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutWiki
  metaTitle={makeMetaTitle(
    "The Squiggle Method of Pitch Visualization",
    "Wiki"
  )}
  metaDescription="The Squiggle is a vertical alternative to the traditional keyboard for visualizing combinations of notes, by David Zethmayr."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="wiki_page type-wiki_page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">
            The Squiggle Method of Pitch Visualization
          </h1>
        </header>

        <div class="entry-content">
          <h3>An Alternative Model for Seeing Note Combinations</h3>
          <p>
            The Squiggle is a vertical alternative to the traditional keyboard
            for visualizing combinations of notes, by David Zethmayr. The
            Squiggle is the organizing principle of Zethmayr&#8217;s <a
              href="/wiki/notation-systems/slantnote-by-david-zethmayr/"
              >Slantnote</a
            > notation.
          </p>
          <p>
            <img
              loading="lazy"
              alt="Squig keyboard.png"
              src="/wp-content/uploads/2013/03/120px-Squig_keyboard.png"
              width="120"
              height="248"
            />
          </p>
          <p>
            The Squiggle is all about pattern, diatonic and otherwise.
            It&#8217;s a communication medium between ear and eye that is easy
            to cultivate. Ear-first musicians such as singers and
            multi-instrumentalists will find it convenient for converting improv
            and intuition skills to music reading, transposing and arranging
            skills.
          </p>
          <h3>Squiggle Theory is A Key-free Pattern Language</h3>
          <p>
            <img
              loading="lazy"
              alt="Squig namings four.png"
              src="/wp-content/uploads/2013/03/480px-Squig_namings_four.png"
              width="480"
              height="252"
            />
          </p>
          <p>
            All the basics of music theory are quicker to teach and to
            self-teach with squiggle theory. Squiggle, like movable solfege, is
            not tied to a fixed, absolute naming schema for notes. It is
            &#8220;key-agnostic,&#8221; letting you focus on pattern rather than
            prematurely plunging into note name calculations: &#8220;E/F is a
            semitone, and B/C is a semitone, and all the rest &#8230; so the C/E
            third is major because no semitone intervenes.&#8221;
          </p>
          <h3>Cis-Trans Diatonic Pattern</h3>
          <p>
            Notice how the squiggle preserves the cyclic diatonic visual
            &#8230;-3-4-&#8230; pattern through all the naming conventions
            schematized on it above. This is the <em>cis-trans</em> principle at
            work.
          </p>
          <p>
            <img
              loading="lazy"
              alt="Squig triad types four.png"
              src="/wp-content/uploads/2013/03/432px-Squig_triad_types_four.png"
              width="432"
              height="151"
            />
          </p>
          <p>
            Since there are but two banks to Squiggle River, notes residing on
            either side participate in intervals and patterns of intervals
            according to whether their semitone distances are even or odd.
            Squiggle terminology expresses even-odd in terms of <em
              >same side</em
            > or <em>opposite sides,</em> shortened to <em>cis</em> and <em
              >trans</em
            > respectively.
          </p>
          <p>
            The terminology of squiggle theory hinges on the <i
              ><b>cis-trans</b>
            </i> distinction, crucial to characterizing intervals, triads and chords.
            Notes on opposite sides (<i>banks</i>) of the squiggle are <i
              ><b>trans</b>
            </i> to each other. Notes on the same side are <i><b>cis</b></i> (pronounce
            as in &#8220;cistern&#8221;).
          </p>
          <p>
            It may not be obvious to a beginner that left-right mirroring is not
            important in squiggle. Only <em>cis-trans</em> matters. The diatonic
            &#8230;-3-4-&#8230; pattern (or any other cis-trans pattern) is independent
            of the left-right distinction. Saying so explicitly is preliminary to
            a discussion of modulation.
          </p>
          <h3>How Keys Happen: Dominant, Subdominant</h3>
          <p>
            <img
              loading="lazy"
              alt="Mod1Resonance.png"
              src="/wp-content/uploads/2013/03/270px-Mod1Resonance.png"
              width="270"
              height="249"
            />
          </p>
          <p>
            Being key-agnostic does not mean the concept of keys is too advanced
            for squiggle theory. To the contrary, squiggle clarifies how keys
            happen. Modulation is a pattern concept requiring either a ready
            familiarity with the diatonic implications of C-D-EF-G-A-BC as notes
            are flatted or sharped, or a visual such as the squiggle or some
            Category Eight-compliant notation staff. Independent of any staff
            reference, the squiggle offers its clear cis-trans binary
            distinction, the distinction that is implicated in most of the
            theoretic difficulties in front of the beginning musician.
          </p>
          <p>
            When a slanted note shifts sides, it might be the degree 4 note
            (slanted right-end-down) <em>sharping</em> (raised a semitone) to become
            the 7th degree of a new <em>key</em>, the <em>dominant</em> of the old
            key. The diatonic &#8220;34&#8221; pattern resumes but with the <em
              >cis</em
            > groupings on reversed squiggle banks.
          </p>
          <p>
            Similarly, <em>flatting</em> the 7th degree (lowering it a semitone)
            makes it become degree 4 of a new key, the <em>subdominant</em> of the
            old key, preserving the diatonic &#8220;34&#8221; pattern as in the opposite
            modulation.
          </p>
          <p>
            &#8212; &#8220;Slantnote&#8221; (David Zethmayr) 3 December 2011
            (MST)
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutWiki>
