---
import MnpLayoutWiki from "../../../../layouts/MnpLayoutWiki.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutWiki
  metaTitle={makeMetaTitle("Equiton by Rodney Fawcett", "Wiki")}
  metaDescription="Documentation of Equiton alternative music notation system by Rodney Fawcett."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="wiki_page type-wiki_page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">Equiton Music Notation by Rodney Fawcett</h1>
        </header>

        <div class="entry-content">
          <p>
            <img
              loading="lazy"
              class="alignnone size-full wp-image-1220"
              src="/wp-content/uploads/2013/03/Equiton-chromatic.png"
              alt="Equiton-chromatic"
              width="500"
              height="117"
              srcset="/wp-content/uploads/2013/03/Equiton-chromatic.png 500w, /wp-content/uploads/2013/03/Equiton-chromatic-300x70.png 300w"
              sizes="(max-width: 500px) 100vw, 500px"
            />
          </p>
          <p>
            Equiton is a notation system designed by Rodney Fawcett and
            published by him in Zurich in 1958. It uses a six-degree staff
            rather than either a pitch-proportional twelve-degree chromatic
            staff, or a traditional diatonic staff. It uses its own rhythm
            notation system rather than using the traditional duration symbols.
            In 2004, Mark Gould designed a <a
              href="/wp-content/uploads/2013/03/Gould_Equiton_Slides.pdf"
              >variant</a
            > of Equiton that uses his own novel rhythmic notation.
          </p>
          <p>
            There&#8217;s more info on Equiton on <a
              href="http://tonalsoft.com/monzo/equiton/equiton.htm"
              rel="nofollow">this page</a
            > from the Encyclopaedia of Tuning site, in an incomplete translation.
            On that same page are depictions of:
          </p>
          <ol>
            <li>Walter Steffens&#8217;s notation in an example by Webern</li>
            <li>
              <a href="/system/untitled-by-arnold-schoenberg/" rel="nofollow"
                >Schoenberg&#8217;s notation system</a
              > applied to his composition <i>Pierrot Lunaire</i>
            </li>
            <li>Klavarskribo in a sonata by Chopin</li>
            <li>
              A comparative table of a piece by Boulez in horizontal
              Klavarskribo, standard notation, and Equiton
            </li>
          </ol>
          <p>
            The images on that site appear to come from a book by Erhard
            Karkoschka on new music. The book has been translated from German to
            English.
          </p>
          <p>
            Mark Gould&#8217;s website <a
              href="https://equitonpress.wordpress.com/music-2/equiton/"
              rel="noopener"
              target="_blank">Equiton Press</a
            > discusses Equiton and presents his own version of Equiton that features
            a novel rhythm notation system. (In particular see his Equiton presentation
            slides document available via his website.)
          </p>
          <p>
            This <a
              href="http://etd.ohiolink.edu/send-pdf.cgi/Lewis%20Kevin%20D.pdf?akron1271353110"
              rel="nofollow">master&#8217;s thesis</a
            > by Kevin Lewis on graphic music notation depicts Equiton in passing.
          </p>
          <p>
            Equiton is illustrated on the <a
              href="http://clairnote.org/twinnote/learn/influences/"
              rel="nofollow">influences page</a
            > of the TwinNote site.
          </p>
          <p>
            There&#8217;s also a brief description of Equiton on the <a
              href="/systems/more-notation-systems/"
              rel="nofollow">More Notation Systems Page</a
            >.
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutWiki>
