---
import MnpLayoutWiki from "../../../../layouts/MnpLayoutWiki.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutWiki
  metaTitle={makeMetaTitle("SLING guitar notation by Ole Kirkeby", "Wiki")}
  metaDescription="A wiki page about SLING guitar notation by Ole Kirkeby."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="wiki_page type-wiki_page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">SLING guitar notation by Ole Kirkeby</h1>
        </header>

        <div class="entry-content">
          <p>
            SLING, by Ole Kirkeby, is an  acronym for &#8220;Schoenberg-Lyrebird
            Isomorphic Notation for Guitar.&#8221; It is closely related to
            Lyrebird by Jan Braunstein, Clairnote by Paul Morris, and <a
              href="/wiki/notation-systems/modified-schoenberg-notation-for-guitar-msg-by-ole-kirkeby/"
              >MSG</a
            > by Ole Kirkeby. Staff lines, from bottom to top, are E2 &#8211; C3
            &#8211; E3 &#8211; C4. The notation is designed for the major-thirds
            tuning for six-string guitar, in which the pitches of the strings are,
            from bottom to top, E2 &#8211; Ab2 &#8211; C3 &#8211; E3 &#8211; Ab3
            &#8211; C4. Kirkeby maintains <a href="http://m3guitar.com"
              >a web site with information about how to play a guitar tuned in
              major thirds</a
            >.
          </p>
          <p>
            <img
              loading="lazy"
              class="alignnone size-full wp-image-2507"
              src="/wp-content/uploads/2016/07/SLING-3octaves.png"
              alt="SLING-3octaves"
              width="1667"
              height="470"
              srcset="/wp-content/uploads/2016/07/SLING-3octaves.png 1667w, /wp-content/uploads/2016/07/SLING-3octaves-300x85.png 300w, /wp-content/uploads/2016/07/SLING-3octaves-768x217.png 768w, /wp-content/uploads/2016/07/SLING-3octaves-1024x289.png 1024w, /wp-content/uploads/2016/07/SLING-3octaves-500x141.png 500w"
              sizes="(max-width: 1667px) 100vw, 1667px"
            />
          </p>
          <p>
            A <a href="/wp-content/uploads/2016/07/sling_3octaves.ly"
              >Lilypond file for the above 3-octave example</a
            > is provided. (See <a href="/wiki/software/lilypond/">LilyPond</a
            >.) The file requires a <a
              href="/wp-content/uploads/2013/03/lyrebird.ly"
              >Lilypond template for Lyrebird</a
            > and <a href="/wp-content/uploads/2013/03/msg.ly"
              >another for MSG</a
            > to be present as well.
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutWiki>
