---
import MnpLayoutWiki from "../../../../layouts/MnpLayoutWiki.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutWiki
  metaTitle={makeMetaTitle("Black", "Wiki")}
  metaDescription="Images illustrating Black-Oval Twinline by Paul Morris, an alternative music notation system, a variation on Twinline by Thomas Reed."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="wiki_page type-wiki_page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">Black-Oval Twinline by Paul Morris</h1>
        </header>

        <div class="entry-content">
          <p>
            This is a collection of images illustrating <a
              href="/system/black-oval-twinline-by-paul-morris/"
              rel="nofollow">Black-Oval Twinline</a
            >. Black-Oval Twinline was briefly named &#8220;TwinNote&#8221;
            between June and December of 2009, before Morris introduced the new
            version of <a href="/system/twinnote-by-paul-morris/" rel="nofollow"
              >TwinNote</a
            >. The images below originally appeared on the <a
              href="http://clairnote.org/twinnote/"
              rel="nofollow">TwinNote website</a
            > during this period. They were moved to this wiki page when the TwinNote
            website was updated to the new version of TwinNote in January 2010.
          </p>
          <h2>Basic Scales</h2>
          <p>C Major Scale:</p>
          <p>
            <img
              loading="lazy"
              alt="WTTL CMajorScale.png"
              src="/wp-content/uploads/2013/03/WTTL_CMajorScale.png"
              width="714"
              height="148"
            />
          </p>
          <p>A Major Scale:</p>
          <p>
            <img
              loading="lazy"
              alt="WTTL AMajorScale.png"
              src="/wp-content/uploads/2013/03/WTTL_AMajorScale.png"
              width="714"
              height="148"
            />
          </p>
          <p>C Minor Scale:</p>
          <p>
            <img
              loading="lazy"
              alt="WTTL CMinorScale.png"
              src="/wp-content/uploads/2013/03/WTTL_CMinorScale.png"
              width="714"
              height="148"
            />
          </p>
          <p>A Minor Scale:</p>
          <p>
            <img
              loading="lazy"
              alt="WTTL AMinorScale.png"
              src="/wp-content/uploads/2013/03/WTTL_AMinorScale.png"
              width="714"
              height="148"
            />
          </p>
          <p>Whole Tone Scales:</p>
          <p>
            <img
              loading="lazy"
              alt="WholeToneScales.png"
              src="/wp-content/uploads/2013/03/WholeToneScales.png"
              width="714"
              height="148"
            />
          </p>
          <p>Chromatic Scale:</p>
          <p>
            <img
              loading="lazy"
              alt="WTTL ChromaticScale.png"
              src="/wp-content/uploads/2013/03/WTTL_ChromaticScale.png"
              width="714"
              height="148"
            />
          </p>
          <p>&nbsp;</p>
          <h2>Major Scales with Whole Steps (W) and Half Steps (H)</h2>
          <p>
            <img
              loading="lazy"
              alt="WTTL MajorScales.png"
              src="/wp-content/uploads/2013/03/WTTL_MajorScalesWH.png"
              width="554"
              height="589"
            />
          </p>
          <h2>Minor Scales with Whole Steps (W) and Half Steps (H)</h2>
          <p>
            <img
              loading="lazy"
              alt="WTTL MinorScales.png"
              src="/wp-content/uploads/2013/03/WTTL_MinorScalesWH.png"
              width="554"
              height="589"
            />
          </p>
          <p>&nbsp;</p>
          <h2>Intervals</h2>
          <p>
            <img
              loading="lazy"
              alt="WTTL Wholetonescales.png"
              src="/wp-content/uploads/2013/03/WTTL_Wholetonescales.png"
              width="670"
              height="80"
            />
          </p>
          <p>
            <img
              loading="lazy"
              alt="WTTL Minorseconds.png"
              src="/wp-content/uploads/2013/03/WTTL_Minorseconds.png"
              width="670"
              height="80"
            />
          </p>
          <p>
            <img
              loading="lazy"
              alt="WTTL Majorseconds.png"
              src="/wp-content/uploads/2013/03/WTTL_Majorseconds.png"
              width="670"
              height="80"
            />
          </p>
          <p>
            <img
              loading="lazy"
              alt="WTTL Minorthirds.png"
              src="/wp-content/uploads/2013/03/WTTL_Minorthirds.png"
              width="670"
              height="80"
            />
          </p>
          <p>
            <img
              loading="lazy"
              alt="WTTL Majorthirds.png"
              src="/wp-content/uploads/2013/03/WTTL_Majorthirds.png"
              width="670"
              height="80"
            />
          </p>
          <p>
            <img
              loading="lazy"
              alt="WTTL Perfectfourths.png"
              src="/wp-content/uploads/2013/03/WTTL_Perfectfourths.png"
              width="670"
              height="80"
            />
          </p>
          <p>
            <img
              loading="lazy"
              alt="WTTL Tritones.png"
              src="/wp-content/uploads/2013/03/WTTL_Tritones.png"
              width="670"
              height="80"
            />
          </p>
          <p>
            <img
              loading="lazy"
              alt="WTTL Perfectfifths.png"
              src="/wp-content/uploads/2013/03/WTTL_Perfectfifths.png"
              width="670"
              height="80"
            />
          </p>
          <p>
            <img
              loading="lazy"
              alt="WTTL Minorsixths.png"
              src="/wp-content/uploads/2013/03/WTTL_Minorsixths.png"
              width="670"
              height="80"
            />
          </p>
          <p>
            <img
              loading="lazy"
              alt="WTTL Majorsixths.png"
              src="/wp-content/uploads/2013/03/WTTL_Majorsixths.png"
              width="670"
              height="80"
            />
          </p>
          <p>
            <img
              loading="lazy"
              alt="WTTL Minorsevenths.png"
              src="/wp-content/uploads/2013/03/WTTL_Minorsevenths.png"
              width="670"
              height="80"
            />
          </p>
          <p>
            <img
              loading="lazy"
              alt="WTTL Majorsevenths.png"
              src="/wp-content/uploads/2013/03/WTTL_Majorsevenths.png"
              width="670"
              height="80"
            />
          </p>
          <p>
            <img
              loading="lazy"
              alt="WTTL Octaves.png"
              src="/wp-content/uploads/2013/03/WTTL_Octaves.png"
              width="670"
              height="80"
            />
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutWiki>
