---
import MnpLayoutWiki from "../../../../layouts/MnpLayoutWiki.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutWiki
  metaTitle={makeMetaTitle("4-4-4 Pitch Pattern", "Wiki")}
  metaDescription="Discussion and visual example of using the isomorphic 4-4-4 pitch pattern as an approach to alternative music notation. It is similar to the 6-6 pattern and is found in the chromatic button accordion."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="wiki_page type-wiki_page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">4-4-4 Pitch Pattern</h1>
        </header>

        <div class="entry-content">
          <p>
            As discussed on the <a href="/wiki/isomorphism/">Isomorphism</a> page,
            there are various isomorphic patterns, ways of dividing up the twelve
            notes of the chromatic scale. One of these is the 4-4-4 pattern, found
            for example in <a
              href="/systems/group/minor-3rd-3-4-lines/"
              rel="nofollow"
              >chromatic notation systems with lines spaced three semitones
              apart</a
            > (a minor third apart), such as Numbered Notes by Jason MacCoy.
          </p>
          <p>
            This pattern is also found on the <a
              href="http://en.wikipedia.org/wiki/Chromatic_button_accordion"
              rel="nofollow">Chromatic Button Accordion</a
            >, where the buttons are arranged chromatically in rows of three. It
            is also present in the three-color pattern of Roy Pertchick&#8217;s <a
              href="http://www.youtube.com/watch?v=sGXmPzspJWI"
              rel="nofollow">Isomorphic Vibraphone (YouTube video)</a
            >, where it overlays a 6-6 pattern physical layout of the
            instrument.
          </p>
          <p>
            The tutorial on <a
              href="/tutorials/intervals-in-6-6-music-notation-systems/"
              rel="nofollow">Intervals in 6-6 Music Notation Systems</a
            > explores how notation systems with a 6-6 pitch pattern improves upon
            the appearance of intervals in traditional notation. The following image
            expands on that discussion by showing how intervals appear in a 4-4-4
            notation system. With the 4-4-4 pitch pattern each interval has three
            distinct appearances (whereas with a 6-6 pitch pattern each interval
            has two appearances).
          </p>
          <p>
            <img
              loading="lazy"
              class="alignnone size-full wp-image-1403"
              alt="4-4-4_NotationIntervals"
              src="/wp-content/uploads/2013/03/4-4-4_NotationIntervals.png"
              width="562"
              height="1151"
              srcset="/wp-content/uploads/2013/03/4-4-4_NotationIntervals.png 562w, /wp-content/uploads/2013/03/4-4-4_NotationIntervals-146x300.png 146w"
              sizes="(max-width: 562px) 100vw, 562px"
            />
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutWiki>
