---
import MnpLayoutBlog from "../../../../../layouts/MnpLayoutBlog.astro";
import { makeMetaTitle } from "../../../../../utils/utils";
---

<MnpLayoutBlog
  metaTitle={makeMetaTitle("Our new domain: http://musicnotation.org", "Blog")}
  metaDescription="A blog post about the new domain of the Music Notation Project website."
>
  <div id="primary">
    <div id="content" role="main">
      <nav id="nav-single">
        <h3 class="assistive-text">Post navigation</h3>
        <span class="nav-previous"
          ><a href="/blog/2008/07/13-notation-systems-added/" rel="prev"
            ><span class="meta-nav">&larr;</span> Previous Post</a
          >
        </span>
        <span class="nav-next"
          ><a href="/blog/2008/09/finale-notepad-2006-get-it/" rel="next"
            >Next Post <span class="meta-nav">&rarr;</span>
          </a>
        </span>
      </nav>

      <article
        class="post type-post status-publish format-standard hentry category-uncategorized"
      >
        <header class="entry-header">
          <h1 class="entry-title">Our new domain: http://musicnotation.org</h1>

          <div class="entry-meta">
            <span class="sep">Posted on</span>
            <time class="entry-date" datetime="2008-07-31T13:42:00+00:00"
              >July 31, 2008</time
            ><span class="by-author">
              <span class="sep"> by</span>
              <span class="author vcard"
                ><a
                  class="url fn n"
                  href="/blog/author/mnpadmin/"
                  title="View all posts by Webmaster"
                  rel="author">Webmaster</a
                >
              </span>
            </span>
          </div>
        </header>

        <div class="entry-content">
          <p>
            Our domain has now changed to the shorter and simpler <a href="/"
              >musicnotation.org</a
            > This domain was not available last January when the Music Notation
            Project&#8217;s site was launched at musicnotationproject.org We think
            this change will save everyone a lot of keystrokes over time.<span
              id="more-486"></span>
          </p>
          <p>
            Please update your bookmarks and links to
            &#8220;https://musicnotation.org&#8221; and help us spread the word
            about our site and its new address by telling others you know about
            it.
          </p>
          <p>
            Note that our former domains (musicnotationproject.org and mnma.org)
            will continue to work until further notice.
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutBlog>
