---
import MnpLayoutWiki from "../../../../layouts/MnpLayoutWiki.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutWiki
  metaTitle={makeMetaTitle("I", "Wiki")}
  metaDescription="Documentation of I-Accord Music Notation by Saieb Khalil, an alternative music notation system."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="wiki_page type-wiki_page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">I-Accord Music Notation by Saieb Khalil</h1>
        </header>

        <div class="entry-content">
          <p>
            The “I-Accord” (First accord or Iraq Accord) is a music notation
            system with 3 lines per octave designed by Saieb Khalil. (The first
            version of the text and images on this page came from his
            documentation of this system that he shared with the MNP. The name
            “I-Accord” is apparently a pun; &#8220;accord&#8221; is French for
            &#8220;chord.&#8221;)
          </p>
          <p>
            <img
              loading="lazy"
              alt="I-AccordMajorScale.jpg"
              src="/wp-content/uploads/2013/03/800px-I-AccordMajorScale.jpg"
              width="800"
              height="259"
            />
          </p>
          <p>
            1. It is based on relative values. The notes represent the relative
            value depending on its position w.r.t. the root note (I), which can
            be any note.
          </p>
          <p>
            2. Like other notation systems of this category, it is motivated by
            the fact that the relative position of the note has more a musical
            meaning than its physical measure of frequency.
          </p>
          <p>
            3. The lines in this system are assigned for the notes of the tonic,
            i.e., root chord (I chord) (I, III, V distances), while the spaces
            between the lines are for the rest of the notes.
          </p>
          <p>
            4. This is to emphasize the importance of these notes, melodically
            and harmonically. Melodically the set of notes representing I, III
            and V give (relative) “stability”, rest or cadence. These notes are
            the one “pulling” the other neighboring notes, which are known to be
            “tensed” notes, looking for a “line” to rest on. Therefore, this
            scheme is probably beneficial for the consciousness of musical
            tensions, and therefore, of special importance for music students
            and external people trying to learn it.
          </p>
          <p>
            5. The 3 lines are not spaced equally. The distance between each two
            reflect the distance between the chord notes concerned.
          </p>
          <p>
            6. Therefore, the staff of the minor scale is different than that of
            major, reflecting the difference between the two kinds of scales.
            The distance between the two lower lines are greater than that
            between the middle and upper line in the major scale staff,
            reflecting the difference between the distance between the root note
            and the third, being a major third, (2 full notes), and that between
            the 3rd and the 5th (being a minor 3rd). For the minor scale staff,
            the distance differences between the lines are inverted, as it is in
            music.
          </p>
          <p>
            7. The notes of the scale are represented differently from those of
            those outside the scale (like accidental sharped notes in C major or
            A minor). Here scale notes are shown as full ellipses and the rest
            as half ellipses. This makes it easy to distinguish any accidental
            without using additional signs or having to remember ones printed
            earlier in the staff.
          </p>
          <p>
            8. The fact that (only) I chord notes fall on the lines, makes it
            very easy to recognize such chords, whether in arpeggio form or
            other. This is true even for other forms of I chord, such as
            inverted chords (see figures).
          </p>
          <p>
            9. Being instantly able to distinguish the I chord, other chords
            would also be easier to recognize. A (I) chord with extra note, for
            example, will be easier to distinguish too. The combination will be
            more easily related to the original chord, and thus “understood”.
            The special effect of the extra note will be stressed in the mind of
            the music reader.
          </p>
          <p>
            10. The system doesn’t make use of notehead “color” to represent
            pitch, so the traditional use of it to represent duration is
            possible as in traditional notation, but if half ovals were found
            not so easily distinguishable, especially with hand writing, then
            they can be replaced by a hollow triangle, with the advantages and
            disadvantages as shown by previous experience.
          </p>
          <p>
            11. While it has a unique place for each pitch just like chromatic
            staff, it doesn’t have its drawback of too many lines.
          </p>
          <p>
            12. The asymmetry of the staff lines gives “special position”, not
            only for I chord notes, but the other notes too. The system would
            repeat the positions of the same notes in the next and previous
            octaves. Thus a “C” note will have similar position in different
            octaves, thus making it easier to recognize, unlike traditional
            notation system.
          </p>
          <p>
            <img
              loading="lazy"
              alt="I-AccordMinorScale.jpg"
              src="/wp-content/uploads/2013/03/800px-I-AccordMinorScale.jpg"
              width="800"
              height="239"
            />
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutWiki>
