---
import MnpLayoutBlog from "../../../../../layouts/MnpLayoutBlog.astro";
import { makeMetaTitle } from "../../../../../utils/utils";
---

<MnpLayoutBlog
  metaTitle={makeMetaTitle(
    "Website Revisions: Music Notations and Homepage",
    "Blog"
  )}
  metaDescription="A blog post about recent improvements to the Music Notation Project website related to the music notations pages and home page."
>
  <div id="primary">
    <div id="content" role="main">
      <nav id="nav-single">
        <h3 class="assistive-text">Post navigation</h3>
        <span class="nav-previous"
          ><a
            href="/blog/2008/02/new-forum-tutorials-and-website-search/"
            rel="prev"><span class="meta-nav">&larr;</span> Previous Post</a
          >
        </span>
        <span class="nav-next"
          ><a href="/blog/2008/07/13-notation-systems-added/" rel="next"
            >Next Post <span class="meta-nav">&rarr;</span>
          </a>
        </span>
      </nav>

      <article
        class="post type-post status-publish format-standard hentry category-uncategorized"
      >
        <header class="entry-header">
          <h1 class="entry-title">
            Website Revisions: Music Notations and Homepage
          </h1>

          <div class="entry-meta">
            <span class="sep">Posted on</span>
            <time class="entry-date" datetime="2008-07-29T13:04:00+00:00"
              >July 29, 2008</time
            ><span class="by-author">
              <span class="sep"> by</span>
              <span class="author vcard"
                ><a
                  class="url fn n"
                  href="/blog/author/mnpadmin/"
                  title="View all posts by Webmaster"
                  rel="author">Webmaster</a
                >
              </span>
            </span>
          </div>
        </header>

        <div class="entry-content">
          <p>
            Our webmaster has been hard at work on some welcome enhancements to
            the &#8220;music notations&#8221; section of our website. Gone are
            the old, grainy, scanned-in images of chromatic scales from the <a
              href="/mnma/publications/#proposals"
              >Directory of Music Notation Proposals</a
            >; they&#8217;ve been replaced with crisp, clean computer-graphics
            images. In addition we&#8217;ve added information on the year in
            which each notation system was first documented, and added a page
            where they are <a href="/systems/gallery/">sorted by date</a>.<span
              id="more-484"></span>
          </p>
          <p>
            Our homepage has also been revised. There you will see that we have
            merged our chromatic staves tutorial with our account of the
            disadvantages of traditional music notation. This puts the concept
            of the chromatic staff front and center where our visitors
            can&#8217;t miss it. It also makes it easier to understand the
            drawbacks of traditional notation when they are presented together
            with a better approach.
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutBlog>
