---
import MnpLayoutWiki from "../../../../layouts/MnpLayoutWiki.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutWiki
  metaTitle={makeMetaTitle("VaWu", "Wiki")}
  metaDescription="A wiki page about the VaWu-XeYuZe music notation system."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="wiki_page type-wiki_page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">VaWu-XeYuZe</h1>
        </header>

        <div class="entry-content">
          <p>
            The names for the black notes Va Wu &#8211; Xe Yu Ze have initials
            that can coexist with the  main note name systems
            ABCDE&#8230;AHCDE..  Do Re Mi&#8230;and Sa Re Ga.. The vowels 
            contrast with solfa note names within a range of three frets.
          </p>
          <p>
            &#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;Va     Wu         
            Xe        Yu     Ze
          </p>
          <p>
            &#8230;&#8230;&#8230;..Do=Ut     Re     Mi  Fa     Sol     La   
             TSi
          </p>
          <p>
            These five syllables can be integrated with Fixed Solfa and movable
            solfa as will be shown in the examples that follow  that are
            suitable for beginners, casual readers and late starters. The notes
            are easily identifiable, bypassing the complications of clef,
            signature and accidental. The scores follow in all other respects
            the conventions of traditional sheet music. A note that has been
            tied is shown as a normal note head.
          </p>
          <p>
            The first example places VaWu among Fixed Solfa in this Minuet from
            the Notebook of Anna Magdalena Bach. To give unique initials with
            each note Si has been shown as TSi which can be sung as Si, Ti or
            indeed TSi..  The initial  of Do could easily be confused for its
            neighbour, the lettername D. So instead the initial of the older
            name Ut is used. It can still be sung as Do. To view click on the
            following title <a
              href="/wp-content/uploads/2015/07/minuet-fixed-SolFa.pdf"
              >Minuet in Fixed Solfa</a
            >
          </p>
          <p>
            When the letters have<strong> lower case</strong> initials they represent
            <strong>movable solfa</strong> as in the next example. Following the
            tradition of Kodaly music education the minor tonic is here shown as
            <em>la.</em>It can be seen that between bars 13 and 16 the piece
            modulates to the relative major cadencing on <em>do=ut</em>. <a
              href="/wp-content/uploads/2020/07/minuet-movable-solfa4.pdf"
              >Minuet in movable solfa</a
            >
          </p>
          <p>
            The next example shows how movable solfa can display the
            relationship of both melody and harmony to the key. In the Swan from
            Saint-Saens&#8217; Carnival of the Animals, the melodic notation
            runs parallel with chord symbols built on movable solfa initials.The
            conventions of chord symbols are followed with a few adjustments.
            The symbol <em>s3</em> represents a major chord built on<em> so</em>
            in order to distinguish it from a melody note to be sung.. The 3 is dropped
            when there are other clues to identify the letter as a chord symbol.
            Following a jazz convention the minus sign indicates a minor chord (rather
            than m which could be confused for the note <em>mi)</em>. The note
            after a slash is single note in the bass. Occasionally as in bar 19
            a separate chord is in the bass. Click on the following title to see
            the score: <a
              href="/wp-content/uploads/2020/07/swan-saint-seans5.pdf"
              >the Swan Saint Saens</a
            >
          </p>
          <p>
            In all these example the key signatures are redundant but can be
            included as an option. The staves are adapted to make the characters
            stand out being grey with slightly broader lines. On manuscript the
            dotted lines replace leger lines whereas on a final printed version
            grey leger lines can be used. Click the following link to see and
            print grey staves. <a
              href="/wp-content/uploads/2015/07/grey-lines5leger.pdf"
              >grey lines5leger</a
            >
          </p>
          <p>
            Pronunciation of the solfa syllables varies between language groups,
            however  contrast between adjacent consonants can be achieved by
            pronouncing the Xe as in Greek that is with the German /Scottish <em
              >ch</em
            >, and Ze as in Castilian Spanish as in the English<em> th</em>. .
          </p>
          <p>
            These usages are public domain. The letters VW XYZ were proposed by
            Robert Stuckey and Richard Parncutt in 1987.The vowels  were added
            in 1995. Computer program to convert from MusXML or MIDI files into
            the users preferred output..
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutWiki>
