---
import MnpLayoutBlog from "../../../../../layouts/MnpLayoutBlog.astro";
import { makeMetaTitle } from "../../../../../utils/utils";
---

<MnpLayoutBlog
  metaTitle={makeMetaTitle(
    "LilyPond, MuseScore, and more Software News",
    "Blog"
  )}
  metaDescription="A blog post about developments in LilyPond, MuseScore, and other music notation software"
>
  <div id="primary">
    <div id="content" role="main">
      <nav id="nav-single">
        <h3 class="assistive-text">Post navigation</h3>
        <span class="nav-previous"
          ><a href="/blog/2010/03/git-repository-for-lilypond/" rel="prev"
            ><span class="meta-nav">&larr;</span> Previous Post</a
          >
        </span>
        <span class="nav-next"
          ><a
            href="/blog/2011/05/chromatic-lyre-notation-reverse-color-express-stave-twinnote-and-more/"
            rel="next"
            >Next Post <span class="meta-nav">&rarr;</span>
          </a>
        </span>
      </nav>

      <article
        class="post type-post status-publish format-standard hentry category-uncategorized"
      >
        <header class="entry-header">
          <h1 class="entry-title">
            LilyPond, MuseScore, and More Software News
          </h1>

          <div class="entry-meta">
            <span class="sep">Posted on</span>
            <time class="entry-date" datetime="2011-03-26T14:32:57+00:00"
              >March 26, 2011</time
            ><span class="by-author">
              <span class="sep"> by</span>
              <span class="author vcard"
                ><a
                  class="url fn n"
                  href="/blog/author/mnpadmin/"
                  title="View all posts by Webmaster"
                  rel="author">Webmaster</a
                >
              </span>
            </span>
          </div>
        </header>

        <div class="entry-content">
          <p>
            It is hard to believe that a year has gone by since our last blog
            post.  Luckily this lack of posts does not reflect a lack of things
            that we should have been posting about.  So this will be the first
            of several posts summarizing some of what has been going on in the
            past year, in case you missed any of it over on our <a
              href="https://groups.google.com/forum/#%21forum/musicnotation"
              >Forum</a
            >.<span id="more-496"></span>
          </p>
          <p><strong>LilyPond</strong></p>
          <p>
            Back in 2007 Kevin Dalley was working on adding support for
            chromatic-staff notation systems to <a
              href="http://lilypond.org/"
              target="_blank"
              rel="noopener">LilyPond</a
            >, a free, open-source music notation application.  He got busy with
            other things and we assumed that the code that he had finished had
            not made it into the official LilyPond application. Since then Mark
            Hanlon and Andrew Wagner pitched in to help work on this.
          </p>
          <p>
            But fast forward to a month ago when Paul Morris stumbled upon the
            fact that much of Kevin's code had <em>already</em> been included in
            the official LilyPond application by the LilyPond development team (particularly
            Neil Puttock and Han-Wen Nienhuys, our thanks to them!).  This means
            that LilyPond has the feature set to support chromatic-staff notation
            systems (and has had it for some time).  It is possible to remap the
            pitches on the staff chromatically, to change the staff line pattern,
            to customize note head shapes, and various other alternative notation
            tweaks.  Read more about it and see where things stand on the MNP's
            <a href="/wiki/LilyPond">LilyPond wiki page</a>.
          </p>
          <p>
            One of the patches that Kevin submitted to LilyPond just needs some
            refactoring and documentation before it can be added to LilyPond. 
            It provides support for custom ledger lines that appear inside the
            staff, which is needed for many alternative notation systems. If
            anyone has the programming skills and would like to contribute, this
            would be a great way to do so! The patch is being tracked <a
              href="http://code.google.com/p/lilypond/issues/detail?id=1193#makechanges"
              >here</a
            > as part of LilyPond development on Google code.
          </p>
          <p><strong>MuseScore</strong></p>
          <p>
            In other free, open-source music software news, <a
              href="http://musescore.org/">MuseScore</a
            > recently reached its 1.0 release. Although MuseScore does not really
            support chromatic-staff notation systems, Jan Braunstein worked out ways
            to use it to create sheet music for his alternative notation system (<a
              href="/system/chromatic-lyre-notation-by-jan-braunstein/"
              >Chromatic Lyre Notation</a
            >).  He posted some tips about how he did this on the MuseScore
            forums, and with his permission we have edited them and put them on
            the MNP&#8217;s new <a href="/software/musescore/">MuseScore page</a
            >.
          </p>
          <p>
            MuseScore is progressing quickly and already has support for
            percussion staves, so perhaps a future version will have the
            features needed to really support chromatic-staff notation systems. 
            See these feature requests: (1) <a
              href="http://musescore.org/en/node/9762"
              >Standard note entry and editing for percussion staves</a
            >, (2) <a href="http://musescore.org/en/node/9764"
              >Customizing staff line positions</a
            >, (3) <a href="http://musescore.org/en/node/5899"
              >Customizing note head shapes</a
            >.
          </p>
          <p><strong>VexFlow and Belle, Bonne, Sage</strong></p>
          <p>
            <a href="http://vexflow.com/">VexFlow</a> and <a
              href="https://github.com/burnson/Belle">Belle, Bonne, Sage</a
            > are interesting new open-source projects with the potential to be used
            with alternative music notation systems. VexFlow is a web-based API (in
            JavaScript) for rendering music notation and guitar tablature in a website
            or web application.  Belle, Bonne, Sage is a vector-graphics library
            for music notation. They are listed on our <a href="/software/"
              >Software</a
            > page.
          </p>
          <p><strong>Ambrose Piano Tabs Music Editing Program</strong></p>
          <p>
            This free-to-download (but not open-source) application for <a
              href="http://www.ambrosepianotabs.com/"
              target="_blank"
              rel="noopener">Ambrose Piano Tabs</a
            > came to our attention.  It is also listed on our <a
              href="/software/">Software</a
            > page.
          </p>
          <p><strong>Lost Email<br /></strong></p>
          <p>
            It recently came to our attention that our email provider was not
            delivering some legitimate email messages because it was being too
            aggressive with its spam filters.  We have changed our settings so
            this should no longer be a problem in the future.  If you emailed us
            and did not  hear back, then this is probably why.  Our apologies,
            and please contact us again.
          </p>
          <p>
            Look for future posts on the notation systems added to our site this
            past year (and some other systems that still need to be added), as
            well as some other things we have yet to blog about!
          </p>
        </div>
      </article>

      <div id="comments">
        <h2 id="comments-title">
          5 thoughts on &ldquo;<span
            >LilyPond, MuseScore, and More Software News</span
          >&rdquo;
        </h2>

        <ol class="commentlist">
          <li class="comment even thread-even depth-1" id="li-comment-19">
            <article id="comment-19" class="comment">
              <footer class="comment-meta">
                <div class="comment-author vcard">
                  <img
                    alt=""
                    src="https://secure.gravatar.com/avatar/a83c1085d88c7d7052b5042d6af7a24b?s=68&d=mm&r=g"
                    srcset="https://secure.gravatar.com/avatar/a83c1085d88c7d7052b5042d6af7a24b?s=136&d=mm&r=g 2x"
                    class="avatar avatar-68 photo"
                    height="68"
                    width="68"
                    loading="lazy"
                  /><span class="fn"
                    ><a
                      href="http://DrTechDaddy.com"
                      rel="external nofollow ugc"
                      class="url">Joe Austin</a
                    >
                  </span> on <a
                    href="/blog/2011/03/lilypond-musescore-and-more-software-news/#comment-19"
                    ><time datetime="2011-03-29T08:20:03+00:00"
                      >March 29, 2011 at 8:20 am</time
                    >
                  </a>
                  <span class="says">said:</span>
                </div>
              </footer>

              <div class="comment-content">
                <p>
                  I&#8217;ve got programming skills. If I wanted to help out
                  with your software projects,<br />
                  how do I get started?<br />
                  BTW, I&#8217;ve done some preliminary work toward using text-mode
                  software for music notation&#8211;see my website DrTechDaddy.com
                </p>
              </div>

              <div class="reply"></div>
            </article>
          </li>
          <li
            class="comment odd alt thread-odd thread-alt depth-1"
            id="li-comment-20"
          >
            <article id="comment-20" class="comment">
              <footer class="comment-meta">
                <div class="comment-author vcard">
                  <img
                    alt=""
                    src="https://secure.gravatar.com/avatar/c446954830bb65907eb0076af70fe958?s=68&d=mm&r=g"
                    srcset="https://secure.gravatar.com/avatar/c446954830bb65907eb0076af70fe958?s=136&d=mm&r=g 2x"
                    class="avatar avatar-68 photo"
                    height="68"
                    width="68"
                    loading="lazy"
                  /><span class="fn"
                    ><a
                      href="http://twinnote.org"
                      rel="external nofollow ugc"
                      class="url">Paul Morris</a
                    >
                  </span> on <a
                    href="/blog/2011/03/lilypond-musescore-and-more-software-news/#comment-20"
                    ><time datetime="2011-03-29T14:22:09+00:00"
                      >March 29, 2011 at 2:22 pm</time
                    >
                  </a>
                  <span class="says">said:</span>
                </div>
              </footer>

              <div class="comment-content">
                <p>
                  Hi Joe, Thanks for your comment! If you wanted to help out I
                  think the &#8220;lowest hanging fruit&#8221; would be putting
                  the finishing touches on Kevin&#8217;s patch for LilyPond that
                  lets you place ledger lines between regular staff lines. A lot
                  of alternative notation systems use ledger lines like this, so
                  not having this feature limits how far we can go with
                  LilyPond.
                </p>
                <p>
                  You can see Kevin&#8217;s patch and the discussion about it at
                  the link to LilyPond on Google code in the blog post above. To
                  find out what exactly still needs to be done with it, we would
                  need to contact the LilyPond developers and ask them.
                  I&#8217;ve been in contact with Neil Puttock briefly, and he
                  seems to know the most about it.
                </p>
                <p>
                  See also the LilyPond page on the MNP Wiki for more on using
                  LilyPond with alternative notation systems.
                </p>
                <p>
                  Feel free to continue this discussion over on the MNP Forum
                  (Google Group), or you can email me about it.
                </p>
                <p>
                  By the way, nice work getting alternative notation working in
                  Excel and Word! Looks like you&#8217;ve made good progress
                  there, as shown on your site.
                </p>
              </div>

              <div class="reply"></div>
            </article>
          </li>
          <li class="comment even thread-even depth-1" id="li-comment-21">
            <article id="comment-21" class="comment">
              <footer class="comment-meta">
                <div class="comment-author vcard">
                  <img
                    alt=""
                    src="https://secure.gravatar.com/avatar/cde9ae11160d6ee996a2b663ab5b5e8e?s=68&d=mm&r=g"
                    srcset="https://secure.gravatar.com/avatar/cde9ae11160d6ee996a2b663ab5b5e8e?s=136&d=mm&r=g 2x"
                    class="avatar avatar-68 photo"
                    height="68"
                    width="68"
                    loading="lazy"
                  /><span class="fn">Bob</span> on <a
                    href="/blog/2011/03/lilypond-musescore-and-more-software-news/#comment-21"
                    ><time datetime="2011-12-26T18:03:19+00:00"
                      >December 26, 2011 at 6:03 pm</time
                    >
                  </a>
                  <span class="says">said:</span>
                </div>
              </footer>

              <div class="comment-content"><p>Any updates?</p></div>

              <div class="reply"></div>
            </article>
          </li>
          <li
            class="comment odd alt thread-odd thread-alt depth-1"
            id="li-comment-22"
          >
            <article id="comment-22" class="comment">
              <footer class="comment-meta">
                <div class="comment-author vcard">
                  <img
                    alt=""
                    src="https://secure.gravatar.com/avatar/fedd5cd3588c209868d00b38353a1cd1?s=68&d=mm&r=g"
                    srcset="https://secure.gravatar.com/avatar/fedd5cd3588c209868d00b38353a1cd1?s=136&d=mm&r=g 2x"
                    class="avatar avatar-68 photo"
                    height="68"
                    width="68"
                    loading="lazy"
                  /><span class="fn"
                    ><a
                      href="http://yamahaf310.org/"
                      rel="external nofollow ugc"
                      class="url">Yamaha F310</a
                    >
                  </span> on <a
                    href="/blog/2011/03/lilypond-musescore-and-more-software-news/#comment-22"
                    ><time datetime="2012-03-13T21:51:39+00:00"
                      >March 13, 2012 at 9:51 pm</time
                    >
                  </a>
                  <span class="says">said:</span>
                </div>
              </footer>

              <div class="comment-content">
                <p>
                  Thank for the information. I am glad you are updating your
                  blog now, i will back following your blog. Keep posting good
                  content mate.
                </p>
              </div>

              <div class="reply"></div>
            </article>
          </li>
          <li class="comment even thread-even depth-1" id="li-comment-23">
            <article id="comment-23" class="comment">
              <footer class="comment-meta">
                <div class="comment-author vcard">
                  <img
                    alt=""
                    src="https://secure.gravatar.com/avatar/530de83145b5b7707c0405ffd42dc139?s=68&d=mm&r=g"
                    srcset="https://secure.gravatar.com/avatar/530de83145b5b7707c0405ffd42dc139?s=136&d=mm&r=g 2x"
                    class="avatar avatar-68 photo"
                    height="68"
                    width="68"
                    loading="lazy"
                  /><span class="fn"
                    ><a
                      href="http://rental-e-commerce-software.com/"
                      rel="external nofollow ugc"
                      class="url">hire and rental software</a
                    >
                  </span> on <a
                    href="/blog/2011/03/lilypond-musescore-and-more-software-news/#comment-23"
                    ><time datetime="2012-06-06T09:56:32+00:00"
                      >June 6, 2012 at 9:56 am</time
                    >
                  </a>
                  <span class="says">said:</span>
                </div>
              </footer>

              <div class="comment-content">
                <p>
                  MuseScore seemed to be a good website for open source music. I
                  actually just stumbled upon this website because I am looking
                  for open source music. Thank you for the recommendation.
                </p>
                <p>-Laura</p>
              </div>

              <div class="reply"></div>
            </article>
          </li>
        </ol>

        <p class="nocomments">Comments are closed.</p>
      </div>
    </div>
  </div>
</MnpLayoutBlog>
