---
import MnpLayoutWiki from "../../../../layouts/MnpLayoutWiki.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutWiki
  metaTitle={makeMetaTitle("Untitled by Johann Ailler", "Wiki")}
  metaDescription="About Untitled music notation system by Johann Ailler"
>
  <div id="primary">
    <div id="content" role="main">
      <article class="wiki_page type-wiki_page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">Untitled by Johann Ailler</h1>
        </header>

        <div class="entry-content">
          <p>
            <img
              loading="lazy"
              class="alignnone size-full wp-image-2391"
              src="/wp-content/uploads/2015/12/untitled-johann-ailler-two-staves.png"
              alt="untitled-johann-ailler-two-staves"
              width="500"
              height="110"
              srcset="/wp-content/uploads/2015/12/untitled-johann-ailler-two-staves.png 500w, /wp-content/uploads/2015/12/untitled-johann-ailler-two-staves-300x66.png 300w"
              sizes="(max-width: 500px) 100vw, 500px"
            />
          </p>
          <p><em>A chromatic scale from C to C.</em></p>
          <p>
            Johann Ailler&#8217;s untitled 4-line system (introduced in 1904) is
            the earliest of the four-line-staff designs, although Albert
            Brennink was not aware of its existence until after he had designed <a
              title="A-B Chromatic Notation by Albert Brennink"
              href="/systems/a-b-chromatic-notation-by-albert-brennink/"
              >his 4-line system</a
            >.
          </p>
          <p>
            Ailler&#8217;s system does not cycle on the octave as
            Brennink&#8217;s and Parncutt&#8217;s do.  (See <a
              href="/systems/criteria/#9">criterion 9</a
            >.)  One of Ailler&#8217;s illustrations of his system shows that
            when two staves are stacked vertically he only placed one ledger
            line between them, as shown above.  So the bottom line of the lower
            staff is E, as with the traditional treble clef, but the bottom line
            of the upper staff is D.
          </p>
          <p>
            The Music Notation Project (following in the footsteps of the <a
              href="/mnma/">MNMA</a
            >) presented Ailler&#8217;s system as if it did cycle at the octave,
            with two ledger lines between stacked staves, until this error was
            pointed out by Albert Brennink, and corrected in December 2015.
          </p>
          <p>Earliest documentation: 1904</p>
          <p>
            Source: <a href="/mnma/publications/#proposals"
              >Directory of Music Notation Proposals</a
            >, section/page: 10/7, 11/3, 13/13
          </p>
          <p>
            Similar Notations: <a href="/systems/untitled-by-franz-grassl/"
              >Untitled</a
            > by Franz Grassl
          </p>
          <p>
            Manuscript Paper: <a
              href="/pdf/manuscript/Ailler-Discon.pdf"
              target="_blank"
            >
              Discontinuous Staves</a
            >
            <a href="/pdf/manuscript/Ailler-Contin.pdf" target="_blank">
              Continuous Staves</a
            >
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutWiki>
