---
import MnpLayoutWiki from "../../../../layouts/MnpLayoutWiki.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutWiki
  metaTitle={makeMetaTitle("Nomenclatures Overview", "Wiki")}
  metaDescription="Overview of various different alternative nomenclatures or naming systems for notes and intervals (etc.) for use with alternative music notation systems."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="wiki_page type-wiki_page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">Nomenclatures Overview</h1>
        </header>

        <div class="entry-content">
          <p>
            This page gives a summary overview of proposals for new naming
            schemes for notes.
          </p>
          <h3>Alphabetical Nomenclatures</h3>
          <p>
            Some proposals maintain the traditional letter names for the notes A
            B C D E F G and introduce five new names for the &#8220;sharp or
            flat&#8221; notes (black keys on the piano).  Hass Notation retains
            the traditional German nomenclature in which B is called H and A#/Bb
            is called B.  VaWu follows traditional solfege names for the white
            key notes and adds five new names for the black key notes (when used
            as a fixed do system).
          </p>
          <p>
            Some proposals rename all twelve notes of the chromatic scale, and
            some employ repeating patterns for consonants and/or vowels.
            NoteTrace uses two repeating patterns: B M T for the consonants and
            e i o a for the vowels. Bakedi (Chromatic Pairs) similarly uses B K
            D for the consonants and e i o a for the vowels, but it cycles
            through the vowels first (at a lower level), before cycling through
            the consonants, which is the opposite approach from
            NoteTrace&#8217;s. SaLaTa uses a 6-6 pattern of alternating
            &#8220;a&#8221; and &#8220;o&#8221; for the vowels, while retaining
            the initial consonants of the seven traditional solfege names and
            introducing new consonants for the other five. Plain Notation System
            uses the cycle o u e a i for the vowels while retaining the seven
            traditional consonants and introducing five new ones.
          </p>
          <table class="nomenclatures-table">
            <tbody>
              <tr>
                <th>Alphabetical Nomenclatures</th>
                <th>A</th>
                <th
                  >A#<br />
                  Bb</th
                >
                <th>B</th>
                <th>C</th>
                <th
                  >C#<br />
                  Db</th
                >
                <th>D</th>
                <th
                  >D#<br />
                  Eb</th
                >
                <th>E</th>
                <th>F</th>
                <th
                  >F#<br />
                  Gb</th
                >
                <th>G</th>
                <th
                  >G#<br />
                  Ab</th
                >
              </tr>
              <tr>
                <td
                  ><a
                    href="/wiki/notation-systems/hass-music-notation-by-peter-hass/"
                    rel="nofollow">Hass Notation</a
                  ><br />
                  by Peter Hass:</td
                >
                <td>A</td>
                <td>B</td>
                <td>H</td>
                <td>C</td>
                <td>O</td>
                <td>D</td>
                <td>S</td>
                <td>E</td>
                <td>F</td>
                <td>V</td>
                <td>G</td>
                <td>I</td>
              </tr>
              <tr>
                <td
                  ><a href="/wiki/nomenclature/express-stave-nomenclature/"
                    >Express Stave Nomenclature</a
                  ><br />
                  by John Keller:</td
                >
                <td>A</td>
                <td>H</td>
                <td>B</td>
                <td>C</td>
                <td>I</td>
                <td>D</td>
                <td>J</td>
                <td>E</td>
                <td>F</td>
                <td>K</td>
                <td>G</td>
                <td>L</td>
              </tr>
              <tr>
                <td
                  >SaLaTa<br />
                  by Dan Lindgren:</td
                >
                <td>La</td>
                <td>Bo</td>
                <td>Ta</td>
                <td>Do</td>
                <td>Pa</td>
                <td>Ro</td>
                <td>Na</td>
                <td>Mo</td>
                <td>Fa</td>
                <td>Wo</td>
                <td>Sa</td>
                <td>Go</td>
              </tr>
              <tr>
                <td
                  ><a
                    title="Plain Notation System"
                    href="/wiki/plain-notation-system/">Plain Notation System</a
                  ><br />
                  by Ivaylo Naydenov:</td
                >
                <td
                  >S<br />
                  (Sa)</td
                >
                <td
                  >T<br />
                  (Te)</td
                >
                <td
                  >V<br />
                  (Vu)</td
                >
                <td
                  >B<br />
                  (Bo)</td
                >
                <td
                  >D<br />
                  (Da)</td
                >
                <td
                  >F<br />
                  (Fe)</td
                >
                <td
                  >G<br />
                  (Gu)</td
                >
                <td
                  >L<br />
                  (Lo)</td
                >
                <td
                  >M<br />
                  (Ma)</td
                >
                <td
                  >N<br />
                  (Ne)</td
                >
                <td
                  >P<br />
                  (Pu)</td
                >
                <td
                  >R<br />
                  (Ro)</td
                >
              </tr>
              <tr>
                <td
                  ><a href="/wiki/notation-systems/vawu/">VaWu</a><br />
                  by Robert Stuckey and Richard  Parncutt:</td
                >
                <td>La</td>
                <td>Ze</td>
                <td>TSi</td>
                <td>Do=Ut</td>
                <td>Va</td>
                <td>Re</td>
                <td>Wu</td>
                <td>Mi</td>
                <td>Fa</td>
                <td>Xe</td>
                <td>Sol</td>
                <td>Yu</td>
              </tr>
              <tr>
                <td
                  ><a
                    href="/systems/more-notation-systems/#notetrace"
                    rel="nofollow">Notetrace</a
                  ><br />
                  by Enrique Prieto:</td
                >
                <td>Be</td>
                <td>Me</td>
                <td>Te</td>
                <td>Bi</td>
                <td>Mi</td>
                <td>Ti</td>
                <td>Bo</td>
                <td>Mo</td>
                <td>To</td>
                <td>Ba</td>
                <td>Ma</td>
                <td>Ta</td>
              </tr>
              <tr>
                <td
                  ><a
                    href="/wiki/notation-systems/chromatic-pairs/"
                    rel="nofollow">Bakedi (Chromatic Pairs)</a
                  ><br />
                  by Fernando Terra:</td
                >
                <td>De</td>
                <td>Di</td>
                <td>Do</td>
                <td>Ba</td>
                <td>Be</td>
                <td>Bi</td>
                <td>Bo</td>
                <td>Ka</td>
                <td>Ke</td>
                <td>Ki</td>
                <td>Ko</td>
                <td>Da</td>
              </tr>
            </tbody>
          </table>
          <p>&nbsp;</p>
          <h3>Numerical Nomenclatures</h3>
          <p>
            Many proposals rename the notes using numbers, or even use numbers
            in visual music notation systems. See the MNP&#8217;s tutorial on <a
              href="/tutorials/numerical-notation-systems/"
              rel="nofollow">Numerical Notation Systems</a
            > for more thorough documentation.
          </p>
          <table class="nomenclatures-table">
            <tbody>
              <tr>
                <th>Numerical Nomenclatures</th>
                <th>A</th>
                <th
                  >A#<br />
                  Bb</th
                >
                <th>B</th>
                <th>C</th>
                <th
                  >C#<br />
                  Db</th
                >
                <th>D</th>
                <th
                  >D#<br />
                  Eb</th
                >
                <th>E</th>
                <th>F</th>
                <th
                  >F#<br />
                  Gb</th
                >
                <th>G</th>
                <th
                  >G#<br />
                  Ab</th
                >
              </tr>
              <tr>
                <td
                  ><a
                    href="/wp-content/uploads/2013/03/Waller_single_digit_symbols.pdf"
                    >Base-12 symbols</a
                  ><br />
                  by Dominique Waller:</td
                >
                <td>9</td>
                <td>૪</td>
                <td>દ</td>
                <td>0</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
              </tr>
              <tr>
                <td
                  >Dozenal (Pitman digits)<br />
                  by Joe Austin:</td
                >
                <td>9</td>
                <td>ᘔ</td>
                <td>Ɛ</td>
                <td>0</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
              </tr>
              <tr>
                <td
                  ><a
                    href="http://www.sonido13.com/nuevaescrituramusical1.html"
                    rel="nofollow">Nueva Escritura Musical</a
                  ><br />
                  by Julián Carrillo:</td
                >
                <td>9</td>
                <td>10</td>
                <td>11</td>
                <td>0</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
              </tr>
              <tr>
                <td
                  ><a href="/system/untitled-by-robert-stuckey/" rel="nofollow"
                    >Untitled Notation System</a
                  ><br />
                  by Robert Stuckey:</td
                >
                <td>9</td>
                <td>X</td>
                <td>N</td>
                <td>0</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
              </tr>
              <tr>
                <td
                  ><a href="/wiki/notation-systems/hamburg-music-notation/">
                    Hamburg Music Notation</a
                  ><br />
                  by Robert Elisabeth Key:</td
                >
                <td>A</td>
                <td>B</td>
                <td>0</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
              </tr>
              <tr>
                <td
                  ><a
                    href="/system/numbered-notes-notes-only-by-jason-maccoy/"
                    rel="nofollow">Numbered Notes</a
                  ><br />
                  by Jason MacCoy:</td
                >
                <td>10</td>
                <td>11</td>
                <td>12</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
              </tr>
              <tr>
                <td
                  ><a
                    href="http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO1&Sect2=HITOFF&d=PALL&p=1&u=/netahtml/PTO/srchnum.htm&r=1&f=G&l=50&s1=7,674,965.PN.&OS=PN/7,674,965&RS=PN/7,674,965"
                    rel="nofollow">FinKeys Notation System</a
                  ><br />
                  by Victor Mataele</td
                >
                <td>X</td>
                <td>Y</td>
                <td>Z</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
              </tr>
            </tbody>
          </table>
          <p>&nbsp;</p>
          <p>
            <b
              ><a
                title="Waller single digit symbols.pdf"
                href="/wp-content/uploads/2013/03/Waller_single_digit_symbols.pdf"
              >
                Single-Digit Symbols for Ten and Eleven (PDF)</a
              > by Dominique Waller</b
            >
          </p>
          <p>
            Dominique Waller designed a numeric notation system, and wrote <a
              title="Waller single digit symbols.pdf"
              href="/wp-content/uploads/2013/03/Waller_single_digit_symbols.pdf"
            >
              this article (PDF)</a
            > about his search for single-digit symbols to substitute for the numbers
            10 and 11. He writes: &#8220;To make it easier to write and read, a duodecimal
            music notation that goes from 0 to 11 needs two new single-digit symbols
            for 10 and 11. But how to choose them? I’ve been searching for ten years
            now and have often changed my mind, but I now have come to a conclusion.
            That’s what I’m going to explain here.&#8221;
          </p>
          <p>&nbsp;</p>
          <h3>Relative &#8220;Movable-Do-Style&#8221; Nomenclatures</h3>
          <p>
            In addition to the fixed-pitch nomenclatures described above, there
            are also relative  nomenclatures along the lines of moveble-do and
            the equivalent major scale numbering which goes by the various names
            of Jianpu/Galin-Paris-Cheve/Nashville.
          </p>
          <table class="moveable-do-nomenclatures-table">
            <tbody>
              <tr>
                <th>Relative &#8220;Moveable-Do&#8221; Nomenclatures</th>
                <th>Do</th>
                <th
                  >Di<br />
                  Ra</th
                >
                <th>Re</th>
                <th
                  >Ri<br />
                  Me<br />
                  (Ma)</th
                >
                <th>Mi</th>
                <th>Fa</th>
                <th
                  >Fi<br />
                  Se</th
                >
                <th>Sol</th>
                <th
                  >Si<br />
                  Le<br />
                  (Lo)</th
                >
                <th>La</th>
                <th
                  >Li<br />
                  Te<br />
                  (Ta)</th
                >
                <th>Ti</th>
              </tr>
              <tr>
                <td
                  ><a href="/wiki/nomenclature/express-stave-nomenclature/"
                    >Express Stave Sol-fa</a
                  ><br />
                  by John Keller:</td
                >
                <td>Doh</td>
                <td>Zaw</td>
                <td>Ray</td>
                <td>Naw</td>
                <td>Mee</td>
                <td>Fah</td>
                <td>Vee</td>
                <td>Soh</td>
                <td>Yaw</td>
                <td>Lah</td>
                <td>Paw</td>
                <td>Tee</td>
              </tr>
              <tr>
                <td
                  ><a href="/wiki/notation-systems/vawu/">VaWu</a><br />
                  by Robert Stuckey and Richard Parncutt:</td
                >
                <td>do=ut</td>
                <td>va</td>
                <td>re</td>
                <td>wu</td>
                <td>mi</td>
                <td>fa</td>
                <td>xe</td>
                <td>so</td>
                <td>yu</td>
                <td>la</td>
                <td>ze</td>
                <td>tsi</td>
              </tr>
              <tr>
                <td
                  ><a
                    href="/wiki/notation-systems/slantnote-by-david-zethmayr/"
                    rel="nofollow">Rhyming Major Thirds Solfege</a
                  ><br />
                  by David Zethmayr:</td
                >
                <td>Do</td>
                <td></td>
                <td>Re</td>
                <td></td>
                <td>Mo</td>
                <td>Fa</td>
                <td></td>
                <td>Si</td>
                <td></td>
                <td>La</td>
                <td></td>
                <td>Ti</td>
              </tr>
              <tr>
                <td
                  ><a
                    href="/wiki/notation-systems/slantnote-by-david-zethmayr/"
                    rel="nofollow">Squiggle Solfege—&#8221;né-nà&#8221;</a
                  ><br />
                  by David Zethmayr:</td
                >
                <td>Ne</td>
                <td></td>
                <td>Ne</td>
                <td></td>
                <td>Ne</td>
                <td>Na</td>
                <td></td>
                <td>Na</td>
                <td></td>
                <td>Na</td>
                <td></td>
                <td>Na</td>
              </tr>
            </tbody>
          </table>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutWiki>
