<div id="page-footer">
  <footer id="colophon" role="contentinfo">
    <div id="supplementary" class="three">
      <div id="first" class="widget-area" role="complementary">
        <aside id="text-6" class="widget widget_text">
          <div class="textwidget">
            <div class="footer-title">The Music Notation Project</div>
            <div class="footer-sub-title-text">
              A not-for-profit organization sustained by the <a
                href="/home/contribute/"
                >contributions of volunteers and supporters</a
              >. Except where otherwise noted, content on this site is licensed
              under a <a
                rel="license noopener"
                href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US"
                target="_blank"
                >Creative Commons Attribution-ShareAlike 3.0 Unported License</a
              >.
            </div>
            <a
              rel="license noopener"
              href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US"
              target="_blank"
              ><img
                alt="Creative Commons License"
                style="border-width:0"
                src="/wp-content/uploads/2013/03/cc-80x15.png"
              />
            </a>
          </div>
        </aside>
      </div>

      <div id="second" class="widget-area" role="complementary">
        <aside id="nav_menu-2" class="widget widget_nav_menu">
          <div class="menu-just-main-headings-container">
            <ul id="menu-just-main-headings" class="menu">
              <li
                id="menu-item-765"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-765"
              >
                <a href="/">Home</a>
              </li>
              <li
                id="menu-item-764"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-764"
              >
                <a href="/systems/">Notation Systems</a>
              </li>
              <li
                id="menu-item-769"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-769"
              >
                <a href="/tutorials/">Tutorials</a>
              </li>
              <li
                id="menu-item-768"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-768"
              >
                <a href="/software/">Software</a>
              </li>
              <li
                id="menu-item-767"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-767"
              >
                <a href="/mnma/">MNMA</a>
              </li>
              <li
                id="menu-item-1110"
                class="menu-item menu-item-type-post_type menu-item-object-wiki_page menu-item-1110"
              >
                <a href="/wiki/">Wiki</a>
              </li>
              <li
                id="menu-item-1109"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1109"
              >
                <a href="https://groups.google.com/forum/#!forum/musicnotation"
                  >Forum</a
                >
              </li>
            </ul>
          </div>
        </aside>
      </div>

      <div id="third" class="widget-area" role="complementary">
        <aside id="text-5" class="widget widget_text">
          <div class="textwidget">
            <a href="#">Return to Top</a>
            <br />
            <br />
            <a href="/home/about-faq-contact-info/#contact">Contact Us</a><br />
            <a href="/blog/">Blog</a><br />
            <a
              href="https://groups.google.com/forum/#!forum/musicnotation"
              target="_blank"
              rel="noopener">Google Group (Forum)</a
            ><br />
            <a
              href="http://www.facebook.com/TheMusicNotationProject"
              target="_blank"
              rel="noopener">Facebook</a
            >
          </div>
        </aside>
      </div>
    </div>
  </footer>
</div>
