---
import MnpLayoutNotationSystemsGroup from "../../../../layouts/MnpLayoutNotationSystemsGroup.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutNotationSystemsGroup
  metaTitle={makeMetaTitle(
    "Lines a Whole Step and Major 3rd Apart, 4 per Octave",
    "Notation Systems"
  )}
  metaDescription="Alternative music notation systems that have: Lines a Whole Step and Major 3rd Apart, 4 per Octave"
>
  <header class="page-header">
    <h1 class="page-title">
      <span>Lines a Whole Step and Major 3rd Apart, 4 per Octave</span>
    </h1>

    <div class="category-archive-meta">
      <p>
        In these systems the lines are either a whole step or a major third
        apart. The bold lines help the eye discriminate between different lines,
        facilitating pitch identification. An alternating 6-6 notehead
        &#8216;color&#8217; (hollow or solid noteheads) makes it even easier to
        differentiate between pitches. See the Using Notehead Color for Pitch
        for more about this strategy and how it affects rhythmic notation.
      </p>
    </div>
  </header>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-bold notation-meta-data-note-fill-6-6 notation-meta-data-note-shapes-one notation-meta-data-extent-larger notation-group-whole-step-major-3rd-4-lines whole-step-major-3rd-4-lines lines-bold note-fill-6-6 note-shapes-one extent-larger"
  >
    <div class="entry-content">
      <a
        href="/system/isomorph-notation-by-tadeusz-wojcik/"
        title="Permalink to Isomorph Notation by Tadeusz Wójcik"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in Isomorph Notation by Tadeusz Wójcik"
          title="Chromatic scale from C to C in Isomorph Notation by Tadeusz Wójcik"
          src="/wp-content/uploads/2012/07/isomorph-tadeusz-wojcik.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a href="/system/isomorph-notation-by-tadeusz-wojcik/" rel="bookmark"
          >Isomorph Notation by Tadeusz Wójcik, 1952</a
        >
      </h3>
    </div>
  </article>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-bold notation-meta-data-note-fill-6-6 notation-meta-data-note-shapes-one notation-meta-data-extent-larger notation-group-whole-step-major-3rd-4-lines whole-step-major-3rd-4-lines lines-bold note-fill-6-6 note-shapes-one extent-larger"
  >
    <div class="entry-content">
      <a
        href="/system/da-notation-by-rich-reed/"
        title="Permalink to DA Notation by Rich Reed"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in DA Notation by Rich Reed"
          title="Chromatic scale from C to C in DA Notation by Rich Reed"
          src="/wp-content/uploads/2012/07/da-notation-rich-reed.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a href="/system/da-notation-by-rich-reed/" rel="bookmark"
          >DA Notation by Rich Reed, 1986</a
        >
      </h3>
    </div>
  </article>
</MnpLayoutNotationSystemsGroup>
