---
import MnpLayoutNotationSystemsGroup from "../../../../layouts/MnpLayoutNotationSystemsGroup.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutNotationSystemsGroup
  metaTitle={makeMetaTitle(
    "Lines a Major 3rd Apart, 2 Lines per Octave",
    "Notation Systems"
  )}
  metaDescription="Alternative music notation systems that have: Lines a Major 3rd Apart, 2 Lines per Octave"
>
  <header class="page-header">
    <h1 class="page-title">
      <span>Lines a Major 3rd Apart, 2 Lines per Octave</span>
    </h1>

    <div class="category-archive-meta">
      <p>
        These systems are similar to those with three lines, a major third apart
        (above), only they have a ledger line (instead of a bold or dashed line)
        for their third line per octave. This gives them an even less dense
        appearance and allows for easy identification of the lines when staves
        are stacked contiguously. Lines spaced a major third apart have three
        note elevations in the spaces between the lines. Some systems use hollow
        and solid noteheads to help differentiate between adjacent pitches.
      </p>
    </div>
  </header>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-all-regular notation-meta-data-note-fill-other notation-meta-data-note-shapes-one notation-meta-data-extent-larger notation-group-major-3rd-2-lines major-3rd-2-lines lines-all-regular note-fill-other note-shapes-one extent-larger"
  >
    <div class="entry-content">
      <a
        href="/system/panot-notation-by-george-skapski/"
        title="Permalink to Panot Notation by George Skapski"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in Panot Notation by George Skapski"
          title="Chromatic scale from C to C in Panot Notation by George Skapski"
          src="/wp-content/uploads/2012/07/panot-george-skapski.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a href="/system/panot-notation-by-george-skapski/" rel="bookmark"
          >Panot Notation by George Skapski, 1956</a
        >
      </h3>
    </div>
  </article>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-all-regular notation-meta-data-note-fill-trad notation-meta-data-note-shapes-one notation-meta-data-extent-larger notation-group-major-3rd-2-lines major-3rd-2-lines lines-all-regular note-fill-trad note-shapes-one extent-larger"
  >
    <div class="entry-content">
      <a
        href="/system/clairnote-sn-paul-morris/"
        title="Permalink to Clairnote SN by Paul Morris"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in Clairnote SN by Paul Morris"
          title="Chromatic scale from C to C in Clairnote SN by Paul Morris"
          src="/wp-content/uploads/2018/12/clairnote-sn-paul-morris-wpcf_495x110.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a href="/system/clairnote-sn-paul-morris/" rel="bookmark"
          >Clairnote SN by Paul Morris, 2018</a
        >
      </h3>
    </div>
  </article>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-all-regular notation-meta-data-note-fill-6-6 notation-meta-data-note-shapes-one notation-meta-data-extent-larger notation-group-major-3rd-2-lines major-3rd-2-lines lines-all-regular note-fill-6-6 note-shapes-one extent-larger"
  >
    <div class="entry-content">
      <a
        href="/system/untitled-by-johannes-beyreuther/"
        title="Permalink to Untitled by Johannes Beyreuther"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in Untitled by Johannes Beyreuther"
          title="Chromatic scale from C to C in Untitled by Johannes Beyreuther"
          src="/wp-content/uploads/2012/07/untitled-johannes-beyreuther.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a href="/system/untitled-by-johannes-beyreuther/" rel="bookmark"
          >Untitled by Johannes Beyreuther, 1959</a
        >
      </h3>
    </div>
  </article>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-all-regular notation-meta-data-note-fill-6-6 notation-meta-data-note-shapes-one notation-meta-data-extent-larger notation-group-major-3rd-2-lines major-3rd-2-lines lines-all-regular note-fill-6-6 note-shapes-one extent-larger"
  >
    <div class="entry-content">
      <a
        href="/system/clairnote-dn-by-paul-morris/"
        title="Permalink to Clairnote DN by Paul Morris"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in Clairnote DN by Paul Morris"
          title="Chromatic scale from C to C in Clairnote DN by Paul Morris"
          src="/wp-content/uploads/2012/07/clairnote-dn-paul-morris-wpcf_495x110.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a href="/system/clairnote-dn-by-paul-morris/" rel="bookmark"
          >Clairnote DN by Paul Morris, 2006</a
        >
      </h3>
    </div>
  </article>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-all-regular notation-meta-data-note-fill-6-6 notation-meta-data-note-shapes-one notation-meta-data-extent-larger notation-group-major-3rd-2-lines major-3rd-2-lines lines-all-regular note-fill-6-6 note-shapes-one extent-larger"
  >
    <div class="entry-content">
      <a
        href="/system/chromatic-lyre-notation-by-jan-braunstein/"
        title="Permalink to Chromatic Lyre Notation by Jan Braunstein"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in Chromatic Lyre Notation by Jan Braunstein"
          title="Chromatic scale from C to C in Chromatic Lyre Notation by Jan Braunstein"
          src="/wp-content/uploads/2012/07/chromatic-lyre-notation-jan-braunstein.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a
          href="/system/chromatic-lyre-notation-by-jan-braunstein/"
          rel="bookmark">Chromatic Lyre Notation by Jan Braunstein, 2009</a
        >
      </h3>
    </div>
  </article>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-all-regular notation-meta-data-note-fill-trad notation-meta-data-note-shapes-2-or-3 notation-meta-data-extent-larger notation-group-major-3rd-2-lines major-3rd-2-lines lines-all-regular note-fill-trad note-shapes-2-or-3 extent-larger"
  >
    <div class="entry-content">
      <a
        href="/system/axlomafi-jai-park/"
        title="Permalink to AxLoMaFi by Jai Park"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in Chromatic scale from C to C in AxLoMaFi by Jai Park"
          title="Chromatic scale from C to C in Chromatic scale from C to C in AxLoMaFi by Jai Park"
          src="/wp-content/uploads/2015/01/trine-line-by-jai-park.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a href="/system/axlomafi-jai-park/" rel="bookmark"
          >AxLoMaFi by Jai Park, 2014</a
        >
      </h3>
    </div>
  </article>
</MnpLayoutNotationSystemsGroup>
