---
import MnpLayoutBlog from "../../../../../layouts/MnpLayoutBlog.astro";
import { makeMetaTitle } from "../../../../../utils/utils";
---

<MnpLayoutBlog
  metaTitle={makeMetaTitle(
    "Numbered Notes, 6-6 Jazz Font Express Stave, and TwinNote music notation systems",
    "Blog"
  )}
  metaDescription="A blog post about some notation systems that have been added to the Music Notation Project website: Numbered Notes, 6-6 Jazz Font Express Stave, and TwinNote."
>
  <div id="primary">
    <div id="content" role="main">
      <nav id="nav-single">
        <h3 class="assistive-text">Post navigation</h3>
        <span class="nav-previous"
          ><a href="/blog/2009/06/now-on-facebook/" rel="prev"
            ><span class="meta-nav">&larr;</span> Previous Post</a
          >
        </span>
        <span class="nav-next"
          ><a
            href="/blog/2009/11/announcing-the-music-notation-project-wiki/"
            rel="next"
            >Next Post <span class="meta-nav">&rarr;</span>
          </a>
        </span>
      </nav>

      <article
        class="post type-post status-publish format-standard hentry category-uncategorized"
      >
        <header class="entry-header">
          <h1 class="entry-title">
            Numbered Notes, 6-6 Jazz Font Express Stave, and TwinNote music
            notation systems
          </h1>

          <div class="entry-meta">
            <span class="sep">Posted on</span>
            <time class="entry-date" datetime="2009-08-07T21:55:00+00:00"
              >August 7, 2009</time
            ><span class="by-author">
              <span class="sep"> by</span>
              <span class="author vcard"
                ><a
                  class="url fn n"
                  href="/blog/author/mnpadmin/"
                  title="View all posts by Webmaster"
                  rel="author">Webmaster</a
                >
              </span>
            </span>
          </div>
        </header>

        <div class="entry-content">
          <p>
            In case you haven&#8217;t seen them, check out the following
            notation systems that have been added to our website in recent
            months.<span id="more-492"></span>
          </p>
          <h3>
            <a href="/system/numbered-notes-notes-only-by-jason-maccoy/"
              >Numbered Notes by Jason MacCoy</a
            >
          </h3>
          <p>
            MacCoy&#8217;s system is notable for its staff with lines that are a
            minor third apart. Although this possibility has been discussed, to
            our knowledge this is the only system that has implemented it. As
            its name indicates, Numbered Notes emphasizes the use of numbers for
            identifying pitches. There are two versions, a <a
              href="/system/numbered-notes-notes-only-by-jason-maccoy/"
              >notes-only version</a
            > and a <a
              href="/system/numbered-notes-numbers-only-by-jason-maccoy/"
              >numbers-only version</a
            >. More information on Numbered Notes is also available from the <a
              href="http://numberednotes.com/"
              target="blank"
              rel="noopener">Numbered Notes website</a
            >.
          </p>
          <h3>
            <a href="/system/express-stave-6-6-jazz-font-by-john-keller/"
              >Express Stave (6-6 jazz font version) by John Keller</a
            >
          </h3>
          <p>
            This is a version of Keller&#8217;s Express Stave that has a <a
              href="/tutorials/6-6-and-7-5-pitch-patterns/">6-6 pitch pattern</a
            > through a variation in the slant of the noteheads. Half of the noteheads
            are sharply slanted while the other noteheads lie flat. This 6-6 pattern
            is &#8220;overlayed&#8221; over the <a
              href="/tutorials/6-6-and-7-5-pitch-patterns/">7-5 pitch pattern</a
            > found in the solid and hollow noteheads, making it one of only a few
            systems that represent both (other examples are <a
              href="/system/chromatic-twinline-by-leo-de-vries/"
              >Diatonic Twinline</a
            > by Leo de Vries and perhaps <a
              href="/systems/group/whole-step-4-3-lines/">6-6 Tetragram</a
            > by Richard Parncutt).
          </p>
          <h3>
            <a href="/system/black-oval-twinline-by-paul-morris/"
              >Black-Oval Twinline by Paul Morris</a
            >
          </h3>
          <p>
            <em
              >Update: Morris renamed this system in order to call his <a
                title="newer system"
                href="/system/twinnote-by-paul-morris/">newer system</a
              > TwinNote.</em
            ><br />
            <del datetime="2011-10-03T06:20:24+00:00">TwinNote</del> Black-Oval Twinline
            is Morris&#8217; version of <a
              href="/systems/group/major-3rd-2-lines-compact/">Twinline</a
            > by Leo de Vries. It is similar to the versions of Twinline by Reed
            and Keislar, but uses solid-oval and hollow-triangle notes to highlight
            the <a href="/tutorials/6-6-and-7-5-pitch-patterns/"
              >6-6 pitch pattern</a
            > and make notes easier to identify. This is also similar to Sotorrio&#8217;s
            <a href="/system/bilinear-notation-by-jose-a-sotorrio/">Bilinear</a>
            notation. Using solid-ovals gives quarter notes, eighth notes, sixteenth
            notes, (etc&#8230;) a more consistent appearance when switching back
            and forth from traditional notation.
          </p>
          <h3>
            <a href="/system/expanded-black-oval-twinline-by-paul-morris/"
              >Expanded<del datetime="2011-10-03T06:20:24+00:00"></del> Black-Oval
              Twinline by Paul Morris</a
            >
          </h3>
          <p>
            Expanded <del datetime="2011-10-03T06:20:24+00:00">TwinNote</del> Black-Oval
            Twinline is designed as a companion notation for use with <del
              datetime="2011-10-03T06:20:24+00:00">TwinNote</del
            > Black-Oval Twinline. They share the same line pattern and solid-or-hollow
            notehead pattern making it easy to read either system interchangeably.
            The only differences are TwinNote&#8217;s vertically compact staff and
            use of triangular noteheads.
          </p>
        </div>
      </article>

      <div id="comments">
        <h2 id="comments-title">
          5 thoughts on &ldquo;<span
            >Numbered Notes, 6-6 Jazz Font Express Stave, and TwinNote music
            notation systems</span
          >&rdquo;
        </h2>

        <ol class="commentlist">
          <li class="comment even thread-even depth-1" id="li-comment-6">
            <article id="comment-6" class="comment">
              <footer class="comment-meta">
                <div class="comment-author vcard">
                  <img
                    alt=""
                    src="https://secure.gravatar.com/avatar/37976ba86f3b394f8b846e21b63b60de?s=68&d=mm&r=g"
                    srcset="https://secure.gravatar.com/avatar/37976ba86f3b394f8b846e21b63b60de?s=136&d=mm&r=g 2x"
                    class="avatar avatar-68 photo"
                    height="68"
                    width="68"
                    loading="lazy"
                  /><span class="fn">express staves</span> on <a
                    href="/blog/2009/08/numbered-notes-6-6-jazz-font-express-stave-and-twinnote/#comment-6"
                    ><time datetime="2011-02-17T01:29:42+00:00"
                      >February 17, 2011 at 1:29 am</time
                    >
                  </a>
                  <span class="says">said:</span>
                </div>
              </footer>

              <div class="comment-content">
                <p>
                  want to know the order number to the express staves software<br
                  />
                  the shows the piano keyboard virtical next to the trebble staff<br
                  />
                  what&#8217;s the order numder on the software
                </p>
              </div>

              <div class="reply"></div>
            </article>
          </li>
          <li
            class="comment odd alt thread-odd thread-alt depth-1"
            id="li-comment-7"
          >
            <article id="comment-7" class="comment">
              <footer class="comment-meta">
                <div class="comment-author vcard">
                  <img
                    alt=""
                    src="https://secure.gravatar.com/avatar/37976ba86f3b394f8b846e21b63b60de?s=68&d=mm&r=g"
                    srcset="https://secure.gravatar.com/avatar/37976ba86f3b394f8b846e21b63b60de?s=136&d=mm&r=g 2x"
                    class="avatar avatar-68 photo"
                    height="68"
                    width="68"
                    loading="lazy"
                  /><span class="fn">roylee fizer</span> on <a
                    href="/blog/2009/08/numbered-notes-6-6-jazz-font-express-stave-and-twinnote/#comment-7"
                    ><time datetime="2011-03-19T16:54:11+00:00"
                      >March 19, 2011 at 4:54 pm</time
                    >
                  </a>
                  <span class="says">said:</span>
                </div>
              </footer>

              <div class="comment-content">
                <p>
                  how can i purchese or but software from john keller express<br
                  />
                  staves is this software program that i can download with a credit
                  card and im not sure how he demnonstrated how his use it in finale
                  will some one help me
                </p>
              </div>

              <div class="reply"></div>
            </article>
          </li>
          <li class="comment even thread-even depth-1" id="li-comment-8">
            <article id="comment-8" class="comment">
              <footer class="comment-meta">
                <div class="comment-author vcard">
                  <img
                    alt=""
                    src="https://secure.gravatar.com/avatar/a91cc8c00dc1cdfdc60b1bd43be8e7bd?s=68&d=mm&r=g"
                    srcset="https://secure.gravatar.com/avatar/a91cc8c00dc1cdfdc60b1bd43be8e7bd?s=136&d=mm&r=g 2x"
                    class="avatar avatar-68 photo"
                    height="68"
                    width="68"
                    loading="lazy"
                  /><span class="fn">mara</span> on <a
                    href="/blog/2009/08/numbered-notes-6-6-jazz-font-express-stave-and-twinnote/#comment-8"
                    ><time datetime="2011-03-21T16:36:12+00:00"
                      >March 21, 2011 at 4:36 pm</time
                    >
                  </a>
                  <span class="says">said:</span>
                </div>
              </footer>

              <div class="comment-content"><p>nice!</p></div>

              <div class="reply"></div>
            </article>
          </li>
          <li
            class="comment odd alt thread-odd thread-alt depth-1"
            id="li-comment-9"
          >
            <article id="comment-9" class="comment">
              <footer class="comment-meta">
                <div class="comment-author vcard">
                  <img
                    alt=""
                    src="https://secure.gravatar.com/avatar/7f487fe20d070a9947e7410b66d33312?s=68&d=mm&r=g"
                    srcset="https://secure.gravatar.com/avatar/7f487fe20d070a9947e7410b66d33312?s=136&d=mm&r=g 2x"
                    class="avatar avatar-68 photo"
                    height="68"
                    width="68"
                    loading="lazy"
                  /><span class="fn"
                    ><a
                      href="http://www.guitarzonline.com"
                      rel="external nofollow ugc"
                      class="url">Arina</a
                    >
                  </span> on <a
                    href="/blog/2009/08/numbered-notes-6-6-jazz-font-express-stave-and-twinnote/#comment-9"
                    ><time datetime="2011-03-21T16:40:01+00:00"
                      >March 21, 2011 at 4:40 pm</time
                    >
                  </a>
                  <span class="says">said:</span>
                </div>
              </footer>

              <div class="comment-content">
                <p>Thanx. Do you know where I can get video tutorials?</p>
              </div>

              <div class="reply"></div>
            </article>
          </li>
          <li
            class="comment byuser comment-author-mnpadmin bypostauthor even thread-even depth-1"
            id="li-comment-10"
          >
            <article id="comment-10" class="comment">
              <footer class="comment-meta">
                <div class="comment-author vcard">
                  <img
                    alt=""
                    src="https://secure.gravatar.com/avatar/793e31950070e1a1e00d74f55a0da24c?s=68&d=mm&r=g"
                    srcset="https://secure.gravatar.com/avatar/793e31950070e1a1e00d74f55a0da24c?s=136&d=mm&r=g 2x"
                    class="avatar avatar-68 photo"
                    height="68"
                    width="68"
                    loading="lazy"
                  /><span class="fn">Webmaster</span> on <a
                    href="/blog/2009/08/numbered-notes-6-6-jazz-font-express-stave-and-twinnote/#comment-10"
                    ><time datetime="2011-03-22T10:57:17+00:00"
                      >March 22, 2011 at 10:57 am</time
                    >
                  </a>
                  <span class="says">said:</span>
                </div>
              </footer>

              <div class="comment-content">
                <p>
                  For more about Finale and how John Keller uses it for his
                  Express Stave notation, and how it can be used with other
                  chromatic-staff notations, see this page on our site:
                </p>
                <p>
                  <a href="/software/finale.html" rel="nofollow ugc"
                    >http://musicnotation.org/software/finale.html</a
                  >
                </p>
                <p>
                  (Note: We do not sell any software. These are features that
                  come with Finale.)
                </p>
              </div>

              <div class="reply"></div>
            </article>
          </li>
        </ol>

        <p class="nocomments">Comments are closed.</p>
      </div>
    </div>
  </div>
</MnpLayoutBlog>
