---
import MnpLayout from "../../layouts/MnpLayout.astro";
import { makeMetaTitle } from "../../utils/utils";
---

<MnpLayout
  metaTitle={makeMetaTitle("Tutorials")}
  metaDescription="Learn about various aspects of alternative music notation systems from this set of tutorials. Understand the various ways they improve upon traditional music notation."
>
  <section id="primary">
    <div id="content" role="main">
      <header class="page-header">
        <h1 class="page-title">Tutorials</h1>
        <p>
          Learn about the advantages of alternative music notation systems and
          the differences between them. Start with our introduction to chromatic
          staves on our <a href="/">home page</a>.
        </p>
      </header>
      <article class="tutorials type-tutorials status-publish hentry">
        <header class="entry-header">
          <h2 class="entry-title">
            <a
              href="/tutorials/6-6-and-7-5-pitch-patterns/"
              title="Permalink to 6-6 and 7-5 Pitch Patterns"
              rel="bookmark">6-6 and 7-5 Pitch Patterns</a
            >
          </h2>
        </header>
        <div class="entry-summary">
          <p>
            Many alternative music notation systems highlight one of these two
            pitch patterns. They represent two different approaches to designing
            an alternative notation system.
          </p>
        </div>
      </article>
      <article class="tutorials type-tutorials status-publish hentry">
        <header class="entry-header">
          <h2 class="entry-title">
            <a
              href="/tutorials/noteheads-and-pitch/"
              title="Permalink to Noteheads and Pitch"
              rel="bookmark">Noteheads and Pitch</a
            >
          </h2>
        </header>
        <div class="entry-summary">
          <p>
            On the rationale for using solid and hollow noteheads to indicate
            pitch rather than duration.
          </p>
        </div>
      </article>
      <article class="tutorials type-tutorials status-publish hentry">
        <header class="entry-header">
          <h2 class="entry-title">
            <a
              href="/tutorials/intervals/"
              title="Permalink to Intervals in Traditional Music Notation"
              rel="bookmark">Intervals in Traditional Music Notation</a
            >
          </h2>
        </header>
        <div class="entry-summary">
          <p>
            An in-depth look at how interval relationships are obscured in
            traditional music notation.
          </p>
        </div>
      </article>
      <article class="tutorials type-tutorials status-publish hentry">
        <header class="entry-header">
          <h2 class="entry-title">
            <a
              href="/tutorials/reading-playing-music-intervals/"
              title="Permalink to Reading and Playing Music by Intervals"
              rel="bookmark">Reading and Playing Music by Intervals</a
            >
          </h2>
        </header>
        <div class="entry-summary">
          <p>
            Clearly a music notation system should make it easy to identify
            individual notes. This tutorial discusses why it is also important
            to make it easy to identify intervals as well.
          </p>
        </div>
      </article>
      <article class="tutorials type-tutorials status-publish hentry">
        <header class="entry-header">
          <h2 class="entry-title">
            <a
              href="/tutorials/intervals-in-6-6-music-notation-systems/"
              title="Permalink to Intervals in 6-6 Music Notation Systems"
              rel="bookmark">Intervals in 6-6 Music Notation Systems</a
            >
          </h2>
        </header>
        <div class="entry-summary">
          <p>
            Shows how alternative notation systems can improve upon traditional
            notation&#8217;s representation of interval relationships.
          </p>
        </div>
      </article>
      <article class="tutorials type-tutorials status-publish hentry">
        <header class="entry-header">
          <h2 class="entry-title">
            <a
              href="/tutorials/chromatic-staves-example/"
              title="Permalink to Chromatic Staves Example"
              rel="bookmark">Chromatic Staves Example</a
            >
          </h2>
        </header>
        <div class="entry-summary">
          <p>
            Considers a passage of music that requires a complex key signature
            and many accidentals in traditional music notation, and shows how
            alternative music notations can make it clearer and easier to learn.
          </p>
        </div>
      </article>
      <article class="tutorials type-tutorials status-publish hentry">
        <header class="entry-header">
          <h2 class="entry-title">
            <a
              href="/tutorials/enharmonic-equivalents/"
              title="Permalink to Enharmonic Equivalents"
              rel="bookmark">Enharmonic Equivalents</a
            >
          </h2>
        </header>
        <div class="entry-summary">
          <p>
            A more advanced tutorial that compares the representation of
            enharmonically equivalent notes in traditional notation and on a
            chromatic staff. Considers the reasons for differentiating between
            them.
          </p>
        </div>
      </article>
      <article class="tutorials type-tutorials status-publish hentry">
        <header class="entry-header">
          <h2 class="entry-title">
            <a
              href="/tutorials/numerical-notation-systems/"
              title="Permalink to Numerical Notation Systems"
              rel="bookmark">Numerical Notation Systems</a
            >
          </h2>
        </header>
        <div class="entry-summary">
          <p>
            Historical overview and discussion of various numerical systems for
            music notation.
          </p>
        </div>
      </article>
      <footer>
        <div class="divider-section footnotes">
          In the future we plan to add more tutorials that address topics such
          as: rhythm notation systems, complementary instrument and notation
          design, historical development of traditional music notation,
          alternative key signatures and accidental systems, microtonal
          notation, pitch-based and interval-based reading and playing,
          approaches to continuity with traditional music notation and theory.
          If you would like to help us create tutorials for this site, please <a
            href="/home/about-faq-contact-info/#contact">contact us.</a
          >
        </div>
      </footer>
    </div>
  </section>
</MnpLayout>
