---
import MnpLayout from "../../../layouts/MnpLayout.astro";
import { makeMetaTitle } from "../../../utils/utils";
---

<MnpLayout
  metaTitle={makeMetaTitle("Publications", "MNMA")}
  metaDescription="Publications and old website news archive of the Music Notation Modernization Association (MNMA) 1985-2007."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="page type-page status-publish hentry">
        <header class="entry-header">
          <h1 class="mnma-title">
            MNMA | Music Notation Modernization Association | 1985-2007
          </h1>
          <h1 class="entry-title">Publications</h1>
        </header>

        <div class="entry-content">
          <ul>
            <li><strong><a href="#news">Music Notation News</a></strong></li>
            <li>
              <strong
                ><a href="#procedure">Music Notation Evaluation Procedure</a>
              </strong>
            </li>
            <li>
              <strong
                ><a href="#proposals">Directory of Music Notation Proposals</a>
              </strong>
            </li>
            <li>
              <strong><a href="#test">Test for New Notation Systems</a></strong>
            </li>
            <li>
              <strong><a href="#archive">MNMA Website News Archive</a></strong>
            </li>
          </ul>
          <h2 id="news" class="divider-heading">
            Music Notation News — The Quarterly Journal of the MNMA
          </h2>
          <p>
            <img
              loading="lazy"
              class="alignright"
              title="Music Notation News"
              src="/wp-content/uploads/2013/03/mnnews2.jpg"
              alt="Music Notation News"
              width="368"
              height="352"
            /><strong>Edited by Thomas S. Reed</strong>
          </p>
          <p>
            In publication from 1986-2004, Music Notation News was
            professionally typeset with lots of pictures and notation
            examples.  While it was being published, members of the MNMA
            received a free subscription. Each issue contained fascinating
            research and developments in the following areas:
          </p>
          <ul>
            <li>News about printed music, sheet music, and music publishing</li>
            <li>Proposals for improving the system of music notation</li>
            <li>New instruments and keyboard layouts</li>
            <li>New and alternative notation systems and tablatures</li>
            <li>Experimental and microtonal music</li>
            <li>New methods for teaching music notation</li>
            <li>Book reviews</li>
            <li>Heated debates</li>
          </ul>
          <p>
            8.5 x 11 inches, the number of pages varies from issue to issue. No
            advertising. ISSN: 0258-963X
          </p>
          <p>
            $5.00 an Issue (+ Shipping)<br />
            <a
              href="http://orgs.usd.edu/nmm/GiftShop/MNMA/MusicNotationModernizationAssociation.html"
              target="_blank">Place an Order</a
            >
          </p>
          <h2 id="procedure" class="divider-heading">
            Music Notation Evaluation Procedure
          </h2>
          <p>
            <img
              loading="lazy"
              class="alignright"
              title="Music Notation Evaluation Procedure"
              src="/wp-content/uploads/2013/03/evalutation-cover-wborder2.gif"
              alt="Music Notation Evaluation Procedure"
              width="212"
              height="274"
            /><strong>by Douglas F. Keislar</strong><br />
            Notation Research Press, 1994
          </p>
          <p>
            How can one evaluate the many new proposals for improving
            traditional music notation?  This book provides a means that is
            considered to be fair, thorough, and flexible.  The work is the full
            report of the first (1993-1994) MNMA Evaluation Committee, chaired
            by Doug Keislar. In addition to the evaluation procedure, the book
            provides a probing discussion of what music notation is and
            isn&#8217;t, and how music notation should function for a human
            reader and writer. Recommended for all who are concerned with the
            written form of music.
          </p>
          <p>
            90 pages + 18 page summary, paperback.  ISBN: 0-9638849-1-3, LC:
            94-69390
          </p>
          <p>
            $25.00 (+ Shipping)<br />
            <a
              href="http://orgs.usd.edu/nmm/GiftShop/MNMA/MusicNotationModernizationAssociation.html"
              target="_blank">Place an Order</a
            >
          </p>
          <h3>Table of Contents</h3>
          <ul class="no-bullet-list">
            <li>Preface</li>
            <li>Overview</li>
            <li>
              <strong>CHAPTER 1 Evaluation Technique</strong>
              <ul class="no-bullet-list">
                <li>Goals of the recommended evaluation technique</li>
                <li>Summary of technique</li>
                <li>Phase One: Preparation</li>
                <li>Phase Two: Analysis and Classification</li>
                <li>Phase Three: Evaluation</li>
                <li>Phase Four: Inventing new notation systems</li>
                <li>Phase Five: Scientific testing (optional)</li>
              </ul>
            </li>
            <li>
              <strong>CHAPTER 2 Definitions</strong>
              <ul class="no-bullet-list">
                <li>What is music?</li>
                <li>What is a music notation?</li>
                <li>What is a general-purpose music notation?</li>
              </ul>
            </li>
            <li>
              <strong>CHAPTER 3 Parameters</strong>
              <ul class="no-bullet-list">
                <li>Range and resolution of sound parameters</li>
                <li>
                  Correlation of sound parameters with graphical parameters
                </li>
                <li>Traditional musical parameters</li>
                <li>A framework for classifying the notation of a parameter</li>
              </ul>
            </li>
            <li>
              <strong>CHAPTER 4 Time</strong>
              <ul class="no-bullet-list">
                <li>Range and Resolution</li>
                <li>Dimensionality</li>
                <li>Quantization</li>
                <li>Tempo</li>
                <li>Transformations</li>
                <li>Parameterization of events</li>
                <li>Time symbols</li>
              </ul>
            </li>
            <li>
              <strong>CHAPTER 5 Pitch</strong>
              <ul class="no-bullet-list">
                <li>Range and Resolution</li>
                <li>Dimensionality</li>
                <li>Quantization</li>
                <li>Transformations</li>
                <li>Pitch symbols</li>
              </ul>
            </li>
            <li>
              <strong>CHAPTER 6 Other Elements</strong>
              <ul class="no-bullet-list">
                <li>Other Parameters</li>
                <li>Non-parametric symbols</li>
              </ul>
            </li>
            <li>
              <strong>CHAPTER 7 Symbols</strong>
              <ul class="no-bullet-list">
                <li>Check for a pre-existing evaluation</li>
                <li>Interactions with other features</li>
                <li>Frequency of use</li>
                <li>Visual clarity</li>
                <li>Precision</li>
                <li>Intuitiveness</li>
                <li>Ease of writing</li>
                <li>Advantages and disadvantages of this symbol</li>
                <li>Other considerations</li>
              </ul>
            </li>
            <li>
              <strong>CHAPTER 8 Systems</strong>
              <ul class="no-bullet-list">
                <li>Evaluation of components of the system</li>
                <li>General-purpose</li>
                <li>Efficiency</li>
                <li>Precision</li>
                <li>Visual clarity</li>
                <li>Intuitiveness</li>
                <li>Ease of writing</li>
                <li>Consistency</li>
                <li>Thoroughness</li>
                <li>Aesthetics</li>
                <li>Advantages and disadvantages of this system</li>
                <li>Other considerations</li>
              </ul>
            </li>
            <li>
              <strong>CHAPTER 9 Scientific Experiments</strong>
              <ul class="no-bullet-list">
                <li>Learning</li>
                <li>Performance tasks</li>
                <li>Multiple-choice tasks</li>
                <li>Threshold of perceptibility</li>
              </ul>
            </li>
            <li>
              <strong>CHAPTER 10 Suggested Features</strong>
              <ul class="no-bullet-list">
                <li>General</li>
                <li>Time</li>
                <li>Pitch</li>
              </ul>
            </li>
            <li><strong>SUMMARY</strong></li>
          </ul>
          <h2 id="proposals" class="divider-heading">
            Directory of Music Notation Proposals
          </h2>
          <p>
            <strong
              ><img
                loading="lazy"
                class="alignright"
                title="Directory of Music Notation Proposals"
                src="/wp-content/uploads/2013/03/directory-wBorder225.gif"
                alt="Directory of Music Notation Proposals"
                width="225"
                height="309"
              />by Thomas S. Reed</strong
            ><br />
            Notation Research Press, 1997
          </p>
          <p>
            Contains more than 500 proposals for improving on traditional
            notation, in one way or another.  Includes illustrations of 36
            alternative notation systems.
          </p>
          <p>
            212 pages, including the appendix.  8.5 x 11 paperback, with comb
            binding. ISBN: 0-9638849-2-1,  LC: 96-93025
          </p>
          <p>
            $28.00 (+ Shipping)<br />
            <a
              href="http://orgs.usd.edu/nmm/GiftShop/MNMA/MusicNotationModernizationAssociation.html"
              target="_blank">Place an Order</a
            >
          </p>
          <h3>Table of Contents</h3>
          <ul class="no-bullet-list">
            <li>Ch 1: Preface</li>
            <li>Ch 2: Acknowledgements</li>
            <li>Ch 3: How to Use the Directory</li>
            <li>Ch 4: Shortcomings of Traditional Notation</li>
            <li>Ch 5: A Brief Description of the Experiment</li>
            <li>Ch 6: The Screens in Phases I and II</li>
            <li>Ch 7: Results of Phase I Screening</li>
            <li>Ch 8: Results of Phase II Screening</li>
            <li>Ch 9: Information about the 36 Chromatic Scales</li>
            <li>
              Ch 10: Chromatic Scales Illustration of 36 Systems Passing Phase
              II
            </li>
            <li>
              Ch 11: Grouping of 36 Staffs by Line Pattern (by Doug Keislar)
            </li>
            <li>Ch 12: Biographical Sketches of the Evaluators</li>
            <li>
              Ch 13: Directory of Music Notation Proposals (with Phase I
              Screening)
            </li>
            <li>
              Ch 14: Appendix: Bibliography of New Notation (compiled by T.S.
              Reed)
            </li>
          </ul>
          <h2 id="test" class="divider-heading">
            Test for New Notation Systems
          </h2>
          <p>
            <strong>by Thomas S. Reed and Douglas F. Keislar</strong><br />
            Notation Research Press, 1999
          </p>
          <p>
            The standardized test that was applied by volunteer evaluators to 37
            selected new notation systems during the MNMA&#8217;s <a
              href="/mnma/research-project/">Evaluation Test</a
            >. This comprehensive test includes exercises for reading and
            writing scales, as well as applications for works by Bach, Ravel,
            and Stravinsky up to the orchestral level.
          </p>
          <p>56 Pages, Paperback</p>
          <p>
            $10.00 (+ Shipping)<br />
            <a
              href="http://orgs.usd.edu/nmm/GiftShop/MNMA/MusicNotationModernizationAssociation.html"
              target="_blank">Place an Order</a
            >
          </p>
          <h2 id="archive" class="divider-heading">
            MNMA Website News Archive
          </h2>
          <p><em>News from the MNMA website from 2004-2007.</em></p>
          <p>&nbsp;</p>
          <h3>
            New Tutorial on &#8220;Using Notehead &#8216;Color&#8217; for
            Pitch&#8221;
          </h3>
          <p>
            Some alternative music notations use notehead color (solid or hollow
            noteheads) to indicate pitch instead of rhythm. This tutorial
            describes the rationale behind this approach:
          </p>
          <p>
            <a href="/tutorials/noteheads-and-pitch/"
              >Using Notehead &#8216;Color&#8217; for Pitch</a
            >
          </p>
          <p>05.22.2007</p>
          <h3>LilyPond Is Being Adapted for Alternative Notations</h3>
          <p>
            Kevin Dalley has been working on adapting <a
              href="http://lilypond.org/"
              target="_blank">LilyPond</a
            > notation software for use with alternative notations. He has made some
            good progress getting LilyPond to display music in Richard Parncutt&#8217;s
            <a href="/systems/group/whole-step-4-3-lines/">6-6 Tetragram</a> notation.
            You can check out his work on his website [http://www.kelphead.org/chromatic/;
            no longer exists].
          </p>
          <p>02.18.2007</p>
          <h3>Our Website Gets a &#8220;New Coat of Paint&#8221;</h3>
          <p>
            2007 has brought another revision of the <a href="/mnma/">MNMA</a> website.
            We have added a <a href="/systems/">Guided Tour</a> to the notation gallery,
            which should make it more engaging (and less overwhelming) for new visitors.
            We&#8217;ve also added a <a href="/home/about-faq-contact-info/#faq"
              >FAQ</a
            > page that should answer common questions. The forum now rightly takes
            its place in the main navigation bar, where it has its own tab. Our old
            membership page has been merged into the new <a href="/mnma/"
              >About the MNMA</a
            >. And finally, the biggest change is under the hood, as we&#8217;ve
            moved to a &#8220;Cascading Style Sheet&#8221; based design. This
            allows us to do all kinds of cool things like widen the vertical
            spacing between lines of text so they are easier to read. Please
            send any comments to the <a
              href="/home/about-faq-contact-info/#contact">webmaster</a
            >.
          </p>
          <p>01.26.2007</p>
          <h3>Forum Membership Breaks the 100 Mark</h3>
          <p>
            Just under two years after we moved our listserv to Google Groups
            and renamed it the &#8220;forum,&#8221; the number of members has
            broken into the triple digits. This is an average growth of just
            over four new members a month, evidence that the word is getting out
            and that people are interested in our relatively obscure topic.
            Coincidentally, Google also just upgraded their <a
              href="http://groups.google.com/"
              target="_blank">Groups</a
            > service, offering a much improved web interface and some nice new features.
          </p>
          <p>01.24.2007</p>
          <h3>
            Klavar &#8211; Mirck Version by Jean de Buur Added to Notation
            Gallery
          </h3>
          <p>
            <a href="/system/klavar-mirck-version-by-jean-de-buur/"
              >Klavar &#8211; Mirck Version</a
            > is Jean de Buur&#8217;s horizontal and pitch-proportional version of
            Klavar notation. Now you can check it out in our <a href="/systems/"
              >Notation Gallery</a
            >.
          </p>
          <p>07.03.2006</p>
          <h3>
            Website Revision Introduces &#8216;Notation Gallery&#8217; and Other
            Enhancements
          </h3>
          <p>
            The newly revised <a href="/mnma/">MNMA</a> website includes a revamped
            and renamed <a href="/systems/">Notation Gallery</a> which makes it easier
            than ever to compare notation systems. The gallery now includes a <a
              href="/software/">Test Drive</a
            > section with materials such as manuscript paper, musical works, examples,
            and tutorials for various notations. Among various other enhancements
            there is a new section for <a href="/tutorials/">Tutorials</a> that now
            includes a tutorial on <a
              href="/tutorials/6-6-and-7-5-pitch-patterns/"
              >7-5 and 6-6 Patterns</a
            >.
          </p>
          <p>05.23.2006</p>
          <h3>
            Software Breakthrough: Using Finale for Computer Transnotation
          </h3>
          <p>
            John Keller, an <a href="/mnma/">MNMA</a> member and notation inventor
            from Australia, has developed a method for automated transnotation of
            music using Finale music notation software. This represents a huge breakthrough
            in this area. See <a href="/software/">Software</a> for more information.
          </p>
          <p>02.03.2006</p>
          <div>
            <h3>
              Alternative Notation Manuscript Paper Now Available for Download
            </h3>
            <p>
              Now it is easier than ever to test-drive the music notations
              featured on our site &#8212; just download and print your own
              blank sheets of manuscript paper then grab a pen and give them a
              try! This manuscript paper was created for the <a
                href="/mnma/research-project/">MNMA&#8217;s Research Project</a
              >, and is now available in <a href="/systems/">Music Notations</a
              >. Michael Johnston originally created these files and then helped
              prepare them for the website.
            </p>
            <p>02.03.2006</p>
            <h3>MNMA News Mailing List Launched</h3>
            <p>
              Now you can get the latest <a href="/mnma/">MNMA</a> news delivered
              to your email inbox. Email news updates are mailed out on a quarterly
              basis. (See the box above on the right for more information.)
            </p>
            <p>02.03.2006</p>
            <h3>
              Two French MNMA Members Meet for a &#8220;Minimal
              Conference&#8221;
            </h3>
            <p>
              <img
                loading="lazy"
                class="alignright"
                src="/wp-content/uploads/2013/03/buur_waller_2005_crop3.jpg"
                alt="Photo of Jean de Buur and Dominique Waller"
                width="338"
                height="324"
              />Dominique Waller and Jean de Buur, two French members of the <a
                href="/mnma/">MNMA</a
              >, met at her home for a &#8220;Minimal Conference.&#8221; Here is
              a message about it from Jean:
            </p>
            <p>
              &#8220;Dominique came to visit me at my home for a day. We
              explained our respective systems: Le solfège numérique (numerical
              notation) and klavarskribo. We also talked about music education,
              MNMA and also Gerard Charnoz, the other MNMA member we both had
              the occasion to meet and discuss our systems with. We hope to meet
              soon again for further discussion.&#8221;
            </p>
            <p>12.29.2005</p>
            <h3>Express Stave by John Keller</h3>
            <p>
              John Keller is the first inventor to submit his notation for
              inclusion on our site. You can now check out his <a
                href="/system/express-stave-by-john-keller/">Express Stave</a
              > in the <a href="/systems/">Music Notations</a> section. Update: John
              has also contributed several PDF files including some sample music
              and an introductory tutorial to his notation. [12.08.05]
            </p>
            <p>11.05.2005</p>
            <h3>New MNMA Treasurer</h3>
            <p>
              Michael Laschober is retiring from his position as <a
                href="/mnma/">MNMA</a
              > treasurer which he has held for the past 15 years. Laurel R. Adams,
              of Bloomington, Indiana, U.S.A. will be taking over as our new treasurer,
              effective August 1st.
            </p>
            <p>07.18.2005</p>
            <h3>Listserv Now on Google Groups</h3>
            <p>
              The <a href="/mnma/">MNMA</a> Listserv is now hosted by Google Groups.
              It will continue to work as before, but subscribers will now have more
              delivery options and access to an online archive of listserv messages.
              <a
                href="https://groups.google.com/forum/#!forum/musicnotation"
                target="_blank"
                ><br />
                More Info</a
              >
            </p>
            <p>02.19.2005</p>
            <h3>Software for Klavar Notation</h3>
            <p>
              It has come to our attention that there is now software available
              for Klavar notation. Called KlavarScript, it runs on the Windows
              operating system and is available as a free download. It currently
              imports MIDI files, but future versions will import MusicXML files
              as well.<br />
              More Info: <a
                href="http://klavar.com/en/downloads-en"
                target="_blank">www.vdkolk.nl/klavar/</a
              >
            </p>
            <p>
              The <a href="/mnma/">MNMA</a> is interested in developing a somewhat
              similar software application for other alternative music notations.<a
                href="/software/"
                ><br />
                More Info</a
              >
            </p>
            <p>02.11.2005</p>
            <h3>MNMA Membership</h3>
            <p>
              With Thomas Reed&#8217;s retirement, and the publication of the
              last issue of Music Notation News, membership in the <a
                href="/mnma/">MNMA</a
              > is not what it used to be. On the bright side, it is now free of
              charge.
            </p>
            <p>01.05.2005</p>
            <h3>Thomas Reed Retires</h3>
            <p>
              After serving for sixteen and a half years as editor of <a
                href="/mnma/publications/#news">Music Notation News</a
              >, Thomas Reed has now retired. In continuous publication from
              1986 through the 4th quarter of 2004, the MNN has been the
              official organ of the <a href="/mnma/">MNMA</a>, and the forum for
              the exchange of ideas, opinions, and research concerning
              alternative music notations. Our hope is that this exchange will
              continue to some extent via the <a
                href="https://groups.google.com/forum/#!forum/musicnotation"
                target="_blank">MNMA Forum</a
              >, however this does mark the end of an era in the MNMA&#8217;s
              history. Thank you, Thomas for your tremendous dedication and
              effort over the years in your many roles in the MNMA!
            </p>
            <p>01.01.2005</p>
            <h3>Website Receives Award</h3>
            <p>
              Our website has been awarded the Top Music Site Award from the So
              Musical! music directory, &#8220;the largest collection of quality
              music sites on the internet.&#8221;
            </p>
            <p>10.01.2004</p>
            <h3>MNMA Listserv Launched</h3>
            <p>
              An <a href="/mnma/">MNMA</a> listserv has been set up which will provide
              a general forum for<br />
              ongoing discussions among MNMA members via email.
            </p>
            <p>10.01.2004</p>
            <h3>Thomas Reed to Retire as MNN Editor</h3>
            <p>
              Thomas Reed, the founder of the <a href="/mnma/">MNMA</a>, has
              announced his retirement as editor of <a
                href="/mnma/publications/#news">Music Notation News</a
              >, effective after the 4th quarter 2004 issue. He has been the
              editor during the eighteen years since the first issue was
              published in 1986, except for one and a half years when Mark Gaare
              was editor (4th Quarter 1992 &#8211; 1st Quarter 1994). Our hats
              are off to him for his tremendous dedication and effort over the
              years in his many roles in the MNMA.
            </p>
            <p>03.01.2004</p>
            <h3>Software?</h3>
            <p>
              Several <a href="/mnma/">MNMA</a> members have begun exploring the
              possibility of developing a software application to translate music
              from traditional notation to alternative notations.
              <a href="/software/open-source-strategy/"
                ><br />
                More Info</a
              >
            </p>
            <p>03.01.2004</p>
            <h3>MNMA Email Addresses</h3>
            <p>
              Thanks to the efforts of Michael Johnston, members can now get
              their own free mnma.org email address.<a
                href="/home/about-faq-contact-info/#contact"
                ><br />
                More Info</a
              >
            </p>
            <p>03.01.2004</p>
            <h3>MNMA Website Redesigned</h3>
            <p>
              The <a href="/mnma/">MNMA</a> website has been redesigned as of March
              2004. Many thanks to Michael Laschober for his work as the MNMA webmaster,
              creating the original site and generating the site&#8217;s initial
              contents. Thanks also to Michael Johnston for setting up our new URL:
              www.mnma.org. Finally, thanks to Paul Morris for his work redesigning
              the site and taking on duties as webmaster. Please <a
                href="/home/about-faq-contact-info/#contact">contact</a
              > him if you have any comments, questions, suggestions, additions,
              or corrections.
            </p>
            <p>03.01.2004</p>
          </div>
        </div>
      </article>
    </div>
  </div>
</MnpLayout>
