---
import MnpLayoutBlog from "../../../../../layouts/MnpLayoutBlog.astro";
import { makeMetaTitle } from "../../../../../utils/utils";
---

<MnpLayoutBlog
  metaTitle={makeMetaTitle(
    "New Interactive Gallery of Music Notation Systems, and Updated Guided Tour",
    "Blog"
  )}
  metaDescription="A blog post about improvements to the Music Notation Project website including an interactive notation system gallery and updated guided tour."
>
  <div id="primary">
    <div id="content" role="main">
      <nav id="nav-single">
        <h3 class="assistive-text">Post navigation</h3>
        <span class="nav-previous"
          ><a href="/blog/2009/02/enharmonic-equivalents-tutorial/" rel="prev"
            ><span class="meta-nav">&larr;</span> Previous Post</a
          >
        </span>
        <span class="nav-next"
          ><a href="/blog/2009/06/now-on-facebook/" rel="next"
            >Next Post <span class="meta-nav">&rarr;</span>
          </a>
        </span>
      </nav>

      <article
        class="post type-post status-publish format-standard hentry category-uncategorized"
      >
        <header class="entry-header">
          <h1 class="entry-title">
            New Interactive Gallery of Music Notation Systems, and Updated
            Guided Tour
          </h1>

          <div class="entry-meta">
            <span class="sep">Posted on</span>
            <time class="entry-date" datetime="2009-06-11T09:00:00+00:00"
              >June 11, 2009</time
            ><span class="by-author">
              <span class="sep"> by</span>
              <span class="author vcard"
                ><a
                  class="url fn n"
                  href="/blog/author/mnpadmin/"
                  title="View all posts by Webmaster"
                  rel="author">Webmaster</a
                >
              </span>
            </span>
          </div>
        </header>

        <div class="entry-content">
          <p>
            Have you ever wanted to select the set of characteristics you want
            in an alternative music notation system, and then quickly see which
            systems have them? Now you can with our new interactive <a
              href="/systems/gallery/">Gallery of Music Notation Systems</a
            >.<span id="more-490"></span>
          </p>
          <p>
            On this new page you can select the characteristics you prefer, and
            it will filter and display only those systems on our site that have
            them. Characteristics like:
          </p>
          <ul>
            <li>Lines per octave</li>
            <li>Line spacing (intervallic distance between lines)</li>
            <li>Use of bold and dashed lines</li>
            <li>Use of solid and hollow noteheads (for pitch or rhythm)</li>
            <li>Use of different notehead shapes</li>
            <li>Vertical space required</li>
          </ul>
          <p>
            Eventually we will be able to add other characteristics (especially
            their approaches to rhythmic notation). Are there any others you
            would like to see that are not in this list? If so, let us know.
          </p>
          <p>
            As was possible before, you can still sort the systems by line
            pattern, by 6-6 and 7-5 pitch patterns, and by date. Now this
            sorting works together with the new filtering function.
          </p>
          <p>
            We have also updated the <a href="/systems/"
              >Music Notations Guided Tour</a
            > page. It now features larger images of a chromatic scale in each system.
            These illustrations now include the note names under the notes. They
            are also now presented one at a time under each category, to avoid overwhelming
            new visitors with too many systems to take in at once. These changes
            should make the guided tour even more informative and engaging for those
            who are new to alternative music notation systems.
          </p>
          <p>
            (And if you have not seen our <a href="/tutorials/intervals/"
              >Intervals Tutorial</a
            > recently, it has also been updated with new dynamic, interactive illustrations.)
          </p>
          <p>Let us know what you think!</p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutBlog>
