---
import MnpLayoutBlog from "../../../../../layouts/MnpLayoutBlog.astro";
import { makeMetaTitle } from "../../../../../utils/utils";
---

<MnpLayoutBlog
  metaTitle={makeMetaTitle("Enharmonic Equivalents Tutorial and More", "Blog")}
  metaDescription="A blog post about a new tutorial covering enharmonic equivalents on the Music Notation Project website."
>
  <div id="primary">
    <div id="content" role="main">
      <nav id="nav-single">
        <h3 class="assistive-text">Post navigation</h3>
        <span class="nav-previous"
          ><a
            href="/blog/2009/02/review-of-e-m-humes-supermusicology/"
            rel="prev"><span class="meta-nav">&larr;</span> Previous Post</a
          >
        </span>
        <span class="nav-next"
          ><a
            href="/blog/2009/06/new-interactive-gallery-of-music-notation-systems/"
            rel="next"
            >Next Post <span class="meta-nav">&rarr;</span>
          </a>
        </span>
      </nav>

      <article
        class="post type-post status-publish format-standard hentry category-uncategorized"
      >
        <header class="entry-header">
          <h1 class="entry-title">Enharmonic Equivalents Tutorial and More</h1>

          <div class="entry-meta">
            <span class="sep">Posted on</span>
            <time class="entry-date" datetime="2009-02-18T10:21:00+00:00"
              >February 18, 2009</time
            ><span class="by-author">
              <span class="sep"> by</span>
              <span class="author vcard"
                ><a
                  class="url fn n"
                  href="/blog/author/mnpadmin/"
                  title="View all posts by Webmaster"
                  rel="author">Webmaster</a
                >
              </span>
            </span>
          </div>
        </header>

        <div class="entry-content">
          <p>
            It has been one year and one month since the inception of the Music
            Notation Project on January 17th, 2008. We would like to note this
            belated anniversary and to announce some recent and some less recent
            additions and revisions to our website.<span id="more-489"></span>
          </p>
          <p>
            <a href="/tutorials/enharmonic-equivalents/"
              >New Enharmonic Equivalents Tutorial</a
            > &#8211; on the representation of enharmonically equivalent notes in
            traditional notation and in alternative notation systems. (February 2009)
          </p>
          <p>
            <a href="/tutorials/6-6-and-7-5-pitch-patterns/"
              >6-6 and 7-5 Pitch Patterns Tutorial</a
            > &#8211; revised with clearer illustrations of these two approaches
            to music notation design. (February 2009)
          </p>
          <p>
            <a href="/software/lilypond/"
              >Lilypond and Alternative Music Notations</a
            >, <a href="/software/lilypond/">Info for Users</a>, and <a
              href="/software/lilypond/">Info for Developers</a
            > &#8211; expanded documentation of Kevin Dalley and Mark Hanlon&#8217;s
            work towards supporting chromatic staves and alternative notation systems
            in Lilypond. (Most of this originally appeared on Dalley&#8217;s website,
            and has been updated and revised.) (December 2008)
          </p>
          <p>
            Our site was given a visual refresh, including rearranging it so
            that the main navigational headings appear horizontally across the
            header, with subheadings listed vertically in the column on the
            left. (December 2008)
          </p>
          <p>
            <a href="/systems/more-notation-systems/"
              >More Music Notation Systems</a
            > &#8211; a listing of additional alternative notation systems with links
            to their websites. This page expands upon the systems that are presented
            more fully on our site. It organizes and adds to the list that was formerly
            found at <a
              href="/wiki/miscellaneous/related-websites-and-publications/"
              >Related Websites</a
            >. (October 2008)
          </p>
          <p>
            <a href="/tutorials/intervals/">Intervals 1: Traditional Notation</a
            > &#8211; now includes discussion and illustrations of chromatic intervals
            in traditional notation (scroll to the bottom of the page). (October
            2008)
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutBlog>
