---
import MnpLayoutNotationSystemsGroup from "../../../../layouts/MnpLayoutNotationSystemsGroup.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutNotationSystemsGroup
  metaTitle={makeMetaTitle(
    "Lines a Whole Step Apart, 4 or 3 Lines per Octave",
    "Notation Systems"
  )}
  metaDescription="Alternative music notation systems that have: Lines a Whole Step Apart, 4 or 3 Lines per Octave"
>
  <header class="page-header">
    <h1 class="page-title">
      <span>Lines a Whole Step Apart, 4 or 3 Lines per Octave</span>
    </h1>

    <div class="category-archive-meta">
      <p>
        Several systems have a four-line staff alternating with two adjacent
        ledger lines. They are similar to the five-line staves (above), but they
        are slightly less visually dense (or &#8220;busy&#8221;), and require
        more ledger lines. They are also less likely to be confused with
        traditional notation. One system goes further with only three lines that
        alternate with three ledger lines per octave. Signs such as dynamic
        markings can be written in the space created by the ledger lines, even
        when multiple staves are stacked contiguously.
      </p>
    </div>
  </header>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-all-regular notation-meta-data-note-fill-trad notation-meta-data-note-shapes-one notation-meta-data-extent-larger notation-group-whole-step-4-3-lines whole-step-4-3-lines lines-all-regular note-fill-trad note-shapes-one extent-larger"
  >
    <div class="entry-content">
      <a
        href="/system/a-b-chromatic-notation-by-albert-brennink/"
        title="Permalink to A-B Chromatic Notation by Albert Brennink"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in A-B Chromatic Notation by Albert Brennink"
          title="Chromatic scale from C to C in A-B Chromatic Notation by Albert Brennink"
          src="/wp-content/uploads/2012/07/a-b-chromatic-albert-brennink1.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a
          href="/system/a-b-chromatic-notation-by-albert-brennink/"
          rel="bookmark">A-B Chromatic Notation by Albert Brennink, 1976</a
        >
      </h3>
    </div>
  </article>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-all-regular notation-meta-data-note-fill-trad notation-meta-data-note-shapes-one notation-meta-data-extent-larger notation-group-whole-step-4-3-lines whole-step-4-3-lines lines-all-regular note-fill-trad note-shapes-one extent-larger"
  >
    <div class="entry-content">
      <a
        href="/system/6-6-tetragram-by-richard-parncutt/"
        title="Permalink to 6-6 Tetragram by Richard Parncutt"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in 6-6 Tetragram by Richard Parncutt"
          title="Chromatic scale from C to C in 6-6 Tetragram by Richard Parncutt"
          src="/wp-content/uploads/2012/07/6-6-tetragram-richard-parncutt.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a href="/system/6-6-tetragram-by-richard-parncutt/" rel="bookmark"
          >6-6 Tetragram by Richard Parncutt, 1996</a
        >
      </h3>
    </div>
  </article>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-all-regular notation-meta-data-note-fill-trad notation-meta-data-note-shapes-one notation-meta-data-extent-larger notation-group-whole-step-4-3-lines whole-step-4-3-lines lines-all-regular note-fill-trad note-shapes-one extent-larger"
  >
    <div class="entry-content">
      <a
        href="/system/6-6-trigram-notation-by-richard-parncutt/"
        title="Permalink to 6-6 Trigram Notation by Richard Parncutt"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in 6-6 Trigram Notation by Richard Parncutt"
          title="Chromatic scale from C to C in 6-6 Trigram Notation by Richard Parncutt"
          src="/wp-content/uploads/2012/07/6-6-trigram-richard-parncutt.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a
          href="/system/6-6-trigram-notation-by-richard-parncutt/"
          rel="bookmark">6-6 Trigram Notation by Richard Parncutt, 1990</a
        >
      </h3>
    </div>
  </article>
</MnpLayoutNotationSystemsGroup>
