---
import MnpLayoutWiki from "../../../../layouts/MnpLayoutWiki.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutWiki
  metaTitle={makeMetaTitle("Contributing to the Wiki", "Wiki")}
  metaDescription="All about contributing to the Music Notation Project wiki. How to get started with a contributor account. Documentation on using the WordPress interface."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="wiki_page type-wiki_page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">Contributing to the Wiki</h1>
        </header>

        <div class="entry-content">
          <p>
            This wiki is a companion to the Music Notation Project&#8217;s main
            website and <a
              href="https://groups.google.com/forum/#!forum/musicnotation"
              target="_blank">Forum (Google Group)</a
            >. It is powered by <a href="http://wordpress.org/" target="_blank"
              >WordPress</a
            > — free/open-source software that lets contributors collaboratively
            edit and add informative content to the wiki. (See <a
              href="/blog/2013/04/website-and-wiki-revision-now-powered-by-wordpress/"
              >this blog post</a
            > for more on why we are using WordPress for the wiki.)
          </p>
          <p>
            If you would like to contribute to the wiki by editing or adding
            content to it, <a href="/home/contact.html">contact us</a> so we can
            set up an account for you. Once your account is set up, log in by clicking
            &#8220;Log in&#8221; at the top right corner of any wiki page. This will
            take you to the WordPress editing interface, where you can edit existing
            pages, add a new page, or add images, PDFs, or other files.
          </p>
          <p>Details about editing the wiki:</p>
          <ul>
            <li>
              Save a draft of a new page before publishing it by clicking the
              &#8220;Save Draft&#8221; button.
            </li>
            <li>
              Preview any changes you have made before publishing a page or
              updating it by clicking the &#8220;Preview&#8221; or
              &#8220;Preview Changes&#8221; button on the right.
            </li>
            <li>
              Publish a new page or update an existing page by clicking the
              &#8220;Publish&#8221; or &#8220;Update&#8221; button on the right.
            </li>
            <li>
              For a wiki page to appear in the main navigation sidebar on the
              left side of the wiki it needs to be assigned to one of the
              top-level parent pages (like &#8220;Notation Systems,&#8221;
              &#8220;Sheet Music,&#8221; &#8220;Music Theory,&#8221; etc.). 
              When editing a page you can select its parent page on the right
              under Attributes &gt; Parent.
            </li>
            <li>
              It may seem that the content of the top-level parent pages is
              editable, but their content is never shown on the wiki. These
              pages are set up to simply show a list of their
              &#8220;child&#8221; pages.  (For example: <a
                href="/wiki/miscellaneous/"
                >http://musicnotation.org/wiki/miscellaneous/</a
              > )
            </li>
            <li>
              To create a link select some text that you want to make a link,
              and click the link button in the top row of formatting buttons (it
              looks like a chain), then follow the instructions.
            </li>
            <li>
              To add an image or a file (like a PDF or LilyPond file) to a page
              click the &#8220;Add Media&#8221; button.
            </li>
            <li>
              You can edit a page in &#8220;Visual&#8221; or &#8220;Text&#8221;
              mode using the tabs with those names towards the top and right. 
              Normally you would use the Visual tab.  The Text tab corresponds
              to the underlying HTML code that is used to display the page.
            </li>
          </ul>
          <p>
            If you have questions, ask on our <a
              href="https://groups.google.com/forum/#!forum/musicnotation"
              target="_blank">Forum (Google Group)</a
            >, or <a href="/home/contact.html">contact us</a>.
          </p>
          <h3>WordPress Documentation</h3>
          <p>
            The WordPress site has great documentation on using WordPress.  Here
            are some pages to help with getting started:
          </p>
          <ul>
            <li>
              <a href="https://codex.wordpress.org/Writing_Posts"
                >Writing Posts</a
              >
            </li>
            <li>
              <a
                href="https://codex.wordpress.org/Inserting_Images_into_Posts_and_Pages"
                >Inserting Images into Posts and Pages</a
              >
            </li>
            <li>
              <a
                href="https://codex.wordpress.org/Using_Image_and_File_Attachments"
                >Using Image and File Attachments</a
              >
            </li>
          </ul>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutWiki>
