---
import MnpLayoutWiki from "../../../../layouts/MnpLayoutWiki.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutWiki
  metaTitle={makeMetaTitle("DCMN", "Wiki")}
  metaDescription="A wiki page covering details of the Dozenal Conventional Music Notation system (DCMN)."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="wiki_page type-wiki_page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">DCMN-Details</h1>
        </header>

        <div class="entry-content">
          <p lang="zxx"><b>Dozenal Conventional Music Notation DCMN</b></p>
          <p lang="zxx">Dear reader,</p>
          <p lang="zxx">
            We will present this letter under the category Music Notation on the
            website of www.dozenalsociety.org.uk/ and on the forum of
            www.musicnotation.org with the request to the governing body of that
            organisation to move this <b>new type of dozenal notation</b> see <b
              ><a href="/wp-content/uploads/2016/04/Annex-1-a.pdf">Annex 1</a>
            </b>
          </p>
          <p lang="zxx">
            from the wiki section to the 7-5 Pitch pattern section. There are
            more then 100 other graphic solutions possible for this type of
            notation than the one proposed by me.
          </p>
          <p lang="zxx">
            Several members of the community know that I am advocating for some
            years now as well as others that Western music can be best
            represented by the duodecimal number system and a proposal was made
            to change the nomenclature in such a way that twelve single digits
            are used for each semitone eg as I have done it in Hamburg Music
            Notation. Together with Arpegemusic we developed the software
            Pizzicato Alternative Notation that corresponds to the pictorial
            representation of Numbered Notation (Jianpu) , which is commonly
            used in Asia where almost all beginners learn this method.
          </p>
          <p lang="zxx">
            I myself even could read this notation only at limited speed despite
            intensive efforts.
          </p>
          <p lang="zxx">
            Now I developed in October 2015 the <b
              >Dozenal Conventional Music Notation (DCMN)</b
            > for which I have applied the following other names Hamburg Music Pianotype
            Notation (HMPN) or Hamburg Music Emoji Notation (HMEN) as well but prefer
            the one highlighted in bold. This notation uses single dozenal digits
            as note names and a 7- 5 pitch pattern (Pianotype Notation) that closely
            resembles conventional notation but each tone is placed in such a manner
            on four lines that it has its own picture and therefore could be called
            Emojitype Notation (HMEN).
          </p>
          <p lang="zxx">
            It is easy to learn, write and read, preserves the conventional
            diatonic structure and enriches it by opening it to dozenal
            mathematics. I try to get people interested from the educational and
            scientific field and try to raise funds to have my hypothesis
            tested.
          </p>
          <p lang="zxx">
            It will be presented in detail on my website <a
              href="http://www.hamburgmusicnotation.com/"
              ><b>www.hamburgmusicnotation.com</b>
            </a> with examples. It uses five lines as in conventional music notation
            but places the noteheads in a way that eliminates the need for additional
            clef. The method requires three ledger lines between 5-line systems and
            enables easy depiction of all audible sounds as continuous system.
          </p>
          <p lang="zxx">
            The use of two different forms of note heads within an octave allows
            like the piano, the realization of all scales. The use of
            accidentals is unnecessary.
          </p>
          <p lang="zxx">
            The proposed notation can be represented with almost any currently
            in-use music software. Unfortunately, however, not the correct MIDI
            is played. A few other changes are necessary in order to achieve a
            correct image of music. The input of musicnotation of this type into
            existing software is currently very cumbersome.
          </p>
          <p lang="zxx">
            Therefore Harry Schreiber and myself created a specification open to
            all programmers, who want to implement it, to facilitate this task.
          </p>
          <p lang="zxx">
            <a href="/wp-content/uploads/2016/04/Annex-2-a.pdf"
              ><b>Annex</b><b>2</b>
            </a>
          </p>
          <p lang="zxx">
            <b>Specification to integrate</b><b
              >Dozenal Conventional Music Notation (DCMN)
            </b>into existing software
          </p>
          <p lang="zxx">We place it under the</p>
          <p lang="zxx">
            Creative Commons Attribution-Share Alike 3.0 License 3.0
          </p>
          <p lang="zxx">That is free for any noncommercial use.</p>
          <p lang="zxx">
            Commercial use has to obey copyright laws and requires our express
            permission.
          </p>
          <p lang="zxx">Sincerely</p>
          <p lang="zxx">Christian Pörksen alias Robert Elisabeth Key</p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutWiki>
