---
import MnpLayout from "./MnpLayout.astro";
import WikiSideBar from "../components/WikiSideBar.astro";

import "../styles/twentyeleven-mnp-child-theme.css";
import "../styles/wiki.css";

export interface Props {
  metaTitle: string;
  metaDescription: string;
}

const { metaTitle, metaDescription } = Astro.props;
---

<MnpLayout
  metaTitle={metaTitle}
  metaDescription={metaDescription}
  bodyClasses="wiki_page-template-default single single-wiki_page postid-974 wp-embed-responsive single-author two-column right-sidebar"
>
  <slot />
  <WikiSideBar />
</MnpLayout>
