---
import BlogSideBar from "../components/BlogSideBar.astro";
import MnpLayout from "./MnpLayout.astro";

export interface Props {
  metaTitle: string;
  metaDescription: string;
  bodyClasses?: string;
}

// body classes for blog "home"/"index" page
// bodyClasses="blog wp-embed-responsive single-author two-column right-sidebar"
// Post titles are different sizes on index and on single post pages

const { metaTitle, metaDescription } = Astro.props;
---

<MnpLayout
  metaTitle={metaTitle}
  metaDescription={metaDescription}
  bodyClasses="post-template-default single single-post postid-1826 single-format-standard wp-embed-responsive single-author two-column right-sidebar"
>
  <slot />
  <BlogSideBar />
</MnpLayout>
