---
import MnpLayoutWiki from "../../../../layouts/MnpLayoutWiki.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutWiki
  metaTitle={makeMetaTitle("Other Sheet Music Sources", "Wiki")}
  metaDescription="A wiki page with a list of other sources of sheet music in particular alternative music notation systems."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="wiki_page type-wiki_page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">Other Sheet Music Sources</h1>
        </header>

        <div class="entry-content">
          <p>
            This wiki contains a selection of sheet music in various alternative
            notation systems organized by composer. Below is a list of other
            sources of sheet music for particular alternative music notation
            systems.
          </p>
          <p>
            <strong>Ambrose Piano Tabs</strong><br />
            <a href="http://www.ambrosepianotabs.com/page/library"
              >http://www.ambrosepianotabs.com/page/library</a
            >
          </p>
          <p>
            <strong>Clairnote Music Notation</strong><br />
            <a href="http://clairnote.org/sheet-music-library/"
              >http://clairnote.org/sheet-music-library/</a
            >
          </p>
          <p>
            <strong>Klavar-Foundation in the Netherlands (Klavarscribo)</strong
            ><br />
            <a href="http://www.klavarskribo.nl/">http://www.klavarskribo.nl/</a
            >
          </p>
          <p>
            <strong
              >Klavar Music Foundation of Great Britain (Klavarscribo)</strong
            ><br />
            <a href="http://www.klavarmusic.org/">http://www.klavarmusic.org/</a
            >
          </p>
          <p>
            (The Chroma Institute website previously sold music for Albert
            Brennink&#8217;s <a
              href="/system/a-b-chromatic-notation-by-albert-brennink/"
              >A-B Chromatic Notation</a
            >, but the site is no longer available.)
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutWiki>
